<script type="text/javascript">
	filePath = '{TPL}js/dropdowncalendar/images/';
</script>
<script src="{TPL}js/dropdowncalendar/calendar.js" type="text/javascript"></script>
<script type="text/javascript">
  
	function Start(page) {
		OpenWin = this.open(page, "CtrlWindow", "toolbar=no,menubar=yes,location=yes,scrollbars=yes,resizable=yes");
	}
	
</script>
<div class="container">
	<div class="row">
		<div class="col-md-12 box">
			<table width="100%" cellspacing="0" cellpadding="0" border="0">
			<tr>
			 <td class="whiter" valign="middle" align="left">		
				<form action="{ACTION_CARI}" method="post">
					<!--HEADER-->
					<table width='100%' cellspacing="0">
						<tr class='' height=40>
						<td align='center' valign='middle' class="bannerjudulw">
							<div class="bannerjudul">Laporan Transaksi Deposit Tiketux</div>
						</td></tr>
						<tr class='' height=40>
							<td align='left' valign='middle'>
								<div class="col-md-3">
									Jenis Transaksi:<br /><select class="form-control" id='filterstatus' name='filterstatus'><option value='' {OPT_STATUS}>-semua-</option><option value=0 {OPT_STATUS0}>Kredit</option><option value=1 {OPT_STATUS1}>Debit</option></select>
								</div>
								<div class="col-md-2">
									Tgl:<br /><input class="form-control" readonly="yes"  id="tanggal_mulai" name="tanggal_mulai" type="text" size=10 onfocus="this.select();lcs(this)" onclick="event.cancelBubble=true;this.select();lcs(this)" value="{TGL_AWAL}">
								</div>
								<div class="col-md-2">
									s/d <br /><input class="form-control" readonly="yes"  id="tanggal_akhir" name="tanggal_akhir" type="text" size=10 onfocus="this.select();lcs(this)" onclick="event.cancelBubble=true;this.select();lcs(this)" value="{TGL_AKHIR}">
								</div>
								<div class="col-md-3">
									Cari:<br /><input class="form-control" type="text" id="txt_cari" name="txt_cari" value="{TXT_CARI}" />
								</div>
								<div class="col-md-2">
									<input name="btn_cari" type="submit" value="cari" class="btn mybutton topwidth" style="height: 34px;" />
								</div>
							</td>
						</tr>
						<tr>
							<td colspan=2 align='center' valign='middle'>
								<table>
									<tr>
										<!--<td>
											 &nbsp;
										</td><td bgcolor='D0D0D0'></td>-->
										<td class="pad10" style="padding: 20px;">
											<a  href='#' onClick="{CETAK_XL}"> <img src="{TPL}/images/icon_msexcel.png">&nbsp;Cetak ke MS EXCEL</a>
										</td>
									</tr>
								</table>
							</td>
						</tr>
						<tr>
							<td colspan=2>
								<table width='100%'>
									<tr>
										<td>
										Saldo Depost: <b>Rp. {SALDO_DEPOSIT}</b> &nbsp;&nbsp;&nbsp;
										Transaksi Debit: <b>Rp. {JUM_TRX_DEBIT}</b> &nbsp;&nbsp;&nbsp;
										Transaksi Kredit: <b>Rp. {JUM_TRX_KREDIT}</b> &nbsp;&nbsp;&nbsp;
											
										</td>
										<td class="pad10" align='right' valign='bottom'>
											{PAGING}
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
					<!-- END HEADER-->
					<table class="border table table-bordered table-hover" width='100%' >
						<tr>
							<th><a class="th" >No</th>
							<th><a class="th" >Waktu Trx</th>
							<th><a class="th" >Keterangan</th>
							<th><a class="th" >Jumlah</th>
							<th><a class="th" >Jenis Trx</th>
							<th><a class="th" >Saldo</th>
						</tr>
						<!-- BEGIN ROW -->
						<tr class="{ROW.odd}">
							<td><div align="right">{ROW.no}</div></td>
							<td><div align="center">{ROW.waktu_trx}</div></td>
							<td><div align="left">{ROW.keterangan}</div></td>
							<td><div align="right">{ROW.jumlah}</div></td>
							<td><div align="center">{ROW.jenis_trx}</div></td>
							<td><div align="right">{ROW.saldo}</div></td>
						</tr>  
						<!-- END ROW -->
			    </table>
					<table width='100%'>
						<tr>
							<td class="pad10" align='right' width='100%'>
								{PAGING}
							</td>
						</tr>
						<tr>
							<td class="pad10" align='left' valign='bottom' colspan=3>
							{SUMMARY}
							</td>
						</tr>
					</table>
				</form>
			 </td>
			</tr>
			</table>
		</div>
	</div>
</div>