<script language="JavaScript">

var kode;

function cekValue(nilai){
	cek_value=nilai*0;
	
	if(cek_value==0){
		return true;
	}
	else{
		return false;
	}
}

function validateInput(){
	
	valid=true;
		
	if(kodemaskapai.value==''){
		valid=false;
		kodemaskapai.style.background="red";
	}
	
	if(namamaskapai.value==''){
		valid=false;
		namamaskapai.style.background="red";
	}

	if(valid){
		return true;
	}
	else{
		return false;
	}
}

</script>




<div class="container">
<div class="row">
	<div class="col-md-12 box">
		<div class="bannerjudul judulhalaman"></div>
		<form name="frm_data_mobil" action="{U_ADD}" method="post" onSubmit='return validateInput();'>
			<table width="100%" cellspacing="0" cellpadding="0" border="0" style="">
			<tr>
				<td class="whiter" valign="middle" align="center">
				<table width='800'>
					<tr><td colspan=3 bgcolor='{BGCOLOR_PESAN}' align='center' class="alert">{PESAN}</td></tr>
					<tr>
						<td align='center' valign='top' width='400'>
							<table width='400'>   
								<tr>
									<td colspan="3" class="judulhalaman orange mar10"><h3>{JUDUL}</h3></td>
								</tr>
								<tr>
						      <input type="hidden" name="kodemaskapaiold" value="{KODE_MASKAPAI_OLD}">
									<td class="mytd td-title" width='200'>Kode Maskapai*</td><td></td>
									<td class="mytd">
									<input class="form-control" placeholder="Kode Maskapai" type="text" id="kodemaskapai" name="kodemaskapai" value="{KODE_MASKAPAI}" maxlength=10 onfocus="this.style.background='white';" style="text-transform: uppercase;" /></td>
						    </tr>
								<tr>
						      <td class="mytd td-title">Nama Maskapai*</td><td></td>
									<td class="mytd">
									<input class="form-control" placeholder="Nama Maskapai" type="text" id="namamaskapai" name="namamaskapai" value="{NAMA_MASKAPAI}" maxlength=100 onfocus="this.style.background='white';" style="text-transform: uppercase;"></span></td>
						    </tr>
							</table>
						</td>
					</tr>
					<tr>
						<td colspan=3 align='center' valign='middle' style="padding-bottom: 50px;">
							<input type="hidden" name="mode" value="{MODE}">
						  <input type="hidden" name="submode" value="{SUB}">
							<div class="col-md-4 col-md-offset-4">
								<div class="col-md-6">
									<input type="button" style="margin: 0 auto; width: 100%;" class="mybutton" onClick="window.open('pengaturan_maskapai.php?SID={SID}','_self');" value="KEMBALI" style="width:100px;">
								</div>
								<div class="col-md-6"><input type="submit" style="margin: 0 auto; width: 100%;" class="mybutton" name="submit" value="SIMPAN"></div>
							</div>
						</td>
					</tr> 
				</table>
				</td>
			</tr>
			</table>
			</form>
	</div>
</div>
</div>