<table width="95%" class="border" cellspacing="1" cellpadding="4" border="0">
<tr>
 <th align='left'>Welcome {USERNAME},</th>
</tr>
<tr>
 <td align='left' class="indexer">{BCRUMP}</td>
</tr>
<tr>
 <td class="whiter" valign="middle" align="center">
    <form action="{U_MEMBER_LAPOR}" method="post">
    <table width='80%'>
    <tr>
    <td align='center' colspan='2'>
       <h1>Laporan Member</h1>
       <p>Masukkan Hari Yang Akan Dilaporkan Dalam Format DD.MM.YYYY</p>       
    </td>
    </tr>
     <tr>
      <td>
        Nama Member:
      </td>
      <td>
      <select name="user">{O_MEMBER}</select>
      </td>
    </tr>
    <tr>
      <td>
        start:
      </td>
      <td>
         <input type="text" name="start" value="{CURRENT_DATE}">
      </td>
    </tr>
    <tr>
      <td>
        akhir:
      </td>
      <td>
         <input type="text" name="akhir" value="{CURRENT_DATE}">
      </td>
    </tr>
    <tr>
      <td>
      </td>
      <td>
         <input type="submit" name="Lapor" value="Buat Laporan">
      </td>
    </tr>    
    </table>
    </form>
 </td>
</tr>
</table>