
<table width='100%' height='100%' bgcolor='24275a'>
	<tr>
		<td align='center' valign='middle'>
			<table border=0 width=650 cellspacing=0 cellpadding=0>
				<tr height=50><td colspan=2 align='center'>&nbsp;&nbsp;<img src="{TPL}images/loto_cta_comp_small.png" /></td></tr>
				<tr>
				<td align='center'><img class='border' src="{TPL}images/login/{IMAGE_BACKGROUND}" /></td>
				<td>&nbsp;</td>
				<td align='center' valign='middle' >
					<form name="main" action="{U_LOGIN}" method="POST">
						<table>
						<tr><td colspan=2><font color='ffffff' size=6>Login</font></td></tr>
						<tr>
							<td><font color='ffffff'>Username</font></td>
							<td>
								<input type="text" size="20" id="username" name="username" value="" />
							</td>
						</tr>
						<tr>
							<td><font color='ffffff'>Password</font></td>
							<td>
								<input type="password" size="20" id="password" name="password" value="" />
							</td>
						</tr>
						<tr>
							<td colspan='2' align="right">
								<input id="submit" name="submit" value ="Log In" type="submit" />&nbsp;&nbsp;
							</td>
						</tr>
						</table>
					</form>
			</td>
			</tr>
			</table>
		</td>
	</tr>
</table>
