<script type="text/javascript" src="{ROOT}/ajax/dojo.js"></script>

<script language="JavaScript">

function init(e) {
	document.forms.frm_input_kartu.id_kartu.focus();
}

dojo.addOnLoad(init);

</script>

<table  width= "700" border="0" cellpadding="0" cellspacing="0">
  <tr>
		<td>
			<h2>Register Kartu Member</h2>
	</tr>
	<tr>
		<td>{BODY}</td>
	</tr>
</table>
