<div class="container menuwrapper">
	<div class="row">
	<!-- BEGIN menu_lap_keuangan_cso -->
	<div class="col-md-2">
	<div class="menuicon">
		<a href="{U_LAPORAN_UANG_CSO}">
			<svg class="svg" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 700 700" style="enable-background:new 0 0 700 700;" xml:space="preserve">
				<g id="Setoran_CSO"  >
					<path style="display:inline;" d="M341.256,70.663c5.952,0,10.781,4.829,10.781,10.782c0,5.952-4.829,10.781-10.781,10.781H28.565
						v388.292H675.42V92.225H384.312c-5.951,0-10.781-4.829-10.781-10.781c0-5.952,4.829-10.782,10.781-10.782h301.619h0.269
						c5.952,0,10.782,4.829,10.782,10.782v409.586v0.267c0,5.952-4.829,10.782-10.782,10.782H18.075h-0.292
						c-5.952-0.001-10.781-4.83-10.781-10.782V81.735v-0.292c0-5.952,4.829-10.782,10.781-10.782L341.256,70.663L341.256,70.663z"/>
					<path style="display:inline;" d="M330.453,16.735c0-5.929,4.829-10.736,10.736-10.736c5.929,0,10.736,4.806,10.736,10.736
						l0.023,64.687c0,5.929-4.806,10.736-10.736,10.736s-10.736-4.806-10.736-10.736L330.453,16.735z"/>
					<path style="display:inline;" d="M330.497,534.243c0-5.932,4.806-10.737,10.736-10.737s10.736,4.807,10.736,10.737l-0.045,107.877
						c0,5.906-4.806,10.734-10.736,10.734s-10.736-4.806-10.736-10.734L330.497,534.243z"/>
					<path style="display:inline;" d="M179.902,531.301c1.618-5.727,7.569-9.029,13.296-7.412c5.705,1.618,9.029,7.569,7.412,13.296
						l-43.034,150.977c-1.617,5.728-7.569,9.031-13.296,7.412c-5.705-1.617-9.029-7.569-7.412-13.296L179.902,531.301z"/>
					<path style="display:inline;" d="M481.813,537.185c-1.618-5.727,1.684-11.678,7.412-13.296c5.727-1.619,11.678,1.684,13.296,7.412
						l43.102,150.977c1.618,5.706-1.683,11.679-7.411,13.296c-5.707,1.619-11.679-1.684-13.297-7.412L481.813,537.185z"/>
					<path style="display:inline;" d="M17.783,545.228c-5.952,0-10.781-4.828-10.781-10.781c0-5.953,4.829-10.781,10.781-10.781h668.418
						c5.952,0,10.782,4.828,10.782,10.781c0,5.928-4.829,10.781-10.782,10.781H17.783z"/>
					<path style="display:inline;" d="M432.877,229.514L298.492,368.207l-77.849-97.276c-0.516-0.741-1.123-1.436-1.841-2.043
						c-4.514-3.863-11.297-3.346-15.161,1.168l-89.616,104.149l-53.119-0.09c-5.929,0-10.736,4.805-10.736,10.736
						c0,5.926,4.806,10.734,10.736,10.734l58.061,0.093c3.256,0,6.176-1.44,8.175-3.776l0.023,0.024l84.383-98.085l78.185,97.702
						c3.683,4.625,10.444,5.369,15.071,1.684c0.471-0.402,0.92-0.81,1.325-1.257l0.023,0.023L432.877,261.92V229.514z"/>
					<g style="display:inline;">
						<path d="M532.073,331.747v10.932h19.55v-10.932c-3.224,0.616-6.483,0.96-9.77,0.96
							C538.566,332.708,535.298,332.363,532.073,331.747z"/>
						<path d="M633.467,316.1l-40.142-11.971c-2.588,3.24-5.304,6.2-8.094,8.922l10.449,3.119
							c-6.98,27.783-25.905,103.669-31.23,130.773c-4.276,1.035-8.625,1.862-13.091,2.301l11.299-26.679l-10.862-72.646h-19.689
							l-10.863,72.646l11.297,26.679c-4.551-0.445-8.964-1.299-13.302-2.359c-5.336-27.126-24.219-102.848-31.21-130.658l10.501-3.134
							c-2.801-2.721-5.504-5.676-8.104-8.922l-39.993,11.929c-8.974,2.673-15.117,10.916-15.117,20.272v17.578
							c0,58.892,47.737,106.634,106.635,106.634c58.897,0,106.634-47.742,106.634-106.634v-17.578
							C648.584,327.017,642.442,318.774,633.467,316.1z"/>
						<path d="M610.77,217.603c1.972-12.424,1.093-25.759-0.631-36.18c-3.681-22.271-12.518-37.945-12.518-37.945l-4.127,17.308
							l-0.403,1.703c-0.032-0.695-0.138-1.464-0.212-2.212c-0.986-9.441-5.22-22.229-5.22-22.229
							c-9.504,4.524-25.099,4.073-25.099,4.073c4.317-3.172,15.594-6.333,15.594-6.333c-28.09-8.853-46.05,0.408-54.791,7.378
							c-1.889,1.512-3.352,2.896-4.392,3.983l3.204-3.697l6.652-7.665c-13.41,1.315-23.18,10.375-29.121,17.774
							c-4.286,5.336-6.64,9.834-6.64,9.834l1.146-5.893l2.471-12.666c-9.218,7.372-14.777,18.092-18.183,29.024
							c-5.132,16.504-5.667,36.592-5.49,43.712c-5.343,2.209-9.365,7.195-11.122,13.827c-1.665,6.329-1.23,13.706,1.23,20.766
							c3.883,11.149,12.146,19.344,21.143,21.179c11.17,23.964,31.719,48.5,57.591,48.5c25.853,0,46.401-24.499,57.572-48.447
							c8.857-1.734,17.259-9.978,21.184-21.232C625.87,237.002,621.544,222.081,610.77,217.603z M610.352,248.595
							c-3.235,9.272-9.812,14.273-14.48,14.273c-2.6,0.318-4.212,1.253-5.081,3.262c-9.453,21.683-27.274,44.852-48.937,44.852
							c-21.661,0-39.483-23.168-48.936-44.852c-0.859-1.983-3.043-3.262-5.208-3.262c-4.54,0-11.107-5.001-14.332-14.273
							c-1.73-4.975-2.091-10.232-0.986-14.422c0.541-2.021,1.899-5.574,5.06-6.672c0.34-0.117,1.008-0.185,1.336-0.217
							c2.684-0.26,4.775-2.451,4.902-5.145c0.117-2.509,0.417-4.931,1.019-7.304c8.096-31.954,35.941-34.238,35.941-34.238
							c-5.008,11.77-13.101,16.745-13.101,16.745c26.7-10.863,35.017-22.633,35.017-22.633c17.769,24.669,42.253,35.373,56.393,39.759
							c0.413,2.536,0.934,5.034,1.061,7.67c0.128,2.694,2.217,4.885,4.902,5.145c0.327,0.032,0.996,0.1,1.346,0.217
							C611.073,229.176,613.938,238.257,610.352,248.595z"/>
					</g>
				</g>
			</svg>
			Setoran CSO
		</a>
	</div>
	<div style="height: {menu_lap_keuangan_cso.br};"></div>
	</div>
	<!-- END menu_lap_keuangan_cso -->
	
	<!-- BEGIN menu_lap_keuangan_cabang -->
	<div class="col-md-2">
	<div class="menuicon">
		<a href="{U_LAPORAN_UANG_CABANG}">
			<img src="{TPL}/images/icon_laporan_cabang.png">
			Cabang
		</a>
	</div>
	<div style="height: {menu_lap_keuangan_cabang.br};"></div>
	</div>
	<!-- END menu_lap_keuangan_cabang -->
	
	<!-- BEGIN menu_lap_harian -->
	<div class="col-md-2">
	<div class="menuicon">
		<a href="{U_REKAP_UANG_HARIAN}">
			<svg class="svg" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 700 700" style="enable-background:new 0 0 700 700;" xml:space="preserve">
				<g id="Harian"  >
					<g style="display:inline;">
						<path d="M581.881,297.218c-0.007-0.056-0.011-0.114-0.019-0.169c-0.04-0.278-0.093-0.555-0.168-0.829
							c-0.001-0.003-0.002-0.005-0.003-0.009c-0.07-0.256-0.16-0.508-0.261-0.758c-0.029-0.072-0.061-0.14-0.091-0.211
							c-0.08-0.18-0.169-0.358-0.265-0.533c-0.042-0.076-0.083-0.153-0.128-0.228c-0.024-0.041-0.043-0.083-0.069-0.123
							c-0.102-0.162-0.213-0.314-0.326-0.464c-0.021-0.028-0.039-0.058-0.06-0.085c-0.172-0.223-0.358-0.43-0.552-0.626
							c-0.036-0.037-0.076-0.072-0.114-0.107c-0.169-0.163-0.345-0.316-0.528-0.46c-0.047-0.036-0.092-0.073-0.14-0.108
							c-0.245-0.182-0.497-0.351-0.761-0.497l-101.358-57.614l58.359-36.748l97.837,55.612l-41.205,25.946
							c-3.216,2.024-4.181,6.272-2.156,9.487c2.024,3.216,6.272,4.181,9.487,2.156l50.929-32.069c2.047-1.289,3.267-3.558,3.212-5.977
							c-0.054-2.419-1.375-4.63-3.479-5.826L538.615,183.65c-2.204-1.254-4.919-1.192-7.066,0.159l-71.521,45.037
							c-0.014,0.009-0.03,0.019-0.044,0.028l-35.739,22.505c-0.017,0.01-0.033,0.021-0.049,0.031l-71.57,45.068
							c-2.047,1.289-3.267,3.558-3.212,5.977c0.054,2.419,1.375,4.63,3.478,5.826l111.409,63.327c1.055,0.601,2.228,0.899,3.399,0.899
							c1.275,0,2.548-0.354,3.666-1.058l50.929-32.07c3.216-2.024,4.181-6.272,2.156-9.487c-2.023-3.216-6.272-4.182-9.487-2.156
							l-47.445,29.875l-97.837-55.613l58.36-36.749L532.39,324.56v78.556c0,2.506,1.362,4.813,3.555,6.023
							c1.037,0.572,2.182,0.857,3.325,0.857c1.276,0,2.548-0.354,3.666-1.058l35.785-22.534c2.001-1.26,3.214-3.458,3.214-5.822v-82.559
							c0-0.041-0.007-0.079-0.008-0.12C581.923,297.675,581.908,297.447,581.881,297.218z M546.15,390.655v-70.097
							c0-2.475-1.329-4.758-3.481-5.981L441.252,256.93l22.575-14.216l97.837,55.612l-8.566,5.394c-3.216,2.024-4.181,6.272-2.156,9.487
							c1.307,2.078,3.542,3.215,5.829,3.215c1.252,0,2.521-0.342,3.659-1.059l7.746-4.877v66.299L546.15,390.655z"/>
						<path d="M642.959,274.655l-50.929,32.069c-3.216,2.024-4.181,6.272-2.156,9.487c1.307,2.078,3.542,3.215,5.829,3.215
							c1.252,0,2.521-0.342,3.659-1.059l50.929-32.069c3.216-2.024,4.181-6.272,2.156-9.487
							C650.422,273.596,646.174,272.63,642.959,274.655z"/>
						<path d="M514.964,355.253l-47.445,29.875l-107.828-61.291c-3.301-1.877-7.503-0.724-9.381,2.581
							c-1.878,3.303-0.722,7.503,2.581,9.381l111.409,63.327c1.055,0.601,2.228,0.899,3.399,0.899c1.275,0,2.548-0.354,3.666-1.058
							l50.929-32.07c3.216-2.024,4.181-6.272,2.156-9.487C522.428,354.193,518.179,353.227,514.964,355.253z"/>
						<path d="M642.959,302.175l-50.929,32.069c-3.216,2.024-4.181,6.272-2.156,9.487c1.307,2.078,3.542,3.215,5.829,3.215
							c1.252,0,2.521-0.342,3.659-1.059l50.929-32.069c3.216-2.024,4.181-6.272,2.156-9.487
							C650.422,301.115,646.174,300.149,642.959,302.175z"/>
						<path d="M514.964,382.772l-47.445,29.875l-107.828-61.291c-3.301-1.877-7.503-0.724-9.381,2.581
							c-1.878,3.303-0.722,7.503,2.581,9.381l111.409,63.327c1.055,0.601,2.228,0.899,3.399,0.899c1.275,0,2.548-0.354,3.666-1.058
							l50.929-32.07c3.216-2.024,4.181-6.272,2.156-9.487C522.428,381.712,518.179,380.747,514.964,382.772z"/>
						<path d="M642.959,329.695l-50.929,32.069c-3.216,2.024-4.181,6.272-2.156,9.487c1.307,2.078,3.542,3.215,5.829,3.215
							c1.252,0,2.521-0.342,3.659-1.059l50.929-32.069c3.216-2.024,4.181-6.272,2.156-9.487
							C650.422,328.635,646.174,327.67,642.959,329.695z"/>
						<path d="M514.964,410.292l-47.445,29.875l-107.828-61.291c-3.301-1.877-7.503-0.724-9.381,2.581
							c-1.878,3.303-0.722,7.503,2.581,9.381l111.409,63.327c1.055,0.601,2.228,0.899,3.399,0.899c1.275,0,2.548-0.354,3.666-1.058
							l50.929-32.07c3.216-2.024,4.181-6.272,2.156-9.487C522.428,409.233,518.179,408.267,514.964,410.292z"/>
					</g>
					<path style="display:inline;" d="M341.256,70.663c5.952,0,10.781,4.829,10.781,10.782c0,5.952-4.829,10.781-10.781,10.781H28.565
						v388.292H675.42V92.225H384.312c-5.951,0-10.781-4.829-10.781-10.781c0-5.952,4.829-10.782,10.781-10.782h301.619h0.269
						c5.952,0,10.782,4.829,10.782,10.782v409.586v0.267c0,5.952-4.829,10.782-10.782,10.782H18.075h-0.292
						c-5.952-0.001-10.781-4.83-10.781-10.782V81.735v-0.292c0-5.952,4.829-10.782,10.781-10.782L341.256,70.663L341.256,70.663z"/>
					<path style="display:inline;" d="M330.453,16.735c0-5.929,4.829-10.736,10.736-10.736c5.929,0,10.736,4.806,10.736,10.736
						l0.023,64.687c0,5.929-4.806,10.736-10.736,10.736s-10.736-4.806-10.736-10.736L330.453,16.735z"/>
					<path style="display:inline;" d="M330.497,534.243c0-5.932,4.806-10.737,10.736-10.737s10.736,4.807,10.736,10.737l-0.045,107.877
						c0,5.906-4.806,10.734-10.736,10.734s-10.736-4.806-10.736-10.734L330.497,534.243z"/>
					<path style="display:inline;" d="M179.902,531.301c1.618-5.727,7.569-9.029,13.296-7.412c5.705,1.618,9.029,7.569,7.412,13.296
						l-43.034,150.977c-1.617,5.728-7.569,9.031-13.296,7.412c-5.705-1.617-9.029-7.569-7.412-13.296L179.902,531.301z"/>
					<path style="display:inline;" d="M481.813,537.185c-1.618-5.727,1.684-11.678,7.412-13.296c5.727-1.619,11.678,1.684,13.296,7.412
						l43.102,150.977c1.618,5.706-1.683,11.679-7.411,13.296c-5.707,1.619-11.679-1.684-13.297-7.412L481.813,537.185z"/>
					<path style="display:inline;" d="M17.783,545.228c-5.952,0-10.781-4.828-10.781-10.781c0-5.953,4.829-10.781,10.781-10.781h668.418
						c5.952,0,10.782,4.828,10.782,10.781c0,5.928-4.829,10.781-10.782,10.781H17.783z"/>
					<path style="display:inline;" d="M332.877,329.514l-34.385,38.693l-77.849-97.276c-0.516-0.741-1.123-1.436-1.841-2.043
						c-4.514-3.863-11.297-3.346-15.161,1.168l-89.616,104.149l-53.119-0.09c-5.929,0-10.736,4.805-10.736,10.736
						c0,5.926,4.806,10.734,10.736,10.734l58.061,0.093c3.256,0,6.176-1.44,8.175-3.776l0.023,0.024l84.383-98.085l78.185,97.702
						c3.683,4.625,10.444,5.369,15.071,1.684c0.471-0.402,0.92-0.81,1.325-1.257l0.023,0.023l26.726-30.072V329.514z"/>
				</g>
			</svg>
			Harian
		</a>
	</div>
	<div style="height: {menu_lap_harian.br};"></div>
	</div>
	<!-- END menu_lap_harian -->
	
	<!-- BEGIN menu_lap_fee_rekon -->
	<div class="col-md-2">
	<div class="menuicon">
		<a href="{U_LAPORAN_FEE}">
			<svg class="svg" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 700 700" style="enable-background:new 0 0 700 700;" xml:space="preserve">
				<g id="Laporan_Rekon_Fee"  >
					<g style="display:inline;">
						<g id="Layer_5_58_">
							<g>
								<g>
									<path d="M523.708,215.235c-20.917-8.385-26.961-13.456-26.961-22.612c0-7.328,5.55-15.888,21.198-15.888
										c13.84,0,24.455,5.457,24.55,5.505c1.117,0.596,2.37,0.913,3.61,0.913c3.029,0,5.708-1.833,6.819-4.67l3.802-9.719
										c1.324-3.541-0.685-6.627-3.245-7.734c-8.521-3.709-25.175-6.58-25.345-6.609c-0.268-0.047-1.202-0.247-1.202-1.338
										l-0.053-14.099c0-4.246-3.545-7.702-7.898-7.702h-6.821c-4.348,0-7.892,3.455-7.892,7.704l0.018,14.823
										c0,1.136-1.231,1.63-1.681,1.734c-21.022,5.007-34.16,20.406-34.16,39.83c0,24.214,20.016,35.156,41.628,43.37
										c17.277,6.783,24.325,13.661,24.325,23.749c0,10.978-9.981,18.645-24.281,18.645c-12.211,0-28.736-7.74-28.9-7.819
										c-1.057-0.501-2.178-0.754-3.33-0.754c-3.145,0-5.883,1.902-6.978,4.848l-3.63,9.829c-1.29,3.67,0.696,6.649,3.24,7.975
										c10.149,5.286,29.788,8.383,30.662,8.519c0.235,0.034,1.43,0.454,1.43,1.547v14.758c0,4.246,3.545,7.702,7.9,7.702h7.047
										c4.356,0,7.902-3.455,7.902-7.702v-15.531c0-1.452,1.071-1.58,1.292-1.634c22.395-5.031,36.19-21.417,36.19-41.991
										C562.936,239.751,551.201,226.096,523.708,215.235z"/>
									<path d="M514.902,44.409c-102.231,0-185.1,82.874-185.1,185.1c0,102.227,82.868,185.104,185.1,185.104
										C617.13,414.613,700,331.736,700,229.509C700,127.284,617.13,44.409,514.902,44.409z M514.902,371.714
										c-78.54,0-142.203-63.67-142.203-142.203S436.363,87.31,514.902,87.31c78.536,0,142.197,63.668,142.197,142.201
										S593.438,371.714,514.902,371.714z"/>
								</g>
								<g>
									<path d="M662.389,504.31c-39.361,21.724-93.497,41.811-147.485,50.279c-48.034,7.533-138.4-10.634-138.4-32.09
										c0-8.131,79.254,20.034,127.195,7.243c36.762-9.808,31.544-44.196,11.548-48.732c-19.88-4.512-136.348-47.18-186.096-48.651
										c-23.435-0.693-81.292,8.15-109.288,12.71c-9.591,1.561-15.604,1.389-16.204,10.567c-2.786,42.655-8.277,129.884-11.27,175.448
										c-0.063,0.963,1.275,13.909,11.958,4.798c11.694-9.971,28.095-21.024,43.265-17.583c23.8,5.4,229.7,43.121,258.101,36.52
										c40.629-9.445,155.643-77.605,177.695-98.79C717.589,523.183,691.019,488.508,662.389,504.31z"/>
									<path d="M146.84,443.404l-107.866-5.315c-8.328-0.41-16.833,5.866-18.903,13.941L0.458,630.1
										c-2.068,8.077,3.058,14.951,11.39,15.273l119.542-0.012c8.334,0.322,15.669-6.217,16.309-14.531l13.128-171.565
										C161.462,450.953,155.168,443.814,146.84,443.404z M83.338,621.77c-16.472,0-29.823-13.353-29.823-29.823
										c0-16.472,13.353-29.823,29.823-29.823s29.823,13.353,29.823,29.823C113.161,608.419,99.81,621.77,83.338,621.77z"/>
								</g>
							</g>
						</g>
					</g>
				</g>
			</svg>
			Laporan<br>Rekon Fee
		</a>
	</div>
	<div style="height: {menu_lap_fee_rekon.br};"></div>
	</div>
	<!-- END menu_lap_fee_rekon -->
	
	<!-- BEGIN menu_lap_pembayaran_sopir -->
	<div class="col-md-2">
	<div class="menuicon">
		<a href="{U_LAPORAN_PEMB_SOPIR}">
			<svg class="svg" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 700 700" style="enable-background:new 0 0 700 700;" xml:space="preserve">
				<g id="Biaya_Sopir"  >
					<path style="display:inline;" d="M338.751,484.399c-64.992,54.675-140.795,100.211-225.302,135.344
						c-1.891,0.786-3.853,1.159-5.781,1.159c-5.91,0-11.519-3.496-13.928-9.293c-3.196-7.689,0.446-16.513,8.133-19.711
						c2.082-0.866,4.168-1.742,6.242-2.622c0.162-0.618,0.367-1.235,0.613-1.843l56.345-138.872
						c17.342-42.732,35.632-72.972,57.558-95.17c28.948-29.307,64.741-44.166,106.381-44.166H379.7c8.328,0,15.077,6.75,15.077,15.077
						s-6.75,15.077-15.077,15.077h-50.686c-61.044,0-101.719,36.043-136.001,120.52l-45.184,111.363
						c142.753-69.006,256.981-171.506,317.526-286.256c3.883-7.366,13.003-10.187,20.371-6.299c7.364,3.885,10.184,13.007,6.299,20.371
						c-4.999,9.477-10.318,18.853-15.95,28.129c23.824,13.251,44.251,33.709,62.168,62.19c4.433,7.049,2.315,16.357-4.734,20.791
						c-7.048,4.433-16.357,2.315-20.79-4.734c-15.576-24.76-32.989-42.122-53.041-52.835
						C427.523,399.633,387.033,443.781,338.751,484.399z M273.944,165.211c0-50.972,41.469-92.441,92.438-92.441
						s92.436,41.469,92.436,92.441c0,50.971-41.467,92.439-92.436,92.439C315.413,257.649,273.944,216.182,273.944,165.211z
						 M304.099,165.211c0,34.344,27.941,62.285,62.285,62.285c34.342,0,62.282-27.941,62.282-62.285s-27.94-62.287-62.282-62.287
						C332.038,102.924,304.099,130.865,304.099,165.211z M337.002,594.75c-1.308-8.222-9.021-13.827-17.26-12.519
						c-8.224,1.31-13.829,9.038-12.519,17.262c5.672,35.626,21.617,68.676,46.109,95.579c2.975,3.268,7.056,4.927,11.154,4.927
						c3.622,0,7.255-1.298,10.145-3.928c6.158-5.605,6.604-15.142,1-21.299C355.108,652.227,341.748,624.556,337.002,594.75z
						 M674.791,541.32c-5.825-35.522-21.704-68.544-45.923-95.492c-5.568-6.192-15.101-6.701-21.292-1.136
						c-6.193,5.565-6.703,15.099-1.136,21.292c20.357,22.653,33.704,50.391,38.592,80.214c1.213,7.391,7.607,12.64,14.861,12.64
						c0.809,0,1.632-0.065,2.458-0.201C670.568,557.29,676.138,549.537,674.791,541.32z M602.666,511.774
						c32.18,61.371,8.435,137.48-52.932,169.661c-18.575,9.74-38.505,14.358-58.154,14.358c-45.268,0-89.064-24.495-111.509-67.287
						c-32.18-61.367-8.436-137.477,52.927-169.661c0.002,0,0.002,0,0.002,0C494.368,426.663,570.479,450.405,602.666,511.774z
						 M443.649,578.14c-1.246-7.396-0.744-15.034,1.553-22.401c3.848-12.331,12.266-22.426,23.705-28.427c0.002,0,0.002,0,0.002,0
						c18.952-9.939,41.563-6.012,56.154,8.132l42.841-22.468c-27.568-36.951-78.801-49.503-120.897-27.427
						c-42.099,22.08-60.902,71.358-46.178,115.047L443.649,578.14z M507.494,561.687c-4.664-8.891-15.687-12.33-24.579-7.671
						c-4.307,2.26-7.478,6.059-8.926,10.703c-1.447,4.642-1.002,9.569,1.256,13.876c4.664,8.89,15.69,12.328,24.586,7.668
						C508.715,581.601,512.154,570.574,507.494,561.687z M581.91,539.68l-42.841,22.468c3.344,20.044-6.28,40.876-25.234,50.818
						c-18.957,9.939-41.569,6.014-56.159-8.132l-42.842,22.467c27.568,36.956,78.798,49.507,120.898,27.43
						C577.832,632.652,596.637,583.372,581.91,539.68z"/>
					<g style="display:inline;">
						<path d="M112.56,101.066c-12.131-4.863-15.635-7.803-15.635-13.113c0-4.249,3.219-9.214,12.293-9.214
							c8.026,0,14.182,3.165,14.237,3.192c0.648,0.346,1.374,0.53,2.094,0.53c1.756,0,3.31-1.063,3.954-2.708l2.205-5.636
							c0.768-2.054-0.397-3.843-1.882-4.485c-4.942-2.151-14.6-3.816-14.698-3.833c-0.156-0.027-0.697-0.143-0.697-0.776l-0.031-8.176
							c0-2.462-2.056-4.467-4.58-4.467h-3.955c-2.522,0-4.577,2.003-4.577,4.468l0.01,8.596c0,0.659-0.714,0.945-0.975,1.006
							c-12.191,2.904-19.81,11.834-19.81,23.099c0,14.042,11.608,20.388,24.141,25.151c10.02,3.934,14.107,7.922,14.107,13.772
							c0,6.366-5.788,10.812-14.081,10.812c-7.081,0-16.665-4.489-16.76-4.534c-0.613-0.291-1.263-0.437-1.931-0.437
							c-1.824,0-3.412,1.103-4.047,2.811l-2.105,5.7c-0.748,2.128,0.404,3.856,1.879,4.625c5.886,3.065,17.275,4.862,17.782,4.941
							c0.136,0.019,0.83,0.263,0.83,0.897v8.558c0,2.462,2.056,4.467,4.581,4.467h4.087c2.526,0,4.582-2.003,4.582-4.467v-9.007
							c0-0.842,0.621-0.916,0.749-0.947c12.988-2.918,20.988-12.42,20.988-24.351C135.31,115.283,128.504,107.365,112.56,101.066z"/>
						<path d="M107.454,2C48.167,2,0.11,50.061,0.11,109.344c0,59.284,48.058,107.346,107.344,107.346
							c59.284,0,107.343-48.062,107.343-107.346C214.796,50.061,166.738,2,107.454,2z M107.454,191.812
							c-45.547,0-82.467-36.924-82.467-82.467s36.92-82.466,82.467-82.466c45.545,0,82.464,36.922,82.464,82.466
							S152.999,191.812,107.454,191.812z"/>
					</g>
				</g>
			</svg>
			Biaya Insentif Sopir<br>
		</a>
	</div>
	<div style="height: {menu_lap_pembayaran_sopir.br};"></div>
	</div>
	<!-- END menu_lap_pembayaran_sopir -->
	
	<!-- BEGIN menu_lap_voucher_bbm -->
	<div class="col-md-2">
	<div class="menuicon">
		<a href="{U_LAPORAN_VOUCHER_BBM}">
			<svg class="svg" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 700 700" style="enable-background:new 0 0 700 700;" xml:space="preserve">
				<g id="Laporan_Voucher"  >
					<path style="display:inline;" d="M341.256,70.663c5.952,0,10.781,4.829,10.781,10.782c0,5.952-4.829,10.781-10.781,10.781H28.565
						v388.292H675.42V92.225H384.312c-5.951,0-10.781-4.829-10.781-10.781c0-5.952,4.829-10.782,10.781-10.782h301.619h0.269
						c5.952,0,10.782,4.829,10.782,10.782v409.586v0.267c0,5.952-4.829,10.782-10.782,10.782H18.075h-0.292
						c-5.952-0.001-10.781-4.83-10.781-10.782V81.735v-0.292c0-5.952,4.829-10.782,10.781-10.782L341.256,70.663L341.256,70.663z"/>
					<path style="display:inline;" d="M330.453,16.735c0-5.929,4.829-10.736,10.736-10.736c5.929,0,10.736,4.806,10.736,10.736
						l0.023,64.687c0,5.929-4.806,10.736-10.736,10.736s-10.736-4.806-10.736-10.736L330.453,16.735z"/>
					<path style="display:inline;" d="M330.497,534.243c0-5.932,4.806-10.737,10.736-10.737s10.736,4.807,10.736,10.737l-0.045,107.877
						c0,5.906-4.806,10.734-10.736,10.734s-10.736-4.806-10.736-10.734L330.497,534.243z"/>
					<path style="display:inline;" d="M179.902,531.301c1.618-5.727,7.569-9.029,13.296-7.412c5.705,1.618,9.029,7.569,7.412,13.296
						l-43.034,150.977c-1.617,5.728-7.569,9.031-13.296,7.412c-5.705-1.617-9.029-7.569-7.412-13.296L179.902,531.301z"/>
					<path style="display:inline;" d="M481.813,537.185c-1.618-5.727,1.684-11.678,7.412-13.296c5.727-1.619,11.678,1.684,13.296,7.412
						l43.102,150.977c1.618,5.706-1.683,11.679-7.411,13.296c-5.707,1.619-11.679-1.684-13.297-7.412L481.813,537.185z"/>
					<path style="display:inline;" d="M17.783,545.228c-5.952,0-10.781-4.828-10.781-10.781c0-5.953,4.829-10.781,10.781-10.781h668.418
						c5.952,0,10.782,4.828,10.782,10.781c0,5.928-4.829,10.781-10.782,10.781H17.783z"/>
					<path style="display:inline;" d="M332.877,329.514l-34.385,38.693l-77.849-97.276c-0.516-0.741-1.123-1.436-1.841-2.043
						c-4.514-3.863-11.297-3.346-15.161,1.168l-89.616,104.149l-53.119-0.09c-5.929,0-10.736,4.805-10.736,10.736
						c0,5.926,4.806,10.734,10.736,10.734l58.061,0.093c3.256,0,6.176-1.44,8.175-3.776l0.023,0.024l84.383-98.085l78.185,97.702
						c3.683,4.625,10.444,5.369,15.071,1.684c0.471-0.402,0.92-0.81,1.325-1.257l0.023,0.023l26.726-30.072V329.514z"/>
					<g style="display:inline;">
						<path d="M589.833,270.325c0.91-0.965,1.654-2.841,1.654-4.168v-2.511c0-1.328-1.084-2.412-2.412-2.412H354.404
							c-1.327,0-2.412,1.085-2.412,2.412v2.511c0,1.327,0.743,3.203,1.653,4.168c0,0,7.088,7.529,7.088,14.882
							c0,7.352-7.088,14.881-7.088,14.881c-0.91,0.966-1.653,2.843-1.653,4.169v3.057c0,1.328,0.743,3.202,1.653,4.169
							c0,0,7.088,7.529,7.088,14.881c0,7.353-7.088,14.882-7.088,14.882c-0.91,0.966-1.653,2.842-1.653,4.169v3.058
							c0,1.326,0.743,3.202,1.653,4.169c0,0,7.088,7.529,7.088,14.882c0,7.352-7.088,14.881-7.088,14.881
							c-0.91,0.966-1.653,2.842-1.653,4.169v1.305c0,1.327,1.085,2.413,2.412,2.413h234.671c1.328,0,2.412-1.086,2.412-2.413v-1.305
							c0-1.328-0.744-3.203-1.654-4.169c0,0-7.088-7.529-7.088-14.881c0-7.353,7.088-14.882,7.088-14.882
							c0.91-0.966,1.654-2.843,1.654-4.169v-3.058c0-1.327-0.744-3.202-1.654-4.169c0,0-7.088-7.529-7.088-14.882
							c0-7.352,7.088-14.881,7.088-14.881c0.91-0.966,1.654-2.842,1.654-4.169v-3.057c0-1.327-0.744-3.202-1.654-4.169
							c0,0-7.088-7.528-7.088-14.881C582.746,277.854,589.833,270.325,589.833,270.325z M567.961,374.608
							c0,1.327-1.085,2.412-2.412,2.412H377.93c-1.328,0-2.413-1.085-2.413-2.412v-97.695c0-1.327,1.086-2.412,2.413-2.412h187.619
							c1.328,0,2.412,1.085,2.412,2.412L567.961,374.608L567.961,374.608z"/>
						<path d="M649.094,310.92l-40.078-5.671c-0.575-0.107-0.553,0.291-0.553,0.294c0,0-1.167,10.115-3.644,12.592
							c-0.172,0.172-0.2,0.636,0.171,0.719l17.433,2.5c1.393,0.197,2.371,1.498,2.174,2.891l-14.511,102.566
							c-0.197,1.394-1.499,2.372-2.89,2.174L437.665,405c0,0-1.614-0.282-3.166-0.282c-12.975,0-51.898,0-51.898,0
							c-2.505-0.073-1.606,6.559,0.946,6.833l246.375,34.859c1.393,0.197,2.694-0.782,2.891-2.174l0.194-1.37
							c0.197-1.393-0.306-3.472-1.118-4.621c0,0-6.322-8.958-5.23-16.677c1.092-7.719,9.652-14.57,9.652-14.57
							c1.098-0.88,2.158-2.738,2.355-4.13l0.455-3.211c0.197-1.394-0.306-3.473-1.117-4.622c0,0-6.323-8.958-5.232-16.676
							c1.093-7.72,9.652-14.571,9.652-14.571c1.099-0.879,2.16-2.737,2.356-4.13l0.455-3.211c0.197-1.392-0.306-3.473-1.117-4.622
							c0,0-6.323-8.957-5.231-16.676c1.092-7.72,9.652-14.571,9.652-14.571c1.098-0.88,2.159-2.737,2.355-4.131l0.373-2.636
							C651.465,312.417,650.487,311.116,649.094,310.92z"/>
					</g>
				</g>
			</svg>
			Laporan<br>Voucher BBM
		</a>
	</div>
	<div style="height: {menu_lap_voucher_bbm.br};"></div>
	</div>
	<!-- END menu_lap_voucher_bbm -->
 
	<!-- BEGIN menu_lap_biaya_op -->
	<div class="col-md-2">
	<div class="menuicon">
		<a href="{U_LAPORAN_BIAYA_OP}">
			<svg class="svg" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 700 700" style="enable-background:new 0 0 700 700;" xml:space="preserve">
				<g id="Laporan_biaya_operasional"  >
					<g style="display:inline;">
						<path d="M581.881,297.218c-0.007-0.056-0.011-0.114-0.019-0.169c-0.04-0.278-0.093-0.555-0.168-0.829
							c-0.001-0.003-0.002-0.005-0.003-0.009c-0.07-0.256-0.16-0.508-0.261-0.758c-0.029-0.072-0.061-0.14-0.091-0.211
							c-0.08-0.18-0.169-0.358-0.265-0.533c-0.042-0.076-0.083-0.153-0.128-0.228c-0.024-0.041-0.043-0.083-0.069-0.123
							c-0.102-0.162-0.213-0.314-0.326-0.464c-0.021-0.028-0.039-0.058-0.06-0.085c-0.172-0.223-0.358-0.43-0.552-0.626
							c-0.036-0.037-0.076-0.072-0.114-0.107c-0.169-0.163-0.345-0.316-0.528-0.46c-0.047-0.036-0.092-0.073-0.14-0.108
							c-0.245-0.182-0.497-0.351-0.761-0.497l-101.358-57.614l58.359-36.748l97.837,55.612l-41.205,25.946
							c-3.216,2.024-4.181,6.272-2.156,9.487c2.024,3.216,6.272,4.181,9.487,2.156l50.929-32.069c2.047-1.289,3.267-3.558,3.212-5.977
							c-0.054-2.419-1.375-4.63-3.479-5.826L538.615,183.65c-2.204-1.254-4.919-1.192-7.066,0.159l-71.521,45.037
							c-0.014,0.009-0.03,0.019-0.044,0.028l-35.739,22.505c-0.017,0.01-0.033,0.021-0.049,0.031l-71.57,45.068
							c-2.047,1.289-3.267,3.558-3.212,5.977c0.054,2.419,1.375,4.63,3.478,5.826l111.409,63.327c1.055,0.601,2.228,0.899,3.399,0.899
							c1.275,0,2.548-0.354,3.666-1.058l50.929-32.07c3.216-2.024,4.181-6.272,2.156-9.487c-2.023-3.216-6.272-4.182-9.487-2.156
							l-47.445,29.875l-97.837-55.613l58.36-36.749L532.39,324.56v78.556c0,2.506,1.362,4.813,3.555,6.023
							c1.037,0.572,2.182,0.857,3.325,0.857c1.276,0,2.548-0.354,3.666-1.058l35.785-22.534c2.001-1.26,3.214-3.458,3.214-5.822v-82.559
							c0-0.041-0.007-0.079-0.008-0.12C581.923,297.675,581.908,297.447,581.881,297.218z M546.15,390.655v-70.097
							c0-2.475-1.329-4.758-3.481-5.981L441.252,256.93l22.575-14.216l97.837,55.612l-8.566,5.394c-3.216,2.024-4.181,6.272-2.156,9.487
							c1.307,2.078,3.542,3.215,5.829,3.215c1.252,0,2.521-0.342,3.659-1.059l7.746-4.877v66.299L546.15,390.655z"/>
						<path d="M642.959,274.655l-50.929,32.069c-3.216,2.024-4.181,6.272-2.156,9.487c1.307,2.078,3.542,3.215,5.829,3.215
							c1.252,0,2.521-0.342,3.659-1.059l50.929-32.069c3.216-2.024,4.181-6.272,2.156-9.487
							C650.422,273.596,646.174,272.63,642.959,274.655z"/>
						<path d="M514.964,355.253l-47.445,29.875l-107.828-61.291c-3.301-1.877-7.503-0.724-9.381,2.581
							c-1.878,3.303-0.722,7.503,2.581,9.381l111.409,63.327c1.055,0.601,2.228,0.899,3.399,0.899c1.275,0,2.548-0.354,3.666-1.058
							l50.929-32.07c3.216-2.024,4.181-6.272,2.156-9.487C522.428,354.193,518.179,353.227,514.964,355.253z"/>
						<path d="M642.959,302.175l-50.929,32.069c-3.216,2.024-4.181,6.272-2.156,9.487c1.307,2.078,3.542,3.215,5.829,3.215
							c1.252,0,2.521-0.342,3.659-1.059l50.929-32.069c3.216-2.024,4.181-6.272,2.156-9.487
							C650.422,301.115,646.174,300.149,642.959,302.175z"/>
						<path d="M514.964,382.772l-47.445,29.875l-107.828-61.291c-3.301-1.877-7.503-0.724-9.381,2.581
							c-1.878,3.303-0.722,7.503,2.581,9.381l111.409,63.327c1.055,0.601,2.228,0.899,3.399,0.899c1.275,0,2.548-0.354,3.666-1.058
							l50.929-32.07c3.216-2.024,4.181-6.272,2.156-9.487C522.428,381.712,518.179,380.747,514.964,382.772z"/>
						<path d="M642.959,329.695l-50.929,32.069c-3.216,2.024-4.181,6.272-2.156,9.487c1.307,2.078,3.542,3.215,5.829,3.215
							c1.252,0,2.521-0.342,3.659-1.059l50.929-32.069c3.216-2.024,4.181-6.272,2.156-9.487
							C650.422,328.635,646.174,327.67,642.959,329.695z"/>
						<path d="M514.964,410.292l-47.445,29.875l-107.828-61.291c-3.301-1.877-7.503-0.724-9.381,2.581
							c-1.878,3.303-0.722,7.503,2.581,9.381l111.409,63.327c1.055,0.601,2.228,0.899,3.399,0.899c1.275,0,2.548-0.354,3.666-1.058
							l50.929-32.07c3.216-2.024,4.181-6.272,2.156-9.487C522.428,409.233,518.179,408.267,514.964,410.292z"/>
					</g>
					<path style="display:inline;" d="M341.256,70.663c5.952,0,10.781,4.829,10.781,10.782c0,5.952-4.829,10.781-10.781,10.781H28.565
						v388.292H675.42V92.225H384.312c-5.951,0-10.781-4.829-10.781-10.781c0-5.952,4.829-10.782,10.781-10.782h301.619h0.269
						c5.952,0,10.782,4.829,10.782,10.782v409.586v0.267c0,5.952-4.829,10.782-10.782,10.782H18.075h-0.292
						c-5.952-0.001-10.781-4.83-10.781-10.782V81.735v-0.292c0-5.952,4.829-10.782,10.781-10.782L341.256,70.663L341.256,70.663z"/>
					<path style="display:inline;" d="M330.453,16.735c0-5.929,4.829-10.736,10.736-10.736c5.929,0,10.736,4.806,10.736,10.736
						l0.023,64.687c0,5.929-4.806,10.736-10.736,10.736s-10.736-4.806-10.736-10.736L330.453,16.735z"/>
					<path style="display:inline;" d="M330.497,534.243c0-5.932,4.806-10.737,10.736-10.737s10.736,4.807,10.736,10.737l-0.045,107.877
						c0,5.906-4.806,10.734-10.736,10.734s-10.736-4.806-10.736-10.734L330.497,534.243z"/>
					<path style="display:inline;" d="M179.902,531.301c1.618-5.727,7.569-9.029,13.296-7.412c5.705,1.618,9.029,7.569,7.412,13.296
						l-43.034,150.977c-1.617,5.728-7.569,9.031-13.296,7.412c-5.705-1.617-9.029-7.569-7.412-13.296L179.902,531.301z"/>
					<path style="display:inline;" d="M481.813,537.185c-1.618-5.727,1.684-11.678,7.412-13.296c5.727-1.619,11.678,1.684,13.296,7.412
						l43.102,150.977c1.618,5.706-1.683,11.679-7.411,13.296c-5.707,1.619-11.679-1.684-13.297-7.412L481.813,537.185z"/>
					<path style="display:inline;" d="M17.783,545.228c-5.952,0-10.781-4.828-10.781-10.781c0-5.953,4.829-10.781,10.781-10.781h668.418
						c5.952,0,10.782,4.828,10.782,10.781c0,5.928-4.829,10.781-10.782,10.781H17.783z"/>
					<path style="display:inline;" d="M332.877,329.514l-34.385,38.693l-77.849-97.276c-0.516-0.741-1.123-1.436-1.841-2.043
						c-4.514-3.863-11.297-3.346-15.161,1.168l-89.616,104.149l-53.119-0.09c-5.929,0-10.736,4.805-10.736,10.736
						c0,5.926,4.806,10.734,10.736,10.734l58.061,0.093c3.256,0,6.176-1.44,8.175-3.776l0.023,0.024l84.383-98.085l78.185,97.702
						c3.683,4.625,10.444,5.369,15.071,1.684c0.471-0.402,0.92-0.81,1.325-1.257l0.023,0.023l26.726-30.072V329.514z"/>
				</g>
			</svg>
			Laporan<br>Biaya Operasional
		</a>
	</div>
	<div style="height: {menu_lap_biaya_op.br};"></div>
	</div>
	<!-- END menu_lap_biaya_op -->

 	</div>
</div>