<div class="container menuwrapper" style="height: {HEIGHT_WRAPPER}px; padding-bottom: 20px;">
	<div class="row">
		<div class="col-md-2">
			<div class="menuicon">
				<a href="{U_LAPORAN_DATA_PAKET}">
					<svg class="svg" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 700 700" style="enable-background:new 0 0 700 700;" xml:space="preserve">
						<g id="Laporan_Data_Paket"  >
							<path style="display:inline;" d="M341.256,70.663c5.952,0,10.781,4.829,10.781,10.782c0,5.952-4.829,10.781-10.781,10.781H28.565
								v388.292H675.42V92.225H384.312c-5.951,0-10.781-4.829-10.781-10.781c0-5.952,4.829-10.782,10.781-10.782h301.619h0.269
								c5.952,0,10.782,4.829,10.782,10.782v409.586v0.267c0,5.952-4.829,10.782-10.782,10.782H18.075h-0.292
								c-5.952-0.001-10.781-4.83-10.781-10.782V81.735v-0.292c0-5.952,4.829-10.782,10.781-10.782L341.256,70.663L341.256,70.663z"/>
							<path style="display:inline;" d="M330.453,16.735c0-5.929,4.829-10.736,10.736-10.736c5.929,0,10.736,4.806,10.736,10.736
								l0.023,64.687c0,5.929-4.806,10.736-10.736,10.736s-10.736-4.806-10.736-10.736L330.453,16.735z"/>
							<path style="display:inline;" d="M330.497,534.243c0-5.932,4.806-10.737,10.736-10.737s10.736,4.807,10.736,10.737l-0.045,107.877
								c0,5.906-4.806,10.734-10.736,10.734s-10.736-4.806-10.736-10.734L330.497,534.243z"/>
							<path style="display:inline;" d="M179.902,531.301c1.618-5.727,7.569-9.029,13.296-7.412c5.705,1.618,9.029,7.569,7.412,13.296
								l-43.034,150.977c-1.617,5.728-7.569,9.031-13.296,7.412c-5.705-1.617-9.029-7.569-7.412-13.296L179.902,531.301z"/>
							<path style="display:inline;" d="M481.813,537.185c-1.618-5.727,1.684-11.678,7.412-13.296c5.727-1.619,11.678,1.684,13.296,7.412
								l43.102,150.977c1.618,5.706-1.683,11.679-7.411,13.296c-5.707,1.619-11.679-1.684-13.297-7.412L481.813,537.185z"/>
							<path style="display:inline;" d="M17.783,545.228c-5.952,0-10.781-4.828-10.781-10.781c0-5.953,4.829-10.781,10.781-10.781h668.418
								c5.952,0,10.782,4.828,10.782,10.781c0,5.928-4.829,10.781-10.782,10.781H17.783z"/>
							<path style="display:inline;" d="M332.877,329.514l-34.385,38.693l-77.849-97.276c-0.516-0.741-1.123-1.436-1.841-2.043
								c-4.514-3.863-11.297-3.346-15.161,1.168l-89.616,104.149l-53.119-0.09c-5.929,0-10.736,4.805-10.736,10.736
								c0,5.926,4.806,10.734,10.736,10.734l58.061,0.093c3.256,0,6.176-1.44,8.175-3.776l0.023,0.024l84.383-98.085l78.185,97.702
								c3.683,4.625,10.444,5.369,15.071,1.684c0.471-0.402,0.92-0.81,1.325-1.257l0.023,0.023l26.726-30.072V329.514z"/>
							<g style="display:inline;">
								<path d="M648.271,230.117l0.197-0.522l-141.229-55.17L366.24,230.167l-0.46-0.183v0.357l-0.02,0.011l0.02,0.06V407.38
									l141.395,55.423l141.415-55.425V229.987L648.271,230.117z M507.108,185.27l47.902,17.155l-130.581,50.697l-44.234-17.448
									L507.108,185.27z M502.135,450.301l-52.957-21.38l-26.577-9.985l-46.715-18.429V244.833l46.247,18.242v38.926l4.121-1.151
									l2.785,3.827l3.878-0.905l3.756,3.967l3.278-1.129l5.291,5.247V272.19l4.116,1.625l52.779,20.816L502.135,450.301L502.135,450.301
									z M507.187,285.771L455.553,265.4l127.345-51.611l52.52,21.396L507.187,285.771z M638.492,400.507l-126.258,49.794v-155.67
									L638.48,244.83v155.673L638.492,400.507L638.492,400.507z"/>
							</g>
						</g>
					</svg>
					Laporan Data Paket
				</a>
			</div>
		</div>
		
		<div class="col-md-2">
			<div class="menuicon">
				<a href="{U_LAPORAN_PAKET_BELUM_DIAMBIL}">
					<svg class="svg" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 700 700" style="enable-background:new 0 0 700 700;" xml:space="preserve">
						<g id="Laporan_Data_Paket"  >
						<path style="display:inline;" d="M341.256,70.663c5.952,0,10.781,4.829,10.781,10.782c0,5.952-4.829,10.781-10.781,10.781H28.565
							v388.292H675.42V92.225H384.312c-5.951,0-10.781-4.829-10.781-10.781c0-5.952,4.829-10.782,10.781-10.782h301.619h0.269
							c5.952,0,10.782,4.829,10.782,10.782v409.586v0.267c0,5.952-4.829,10.782-10.782,10.782H18.075h-0.292
							c-5.952-0.001-10.781-4.83-10.781-10.782V81.735v-0.292c0-5.952,4.829-10.782,10.781-10.782L341.256,70.663L341.256,70.663z"/>
						<path style="display:inline;" d="M330.453,16.735c0-5.929,4.829-10.736,10.736-10.736c5.929,0,10.736,4.806,10.736,10.736
							l0.023,64.687c0,5.929-4.806,10.736-10.736,10.736s-10.736-4.806-10.736-10.736L330.453,16.735z"/>
						<path style="display:inline;" d="M330.497,534.243c0-5.932,4.806-10.737,10.736-10.737s10.736,4.807,10.736,10.737l-0.045,107.877
							c0,5.906-4.806,10.734-10.736,10.734s-10.736-4.806-10.736-10.734L330.497,534.243z"/>
						<path style="display:inline;" d="M179.902,531.301c1.618-5.727,7.569-9.029,13.296-7.412c5.705,1.618,9.029,7.569,7.412,13.296
							l-43.034,150.977c-1.617,5.728-7.569,9.031-13.296,7.412c-5.705-1.617-9.029-7.569-7.412-13.296L179.902,531.301z"/>
						<path style="display:inline;" d="M481.813,537.185c-1.618-5.727,1.684-11.678,7.412-13.296c5.727-1.619,11.678,1.684,13.296,7.412
							l43.102,150.977c1.618,5.706-1.683,11.679-7.411,13.296c-5.707,1.619-11.679-1.684-13.297-7.412L481.813,537.185z"/>
						<path style="display:inline;" d="M17.783,545.228c-5.952,0-10.781-4.828-10.781-10.781c0-5.953,4.829-10.781,10.781-10.781h668.418
							c5.952,0,10.782,4.828,10.782,10.781c0,5.928-4.829,10.781-10.782,10.781H17.783z"/>
						<path style="display:inline;" d="M332.877,329.514l-34.385,38.693l-77.849-97.276c-0.516-0.741-1.123-1.436-1.841-2.043
							c-4.514-3.863-11.297-3.346-15.161,1.168l-89.616,104.149l-53.119-0.09c-5.929,0-10.736,4.805-10.736,10.736
							c0,5.926,4.806,10.734,10.736,10.734l58.061,0.093c3.256,0,6.176-1.44,8.175-3.776l0.023,0.024l84.383-98.085l78.185,97.702
							c3.683,4.625,10.444,5.369,15.071,1.684c0.471-0.402,0.92-0.81,1.325-1.257l0.023,0.023l26.726-30.072V329.514z"/>
						<g style="display:inline;">
							<path d="M648.271,230.117l0.197-0.522l-141.229-55.17L366.24,230.167l-0.46-0.183v0.357l-0.02,0.011l0.02,0.06V407.38
								l141.395,55.423l141.415-55.425V229.987L648.271,230.117z M507.108,185.27l47.902,17.155l-130.581,50.697l-44.234-17.448
								L507.108,185.27z M502.135,450.301l-52.957-21.38l-26.577-9.985l-46.715-18.429V244.833l46.247,18.242v38.926l4.121-1.151
								l2.785,3.827l3.878-0.905l3.756,3.967l3.278-1.129l5.291,5.247V272.19l4.116,1.625l52.779,20.816L502.135,450.301L502.135,450.301
								z M507.187,285.771L455.553,265.4l127.345-51.611l52.52,21.396L507.187,285.771z M638.492,400.507l-126.258,49.794v-155.67
								L638.48,244.83v155.673L638.492,400.507L638.492,400.507z"/>
						</g>
					</g>
					</svg>
					Laporan Paket<br>Belum Diambil
				</a>
			</div>
		</div>
		
		<div class="col-md-2">
			<div class="menuicon">
				<a href="{U_LAPORAN_OMZET_PAKET_CABANG}">
					<svg class="svg" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 700 700" style="enable-background:new 0 0 700 700;" xml:space="preserve">
						<g id="Laporan_Omzet"  >
							<g style="display:inline;">
								<path d="M581.881,297.218c-0.007-0.056-0.011-0.114-0.019-0.169c-0.04-0.278-0.093-0.555-0.168-0.829
									c-0.001-0.003-0.002-0.005-0.003-0.009c-0.07-0.256-0.16-0.508-0.261-0.758c-0.029-0.072-0.061-0.14-0.091-0.211
									c-0.08-0.18-0.169-0.358-0.265-0.533c-0.042-0.076-0.083-0.153-0.128-0.228c-0.024-0.041-0.043-0.083-0.069-0.123
									c-0.102-0.162-0.213-0.314-0.326-0.464c-0.021-0.028-0.039-0.058-0.06-0.085c-0.172-0.223-0.358-0.43-0.552-0.626
									c-0.036-0.037-0.076-0.072-0.114-0.107c-0.169-0.163-0.345-0.316-0.528-0.46c-0.047-0.036-0.092-0.073-0.14-0.108
									c-0.245-0.182-0.497-0.351-0.761-0.497l-101.358-57.614l58.359-36.748l97.837,55.612l-41.205,25.946
									c-3.216,2.024-4.181,6.272-2.156,9.487c2.024,3.216,6.272,4.181,9.487,2.156l50.929-32.069c2.047-1.289,3.267-3.558,3.212-5.977
									c-0.054-2.419-1.375-4.63-3.479-5.826L538.615,183.65c-2.204-1.254-4.919-1.192-7.066,0.159l-71.521,45.037
									c-0.014,0.009-0.03,0.019-0.044,0.028l-35.739,22.505c-0.017,0.01-0.033,0.021-0.049,0.031l-71.57,45.068
									c-2.047,1.289-3.267,3.558-3.212,5.977c0.054,2.419,1.375,4.63,3.478,5.826l111.409,63.327c1.055,0.601,2.228,0.899,3.399,0.899
									c1.275,0,2.548-0.354,3.666-1.058l50.929-32.07c3.216-2.024,4.181-6.272,2.156-9.487c-2.023-3.216-6.272-4.182-9.487-2.156
									l-47.445,29.875l-97.837-55.613l58.36-36.749L532.39,324.56v78.556c0,2.506,1.362,4.813,3.555,6.023
									c1.037,0.572,2.182,0.857,3.325,0.857c1.276,0,2.548-0.354,3.666-1.058l35.785-22.534c2.001-1.26,3.214-3.458,3.214-5.822v-82.559
									c0-0.041-0.007-0.079-0.008-0.12C581.923,297.675,581.908,297.447,581.881,297.218z M546.15,390.655v-70.097
									c0-2.475-1.329-4.758-3.481-5.981L441.252,256.93l22.575-14.216l97.837,55.612l-8.566,5.394c-3.216,2.024-4.181,6.272-2.156,9.487
									c1.307,2.078,3.542,3.215,5.829,3.215c1.252,0,2.521-0.342,3.659-1.059l7.746-4.877v66.299L546.15,390.655z"/>
								<path d="M642.959,274.655l-50.929,32.069c-3.216,2.024-4.181,6.272-2.156,9.487c1.307,2.078,3.542,3.215,5.829,3.215
									c1.252,0,2.521-0.342,3.659-1.059l50.929-32.069c3.216-2.024,4.181-6.272,2.156-9.487
									C650.422,273.596,646.174,272.63,642.959,274.655z"/>
								<path d="M514.964,355.253l-47.445,29.875l-107.828-61.291c-3.301-1.877-7.503-0.724-9.381,2.581
									c-1.878,3.303-0.722,7.503,2.581,9.381l111.409,63.327c1.055,0.601,2.228,0.899,3.399,0.899c1.275,0,2.548-0.354,3.666-1.058
									l50.929-32.07c3.216-2.024,4.181-6.272,2.156-9.487C522.428,354.193,518.179,353.227,514.964,355.253z"/>
								<path d="M642.959,302.175l-50.929,32.069c-3.216,2.024-4.181,6.272-2.156,9.487c1.307,2.078,3.542,3.215,5.829,3.215
									c1.252,0,2.521-0.342,3.659-1.059l50.929-32.069c3.216-2.024,4.181-6.272,2.156-9.487
									C650.422,301.115,646.174,300.149,642.959,302.175z"/>
								<path d="M514.964,382.772l-47.445,29.875l-107.828-61.291c-3.301-1.877-7.503-0.724-9.381,2.581
									c-1.878,3.303-0.722,7.503,2.581,9.381l111.409,63.327c1.055,0.601,2.228,0.899,3.399,0.899c1.275,0,2.548-0.354,3.666-1.058
									l50.929-32.07c3.216-2.024,4.181-6.272,2.156-9.487C522.428,381.712,518.179,380.747,514.964,382.772z"/>
								<path d="M642.959,329.695l-50.929,32.069c-3.216,2.024-4.181,6.272-2.156,9.487c1.307,2.078,3.542,3.215,5.829,3.215
									c1.252,0,2.521-0.342,3.659-1.059l50.929-32.069c3.216-2.024,4.181-6.272,2.156-9.487
									C650.422,328.635,646.174,327.67,642.959,329.695z"/>
								<path d="M514.964,410.292l-47.445,29.875l-107.828-61.291c-3.301-1.877-7.503-0.724-9.381,2.581
									c-1.878,3.303-0.722,7.503,2.581,9.381l111.409,63.327c1.055,0.601,2.228,0.899,3.399,0.899c1.275,0,2.548-0.354,3.666-1.058
									l50.929-32.07c3.216-2.024,4.181-6.272,2.156-9.487C522.428,409.233,518.179,408.267,514.964,410.292z"/>
							</g>
							<path style="display:inline;" d="M341.256,70.663c5.952,0,10.781,4.829,10.781,10.782c0,5.952-4.829,10.781-10.781,10.781H28.565
								v388.292H675.42V92.225H384.312c-5.951,0-10.781-4.829-10.781-10.781c0-5.952,4.829-10.782,10.781-10.782h301.619h0.269
								c5.952,0,10.782,4.829,10.782,10.782v409.586v0.267c0,5.952-4.829,10.782-10.782,10.782H18.075h-0.292
								c-5.952-0.001-10.781-4.83-10.781-10.782V81.735v-0.292c0-5.952,4.829-10.782,10.781-10.782L341.256,70.663L341.256,70.663z"/>
							<path style="display:inline;" d="M330.453,16.735c0-5.929,4.829-10.736,10.736-10.736c5.929,0,10.736,4.806,10.736,10.736
								l0.023,64.687c0,5.929-4.806,10.736-10.736,10.736s-10.736-4.806-10.736-10.736L330.453,16.735z"/>
							<path style="display:inline;" d="M330.497,534.243c0-5.932,4.806-10.737,10.736-10.737s10.736,4.807,10.736,10.737l-0.045,107.877
								c0,5.906-4.806,10.734-10.736,10.734s-10.736-4.806-10.736-10.734L330.497,534.243z"/>
							<path style="display:inline;" d="M179.902,531.301c1.618-5.727,7.569-9.029,13.296-7.412c5.705,1.618,9.029,7.569,7.412,13.296
								l-43.034,150.977c-1.617,5.728-7.569,9.031-13.296,7.412c-5.705-1.617-9.029-7.569-7.412-13.296L179.902,531.301z"/>
							<path style="display:inline;" d="M481.813,537.185c-1.618-5.727,1.684-11.678,7.412-13.296c5.727-1.619,11.678,1.684,13.296,7.412
								l43.102,150.977c1.618,5.706-1.683,11.679-7.411,13.296c-5.707,1.619-11.679-1.684-13.297-7.412L481.813,537.185z"/>
							<path style="display:inline;" d="M17.783,545.228c-5.952,0-10.781-4.828-10.781-10.781c0-5.953,4.829-10.781,10.781-10.781h668.418
								c5.952,0,10.782,4.828,10.782,10.781c0,5.928-4.829,10.781-10.782,10.781H17.783z"/>
							<path style="display:inline;" d="M332.877,329.514l-34.385,38.693l-77.849-97.276c-0.516-0.741-1.123-1.436-1.841-2.043
								c-4.514-3.863-11.297-3.346-15.161,1.168l-89.616,104.149l-53.119-0.09c-5.929,0-10.736,4.805-10.736,10.736
								c0,5.926,4.806,10.734,10.736,10.734l58.061,0.093c3.256,0,6.176-1.44,8.175-3.776l0.023,0.024l84.383-98.085l78.185,97.702
								c3.683,4.625,10.444,5.369,15.071,1.684c0.471-0.402,0.92-0.81,1.325-1.257l0.023,0.023l26.726-30.072V329.514z"/>
						</g>
					</svg>
					Laporan Omzet Paket<br>Per Cabang
				</a>
			</div>
		</div>
		
		<div class="col-md-2">
			<div class="menuicon">
				<a href="{U_LAPORAN_OMZET_PAKET_JURUSAN}">
					<svg class="svg" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 700 700" style="enable-background:new 0 0 700 700;" xml:space="preserve">
						<g id="Laporan_Omzet"  >
							<g style="display:inline;">
								<path d="M581.881,297.218c-0.007-0.056-0.011-0.114-0.019-0.169c-0.04-0.278-0.093-0.555-0.168-0.829
									c-0.001-0.003-0.002-0.005-0.003-0.009c-0.07-0.256-0.16-0.508-0.261-0.758c-0.029-0.072-0.061-0.14-0.091-0.211
									c-0.08-0.18-0.169-0.358-0.265-0.533c-0.042-0.076-0.083-0.153-0.128-0.228c-0.024-0.041-0.043-0.083-0.069-0.123
									c-0.102-0.162-0.213-0.314-0.326-0.464c-0.021-0.028-0.039-0.058-0.06-0.085c-0.172-0.223-0.358-0.43-0.552-0.626
									c-0.036-0.037-0.076-0.072-0.114-0.107c-0.169-0.163-0.345-0.316-0.528-0.46c-0.047-0.036-0.092-0.073-0.14-0.108
									c-0.245-0.182-0.497-0.351-0.761-0.497l-101.358-57.614l58.359-36.748l97.837,55.612l-41.205,25.946
									c-3.216,2.024-4.181,6.272-2.156,9.487c2.024,3.216,6.272,4.181,9.487,2.156l50.929-32.069c2.047-1.289,3.267-3.558,3.212-5.977
									c-0.054-2.419-1.375-4.63-3.479-5.826L538.615,183.65c-2.204-1.254-4.919-1.192-7.066,0.159l-71.521,45.037
									c-0.014,0.009-0.03,0.019-0.044,0.028l-35.739,22.505c-0.017,0.01-0.033,0.021-0.049,0.031l-71.57,45.068
									c-2.047,1.289-3.267,3.558-3.212,5.977c0.054,2.419,1.375,4.63,3.478,5.826l111.409,63.327c1.055,0.601,2.228,0.899,3.399,0.899
									c1.275,0,2.548-0.354,3.666-1.058l50.929-32.07c3.216-2.024,4.181-6.272,2.156-9.487c-2.023-3.216-6.272-4.182-9.487-2.156
									l-47.445,29.875l-97.837-55.613l58.36-36.749L532.39,324.56v78.556c0,2.506,1.362,4.813,3.555,6.023
									c1.037,0.572,2.182,0.857,3.325,0.857c1.276,0,2.548-0.354,3.666-1.058l35.785-22.534c2.001-1.26,3.214-3.458,3.214-5.822v-82.559
									c0-0.041-0.007-0.079-0.008-0.12C581.923,297.675,581.908,297.447,581.881,297.218z M546.15,390.655v-70.097
									c0-2.475-1.329-4.758-3.481-5.981L441.252,256.93l22.575-14.216l97.837,55.612l-8.566,5.394c-3.216,2.024-4.181,6.272-2.156,9.487
									c1.307,2.078,3.542,3.215,5.829,3.215c1.252,0,2.521-0.342,3.659-1.059l7.746-4.877v66.299L546.15,390.655z"/>
								<path d="M642.959,274.655l-50.929,32.069c-3.216,2.024-4.181,6.272-2.156,9.487c1.307,2.078,3.542,3.215,5.829,3.215
									c1.252,0,2.521-0.342,3.659-1.059l50.929-32.069c3.216-2.024,4.181-6.272,2.156-9.487
									C650.422,273.596,646.174,272.63,642.959,274.655z"/>
								<path d="M514.964,355.253l-47.445,29.875l-107.828-61.291c-3.301-1.877-7.503-0.724-9.381,2.581
									c-1.878,3.303-0.722,7.503,2.581,9.381l111.409,63.327c1.055,0.601,2.228,0.899,3.399,0.899c1.275,0,2.548-0.354,3.666-1.058
									l50.929-32.07c3.216-2.024,4.181-6.272,2.156-9.487C522.428,354.193,518.179,353.227,514.964,355.253z"/>
								<path d="M642.959,302.175l-50.929,32.069c-3.216,2.024-4.181,6.272-2.156,9.487c1.307,2.078,3.542,3.215,5.829,3.215
									c1.252,0,2.521-0.342,3.659-1.059l50.929-32.069c3.216-2.024,4.181-6.272,2.156-9.487
									C650.422,301.115,646.174,300.149,642.959,302.175z"/>
								<path d="M514.964,382.772l-47.445,29.875l-107.828-61.291c-3.301-1.877-7.503-0.724-9.381,2.581
									c-1.878,3.303-0.722,7.503,2.581,9.381l111.409,63.327c1.055,0.601,2.228,0.899,3.399,0.899c1.275,0,2.548-0.354,3.666-1.058
									l50.929-32.07c3.216-2.024,4.181-6.272,2.156-9.487C522.428,381.712,518.179,380.747,514.964,382.772z"/>
								<path d="M642.959,329.695l-50.929,32.069c-3.216,2.024-4.181,6.272-2.156,9.487c1.307,2.078,3.542,3.215,5.829,3.215
									c1.252,0,2.521-0.342,3.659-1.059l50.929-32.069c3.216-2.024,4.181-6.272,2.156-9.487
									C650.422,328.635,646.174,327.67,642.959,329.695z"/>
								<path d="M514.964,410.292l-47.445,29.875l-107.828-61.291c-3.301-1.877-7.503-0.724-9.381,2.581
									c-1.878,3.303-0.722,7.503,2.581,9.381l111.409,63.327c1.055,0.601,2.228,0.899,3.399,0.899c1.275,0,2.548-0.354,3.666-1.058
									l50.929-32.07c3.216-2.024,4.181-6.272,2.156-9.487C522.428,409.233,518.179,408.267,514.964,410.292z"/>
							</g>
							<path style="display:inline;" d="M341.256,70.663c5.952,0,10.781,4.829,10.781,10.782c0,5.952-4.829,10.781-10.781,10.781H28.565
								v388.292H675.42V92.225H384.312c-5.951,0-10.781-4.829-10.781-10.781c0-5.952,4.829-10.782,10.781-10.782h301.619h0.269
								c5.952,0,10.782,4.829,10.782,10.782v409.586v0.267c0,5.952-4.829,10.782-10.782,10.782H18.075h-0.292
								c-5.952-0.001-10.781-4.83-10.781-10.782V81.735v-0.292c0-5.952,4.829-10.782,10.781-10.782L341.256,70.663L341.256,70.663z"/>
							<path style="display:inline;" d="M330.453,16.735c0-5.929,4.829-10.736,10.736-10.736c5.929,0,10.736,4.806,10.736,10.736
								l0.023,64.687c0,5.929-4.806,10.736-10.736,10.736s-10.736-4.806-10.736-10.736L330.453,16.735z"/>
							<path style="display:inline;" d="M330.497,534.243c0-5.932,4.806-10.737,10.736-10.737s10.736,4.807,10.736,10.737l-0.045,107.877
								c0,5.906-4.806,10.734-10.736,10.734s-10.736-4.806-10.736-10.734L330.497,534.243z"/>
							<path style="display:inline;" d="M179.902,531.301c1.618-5.727,7.569-9.029,13.296-7.412c5.705,1.618,9.029,7.569,7.412,13.296
								l-43.034,150.977c-1.617,5.728-7.569,9.031-13.296,7.412c-5.705-1.617-9.029-7.569-7.412-13.296L179.902,531.301z"/>
							<path style="display:inline;" d="M481.813,537.185c-1.618-5.727,1.684-11.678,7.412-13.296c5.727-1.619,11.678,1.684,13.296,7.412
								l43.102,150.977c1.618,5.706-1.683,11.679-7.411,13.296c-5.707,1.619-11.679-1.684-13.297-7.412L481.813,537.185z"/>
							<path style="display:inline;" d="M17.783,545.228c-5.952,0-10.781-4.828-10.781-10.781c0-5.953,4.829-10.781,10.781-10.781h668.418
								c5.952,0,10.782,4.828,10.782,10.781c0,5.928-4.829,10.781-10.782,10.781H17.783z"/>
							<path style="display:inline;" d="M332.877,329.514l-34.385,38.693l-77.849-97.276c-0.516-0.741-1.123-1.436-1.841-2.043
								c-4.514-3.863-11.297-3.346-15.161,1.168l-89.616,104.149l-53.119-0.09c-5.929,0-10.736,4.805-10.736,10.736
								c0,5.926,4.806,10.734,10.736,10.734l58.061,0.093c3.256,0,6.176-1.44,8.175-3.776l0.023,0.024l84.383-98.085l78.185,97.702
								c3.683,4.625,10.444,5.369,15.071,1.684c0.471-0.402,0.92-0.81,1.325-1.257l0.023,0.023l26.726-30.072V329.514z"/>
						</g>
					</svg>
					Laporan Omzet Paket<br>Per Jurusan
				</a>
			</div>
		</div>
		
		<!-- BEGIN menu_cargo -->
		<div class="col-md-2">
			<div class="menuicon">
				<a href="{U_CARGO}">
					<svg class="svg" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 700 700" style="enable-background:new 0 0 700 700;" xml:space="preserve">
						<g id="Cargo">
							<path d="M700,344.531c0-3.05-1.251-5.806-3.265-7.79c-4.677-12.927-14.153-23.781-26.965-30.188
								c-0.342-0.171-0.69-0.323-1.049-0.457l-36.147-13.569l-22.02-83.665c-0.031-0.12-0.064-0.241-0.101-0.36
								c-6.992-23.309-28.042-38.972-52.38-38.972H481.25v-21.875c0-12.061-9.814-21.875-21.875-21.875h-437.5
								C9.814,125.781,0,135.595,0,147.656v306.25c0,12.061,9.814,21.875,21.875,21.875h36.013c-1.06,3.546-1.87,7.198-2.408,10.938
								H10.938C4.897,486.719,0,491.616,0,497.656s4.897,10.938,10.938,10.938h44.544c5.325,37.054,37.267,65.625,75.768,65.625
								s70.444-28.571,75.768-65.625h22.669c0,18.092,14.719,32.813,32.813,32.813h65.625c18.093,0,32.813-14.721,32.813-32.813h132.044
								c5.325,37.054,37.267,65.625,75.768,65.625s70.444-28.571,75.768-65.625h44.544c6.04,0,10.938-4.897,10.938-10.938
								s-4.897-10.938-10.938-10.938h-44.544c-0.537-3.739-1.348-7.391-2.408-10.938h36.014c12.061,0,21.875-9.814,21.875-21.875v-98.438
								c0-2.57-0.179-5.106-0.524-7.599C699.814,346.817,700,345.696,700,344.531z M678.125,410.156h-10.938v-10.938h10.938V410.156z
								 M669.784,333.594H481.25v-21.875h140.204l39.007,14.643C664.054,328.23,667.185,330.697,669.784,333.594z M558.074,191.406
								c14.544,0,27.133,9.323,31.378,23.218l19.797,75.22H481.25v-98.438H558.074z M65.626,453.906H21.875v-54.688h339.068
								c6.04,0,10.938-4.897,10.938-10.938s-4.897-10.938-10.938-10.938H21.875V147.656h437.5v306.25h-131.25H262.5h-65.622
								c-0.904,0-1.777,0.122-2.618,0.328c-13.825-20.002-36.907-33.141-63.01-33.141s-49.183,13.139-63.01,33.141
								C67.401,454.028,66.529,453.906,65.626,453.906z M131.25,552.344c-30.155,0-54.688-24.533-54.688-54.688
								c0-30.155,24.533-54.688,54.688-54.688s54.688,24.533,54.688,54.688C185.938,527.811,161.405,552.344,131.25,552.344z
								 M207.018,486.719c-0.537-3.739-1.348-7.391-2.408-10.938h26.958c-1.214,3.423-1.881,7.104-1.881,10.938H207.018z M339.063,508.594
								c0,6.031-4.907,10.938-10.938,10.938H262.5c-6.031,0-10.938-4.907-10.938-10.938v-10.911c0-0.01,0.001-0.018,0.001-0.026
								s-0.001-0.018-0.001-0.026v-10.911c0-6.031,4.907-10.938,10.938-10.938h65.625c6.031,0,10.938,4.907,10.938,10.938V508.594z
								 M359.056,475.781h111.256h25.076c-1.06,3.546-1.87,7.198-2.408,10.938H360.938C360.938,482.885,360.27,479.205,359.056,475.781z
								 M568.75,552.344c-30.155,0-54.688-24.533-54.688-54.688c0-30.155,24.533-54.688,54.688-54.688s54.688,24.533,54.688,54.688
								C623.438,527.811,598.905,552.344,568.75,552.344z M634.375,453.906c-0.902,0-1.776,0.122-2.615,0.328
								c-13.826-20.002-36.907-33.141-63.01-33.141s-49.183,13.139-63.01,33.141c-0.839-0.206-1.712-0.328-2.614-0.328h-21.875v-98.438
								h196.875v21.875h-10.938c-12.061,0-21.875,9.814-21.875,21.875v10.938c0,12.061,9.814,21.875,21.875,21.875h10.938v21.875H634.375z
								"/>
							<path d="M404.693,399.219h21.87c6.04,0,10.938-4.897,10.938-10.938s-4.897-10.938-10.938-10.938h-21.87
								c-6.04,0-10.938,4.897-10.938,10.938S398.651,399.219,404.693,399.219z"/>
						</g>
					</svg>
					Cargo
				</a>
			</div>
		</div>
		<!-- END menu_cargo -->
	</div>
</div>
