<!-- <div id="exTab2" class="container">	
<ul class="nav nav-tabs">
	<li class="active">
	<a  href="#1" data-toggle="tab">Operasional</a>
	</li>
	<li><a href="#2" data-toggle="tab">Sales</a>
	</li>
	<li><a href="#3" data-toggle="tab">Solution</a>
	</li>
</ul>

<div class="tab-content ">
	  <div class="tab-pane active" id="1">
  <h3>Standard tab panel created on bootstrap using nav-tabs</h3>
		</div>
		<div class="tab-pane" id="2">
  <h3>Notice the gap between the content and tab after applying a background color</h3>
		</div>
<div class="tab-pane" id="3">
  <h3>add clearfix to tab-content (see the css)</h3>
		</div>
	</div>
</div> -->

<div class="container menuwrapper">
	<div class="row">
		<!-- BEGIN menu_rsv_reg -->
		<div class="col-md-2">
			<div class="menuicon">
				<a href="{U_RSV_REG}">
					<svg class="svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 700 700" style="enable-background:new 0 0 700 700;" xml:space="preserve">
				<g id="Reserv-Reguler">
					<g>
						<path d="M173.058,596.349h122.173v88.305h-48.357V702.5h229.7v-17.847h-48.357v-88.305H550.38v-17.857H173.058V596.349z
			 M313.078,684.653v-88.305h97.277v88.305H313.078z"/>
						<path d="M555.11,263.691L543.77,81.913c-3.022-44.829-40.614-79.944-85.582-79.944h-212.36c-44.664,0-82.247,34.947-85.563,79.574
			l-12.494,182.148H54.923v187.748c0,26.218,21.33,47.547,47.548,47.547h0.782c6.08,0,12.064-1.174,17.787-3.488l7.677-3.104
			c4.115,19.934,20.362,34.598,38.916,34.598h366.473c18.508,0,34.746-14.625,38.896-34.503l7.438,3.01
			c5.718,2.314,11.695,3.487,17.767,3.487h0.797c26.22,0,47.552-21.337,47.552-47.563V263.691H555.11z M534.105,508.991H167.633
			c-12.094,0-21.934-11.911-21.934-26.553c0-14.641,9.84-26.552,21.934-26.552h366.473c12.095,0,21.935,11.911,21.935,26.552
			C556.04,497.08,546.2,508.991,534.105,508.991z M245.828,19.826h212.36c35.609,0,65.38,27.784,67.773,63.239l22.313,357.71
			c-4.502-1.919-9.251-2.889-14.169-2.889H167.633c-4.897,0-9.627,0.962-14.114,2.865l24.564-357.94
			C180.694,47.493,210.451,19.826,245.828,19.826z M146.419,283.552l-13.443,167.486l-0.016,0.4
			c0,16.371-13.326,29.689-29.706,29.689h-0.782c-16.37,0-29.687-13.318-29.687-29.689V283.552H146.419z M599.002,481.128h-0.797
			c-16.372,0-29.691-13.318-29.691-29.776v-0.087l-11.629-167.713h71.809v167.887C628.693,467.81,615.374,481.128,599.002,481.128z"
						/>
					</g>
				</g>
				</svg>
					Rsv. Reguler
				</a>
			</div>
			<div style="height: {menu_rsv_reg.br};"></div>
		</div>
		<!-- END menu_rsv_reg -->

<!-- BEGIN menu_rangkuman_reservasi -->
		<div class="col-md-2">
			<div class="menuicon">
				<a href="{U_RANGKUMAN_RESERVASI}">
					<svg class="svg" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 700 700" style="enable-background:new 0 0 700 700;" xml:space="preserve">
					<g id="Dashboard">
						<rect x="342.363" y="91.616"   width="18.256" height="50.161"/>
						<polygon   points="210.247,182.555 174.776,147.057 161.862,159.953 197.333,195.451 	"/>
						<rect x="100.834" y="305.379"   width="50.162" height="18.255"/>
						<path   d="M348.577,374.531c0.652,10.837,9.699,19.325,20.596,19.325c11.367,0,20.614-9.264,20.614-20.65
							c0-11.348-9.231-20.579-20.578-20.579h-2.984l-80.884-59.495l63.062,78.51L348.577,374.531z"/>
						<rect x="253.775" y="514.822"   width="39.863" height="78.033"/>
						<polygon   points="195.419,448.468 182.519,435.549 147.021,471.02 159.948,483.965 	"/>
						<rect x="341.787" y="514.822"   width="39.862" height="78.033"/>
						<path   d="M351.491,4C159.884,4,4,159.884,4,351.491C4,543.059,159.884,698.91,351.491,698.91
							c191.606,0,347.49-155.852,347.49-347.419C698.981,159.884,543.098,4,351.491,4z M582.484,582.538
							c-61.706,61.716-143.741,95.704-230.993,95.704c-87.256,0-169.29-33.974-230.988-95.662
							c-61.707-61.697-95.69-143.741-95.69-231.018c0-87.289,33.983-169.336,95.69-231.029c61.695-61.68,143.728-95.649,230.988-95.649
							c87.284,0,169.333,33.974,231.032,95.663c61.701,61.692,95.682,143.734,95.682,231.016
							C678.17,438.809,644.175,520.837,582.484,582.538z"/>
						<polygon   points="530.364,442.852 517.477,455.739 553.006,491.216 565.894,478.328 	"/>
						<rect x="428.286" y="514.822"   width="39.862" height="78.033"/>
						<rect x="562.537" y="305.379"   width="50.125" height="18.255"/>
						<polygon   points="540.472,160.854 504.951,196.348 517.891,209.25 553.37,173.771 	"/>
					</g>
					</svg	>
					Rangkuman Reservasi
				</a>
			</div>
			<div style="height: {menu_rangkuman_reservasi.br};"></div>
		</div>
		<!-- END menu_rangkuman_reservasi -->
		
		<!-- BEGIN menu_daftar_tiket_mitra -->
		<div class="col-md-2">
			<div class="menuicon">
				<a href="{U_DETAIL_RESERVASI}">
					<img src="{TPL}/images/icon_berita_acara.png">
					Detail Reservasi
				</a>
			</div>
			<div style="height: {menu_detail_reservasi.br};"></div>
		</div>
		<!-- END menu_daftar_tiket_mitra -->

		<!-- BEGIN menu_booking_ops -->
		<div class="col-md-2">
			<div class="menuicon">
				<a href="{U_BOOKING_OPS}">
					<svg class="svg" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 700 700" style="enable-background:new 0 0 700 700;" xml:space="preserve">
					<g id="Dashboard">
						<rect x="342.363" y="91.616"   width="18.256" height="50.161"/>
						<polygon   points="210.247,182.555 174.776,147.057 161.862,159.953 197.333,195.451 	"/>
						<rect x="100.834" y="305.379"   width="50.162" height="18.255"/>
						<path   d="M348.577,374.531c0.652,10.837,9.699,19.325,20.596,19.325c11.367,0,20.614-9.264,20.614-20.65
							c0-11.348-9.231-20.579-20.578-20.579h-2.984l-80.884-59.495l63.062,78.51L348.577,374.531z"/>
						<rect x="253.775" y="514.822"   width="39.863" height="78.033"/>
						<polygon   points="195.419,448.468 182.519,435.549 147.021,471.02 159.948,483.965 	"/>
						<rect x="341.787" y="514.822"   width="39.862" height="78.033"/>
						<path   d="M351.491,4C159.884,4,4,159.884,4,351.491C4,543.059,159.884,698.91,351.491,698.91
							c191.606,0,347.49-155.852,347.49-347.419C698.981,159.884,543.098,4,351.491,4z M582.484,582.538
							c-61.706,61.716-143.741,95.704-230.993,95.704c-87.256,0-169.29-33.974-230.988-95.662
							c-61.707-61.697-95.69-143.741-95.69-231.018c0-87.289,33.983-169.336,95.69-231.029c61.695-61.68,143.728-95.649,230.988-95.649
							c87.284,0,169.333,33.974,231.032,95.663c61.701,61.692,95.682,143.734,95.682,231.016
							C678.17,438.809,644.175,520.837,582.484,582.538z"/>
						<polygon   points="530.364,442.852 517.477,455.739 553.006,491.216 565.894,478.328 	"/>
						<rect x="428.286" y="514.822"   width="39.862" height="78.033"/>
						<rect x="562.537" y="305.379"   width="50.125" height="18.255"/>
						<polygon   points="540.472,160.854 504.951,196.348 517.891,209.25 553.37,173.771 	"/>
					</g>
				</svg>
					Dispatcher
				</a>
			</div>
		</div>
		<!-- END menu_booking_ops -->

		<!-- BEGIN menu_rsv_nonreg -->
		<div class="col-md-2">
			<div class="menuicon">
				<a href="{U_RSV_NONREG}">
					<svg class="svg" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 700 700" style="enable-background:new 0 0 700 700;" xml:space="preserve">
		      <g>
				  <path d="M551.88,594.501v-20.857H171.558v20.857h122.173v85.305h-48.357v20.846h232.7v-20.846h-48.357v-85.305H551.88z
					 M408.856,679.806h-94.278v-85.305h94.278V679.806z"/>
				  <path d="M545.269,80.497c-3.077-45.614-41.328-81.376-87.081-81.376h-212.36c-45.445,0-83.685,35.551-87.056,80.934
					l-12.401,180.788H53.423V450.09c0,27.045,22.003,49.048,49.048,49.048h0.782c6.272,0,12.446-1.21,18.35-3.598l8.535-3.451
					l1.896,9.009c5.578,26.493,29.291,45.722,56.384,45.722h324.636c27.082,0,50.798-19.231,56.388-45.726l1.901-9.005l8.531,3.452
					c5.9,2.386,12.067,3.597,18.331,3.597h0.797c27.047,0,49.052-22.009,49.052-49.064V260.843h-91.533L545.269,80.497z M131.46,450.09
					c0,15.544-12.654,28.19-28.206,28.19h-0.782c-15.542,0-28.187-12.647-28.187-28.19V281.704h57.175V450.09z M179.581,81.541
					c2.553-34.539,31.651-61.562,66.246-61.562h212.36c34.825,0,63.937,27.175,66.278,61.866l22.337,358.064l-11.456-4.824
					c-7.068-2.975-14.568-4.485-22.291-4.485H188.419c-7.596,0-14.971,1.464-21.92,4.351l-11.499,4.778L179.581,81.541z
					 M513.055,525.961H188.419c-20.279,0-36.778-16.5-36.778-36.781l0.018-0.855l0.383-5.271c2.544-18.013,18.178-31.597,36.366-31.597
					h324.647c18.41,0,34.074,13.781,36.435,32.058l0.047,0.486l0.296,5.179C549.833,509.461,533.334,525.961,513.055,525.961z
					 M570.014,281.704h57.179V450.09c0,15.544-12.646,28.19-28.191,28.19h-0.797c-15.545,0-28.191-12.647-28.191-28.19V281.704z"/>
			  </g>
		      </svg>
					Rsv. Non-Reguler
				</a>
			</div>
			<div style="height: {menu_rsv_nonreg.br};"></div>
		</div>
		<!-- END menu_rsv_nonreg -->

		<!-- BEGIN menu_penjadwalan -->
		<div class="col-md-2">
			<div class="menuicon">
				<a href="{U_PENJADWALAN}">
					<svg class="svg" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 700 700" style="enable-background:new 0 0 700 700;" xml:space="preserve">
					<g id="Penjadwalan-Kend">
						<g>
							<path d="M179.877,241.148v-95.96c0-5.742-5.003-10.374-10.746-10.374c-5.371,0-10.188,4.632-10.188,10.374v97.441
								c0,0.186,0.371,0.929,0.371,1.483c-0.371,3.335,0.558,6.114,2.779,8.339l55.392,55.388c3.707,3.706,10.559,3.706,14.263,0
								c4.26-4.26,3.979-10.441,0-14.449L179.877,241.148z"/>
							<path d="M338.811,244.3c0.009-0.561,0.009-1.112,0.009-1.673c0-22.965-4.523-44.79-13.523-65.76
								c-17.863-41.646-48.219-71.938-90.214-89.846c-20.988-8.954-42.979-13.523-65.953-13.523c-5.855,0-11.636,0.299-17.348,0.887
								c-13.892,1.429-27.374,4.59-40.51,9.474c-2.648,0.984-5.282,2.039-7.902,3.162c-7.029,3.015-13.732,6.392-20.118,10.109
								c-31.454,18.306-55.04,45.064-69.915,79.738c-2.148,5.006-4.025,10.071-5.649,15.192c-2.068,6.523-3.71,13.141-4.939,19.855
								C0.917,221.936,0,232.17,0,242.629c0,22.973,4.371,45.049,13.338,65.952c0.829,1.933,1.694,3.833,2.578,5.717
								c0.139,0.296,0.276,0.592,0.416,0.887c0.871,1.833,1.765,3.645,2.687,5.432c0.127,0.246,0.258,0.488,0.385,0.733
								c0.871,1.669,1.763,3.318,2.678,4.945c0.117,0.208,0.23,0.419,0.348,0.626c0.962,1.695,1.954,3.363,2.965,5.013
								c0.22,0.36,0.443,0.718,0.665,1.075c1.021,1.638,2.058,3.261,3.127,4.853c0.108,0.162,0.221,0.319,0.33,0.48
								c0.991,1.467,2.007,2.911,3.039,4.339c0.251,0.347,0.499,0.696,0.752,1.04c1.09,1.484,2.203,2.947,3.338,4.388
								c0.269,0.342,0.543,0.679,0.815,1.018c1.056,1.32,2.129,2.624,3.223,3.908c0.17,0.199,0.335,0.402,0.505,0.601
								c1.206,1.401,2.441,2.773,3.692,4.13c0.315,0.342,0.632,0.684,0.95,1.023c1.263,1.346,2.543,2.675,3.85,3.977
								c0.202,0.201,0.409,0.397,0.611,0.596c1.228,1.21,2.476,2.399,3.743,3.569c0.244,0.226,0.486,0.455,0.732,0.679
								c1.402,1.279,2.828,2.533,4.276,3.764c0.252,0.214,0.506,0.425,0.759,0.638c3.081,2.588,6.266,5.07,9.553,7.443
								c0.138,0.1,0.275,0.2,0.414,0.299c10.227,7.335,21.434,13.637,33.6,18.857c20.97,8.995,42.793,13.52,65.762,13.52
								s44.962-4.572,65.948-13.52c4.532-1.933,8.92-4.021,13.18-6.245h0.026c0.378-0.197,0.749-0.402,1.124-0.602
								c0.485-0.258,0.969-0.515,1.451-0.777c0.698-0.379,1.39-0.764,2.081-1.152c0.457-0.256,0.915-0.51,1.368-0.769
								c0.736-0.421,1.465-0.851,2.192-1.281c0.395-0.234,0.794-0.464,1.187-0.701c0.925-0.557,1.841-1.124,2.751-1.697
								c0.187-0.118,0.378-0.231,0.564-0.349c1.092-0.692,2.173-1.395,3.244-2.109c0.324-0.216,0.642-0.438,0.964-0.655
								c0.745-0.503,1.488-1.008,2.222-1.522c0.406-0.284,0.807-0.574,1.21-0.862c0.642-0.457,1.282-0.916,1.916-1.382
								c0.429-0.315,0.854-0.635,1.279-0.954c0.599-0.449,1.197-0.901,1.789-1.358c0.432-0.333,0.861-0.668,1.288-1.005
								c0.58-0.456,1.156-0.916,1.728-1.38c0.424-0.343,0.846-0.686,1.266-1.033c0.572-0.472,1.138-0.95,1.703-1.43
								c0.407-0.345,0.815-0.69,1.218-1.039c0.581-0.504,1.156-1.015,1.729-1.526c0.374-0.334,0.752-0.665,1.123-1.002
								c0.647-0.587,1.284-1.184,1.92-1.781c0.287-0.27,0.579-0.534,0.864-0.806c0.901-0.858,1.791-1.726,2.672-2.605
								c0.299-0.298,0.59-0.603,0.886-0.903c0.59-0.598,1.179-1.196,1.76-1.803c0.372-0.389,0.736-0.784,1.104-1.176
								c0.495-0.528,0.989-1.055,1.477-1.59c0.389-0.427,0.773-0.858,1.158-1.289c0.457-0.512,0.913-1.025,1.364-1.543
								c0.389-0.448,0.775-0.899,1.16-1.351c0.435-0.512,0.868-1.026,1.298-1.544c0.386-0.465,0.77-0.931,1.15-1.4
								c0.42-0.517,0.835-1.039,1.249-1.562c0.376-0.475,0.752-0.95,1.123-1.429c0.413-0.534,0.819-1.074,1.226-1.613
								c0.36-0.478,0.723-0.954,1.078-1.436c0.418-0.567,0.827-1.141,1.239-1.714c0.333-0.465,0.671-0.925,1-1.394
								c0.582-0.829,1.153-1.667,1.721-2.508c0.418-0.619,0.83-1.245,1.242-1.871c0.411-0.626,0.823-1.25,1.227-1.882
								c0.328-0.514,0.648-1.036,0.971-1.554c0.358-0.575,0.718-1.15,1.07-1.731c0.326-0.538,0.646-1.082,0.967-1.624
								c0.339-0.574,0.678-1.148,1.012-1.727c0.317-0.549,0.629-1.103,0.941-1.657c0.33-0.586,0.657-1.174,0.98-1.766
								c0.302-0.553,0.603-1.107,0.9-1.665c0.326-0.61,0.647-1.224,0.966-1.839c0.284-0.547,0.568-1.094,0.847-1.645
								c0.329-0.651,0.653-1.307,0.975-1.964c0.258-0.525,0.518-1.048,0.772-1.577c0.356-0.742,0.704-1.492,1.051-2.242
								c0.209-0.452,0.423-0.9,0.629-1.354c0.549-1.209,1.089-2.427,1.616-3.656c0.525-1.221,1.029-2.447,1.523-3.676
								c0.135-0.337,0.265-0.676,0.398-1.014c0.348-0.882,0.69-1.765,1.022-2.651c0.163-0.434,0.322-0.868,0.481-1.303
								c0.294-0.805,0.582-1.611,0.863-2.419c0.157-0.45,0.315-0.9,0.468-1.351c0.071-0.211,0.148-0.42,0.219-0.631h-0.011
								c5.515-16.482,8.37-33.571,8.54-51.234H338.811z M308.74,295.534c-0.161,0.425-0.332,0.848-0.498,1.272
								c-0.272,0.696-0.546,1.391-0.829,2.084c-0.246,0.602-0.496,1.204-0.75,1.804c-0.458,1.079-0.925,2.155-1.41,3.225
								c-0.215,0.473-0.439,0.944-0.659,1.416c-0.394,0.846-0.797,1.689-1.208,2.53c-0.217,0.444-0.432,0.889-0.654,1.332
								c-0.57,1.134-1.157,2.263-1.759,3.388c-0.228,0.427-0.462,0.854-0.695,1.28c-0.567,1.036-1.145,2.069-1.738,3.097
								c-0.098,0.169-0.191,0.34-0.29,0.509c-13.293,22.809-31.515,40.901-54.461,54.277c-22.809,13.303-47.796,20.005-74.65,20.005
								c-2.711,0-5.404-0.071-8.081-0.212c-0.166-0.009-0.331-0.021-0.497-0.031c-1.144-0.064-2.286-0.139-3.424-0.228
								c-0.273-0.021-0.545-0.048-0.817-0.071c-1.032-0.087-2.062-0.182-3.089-0.291c-0.323-0.034-0.646-0.072-0.969-0.109
								c-0.974-0.109-1.947-0.227-2.916-0.356c-0.351-0.047-0.702-0.096-1.052-0.145c-0.943-0.132-1.884-0.274-2.823-0.424
								c-0.361-0.058-0.722-0.117-1.082-0.178c-0.928-0.156-1.854-0.323-2.778-0.498c-0.362-0.068-0.725-0.136-1.087-0.207
								c-0.927-0.182-1.851-0.377-2.773-0.578c-9.007-1.962-17.813-4.789-26.413-8.525c-7.803-3.388-15.148-7.234-22.037-11.55
								c-0.95-0.594-1.889-1.2-2.822-1.813c-0.171-0.112-0.345-0.222-0.516-0.335c-1.108-0.735-2.205-1.482-3.288-2.243
								c-0.083-0.058-0.164-0.119-0.246-0.177c-0.967-0.682-1.923-1.375-2.87-2.077c-0.316-0.234-0.626-0.474-0.939-0.711
								c-0.713-0.539-1.423-1.081-2.125-1.632c-0.355-0.279-0.707-0.562-1.06-0.844c-0.661-0.529-1.317-1.063-1.968-1.603
								c-0.347-0.288-0.693-0.578-1.037-0.869c-0.667-0.565-1.328-1.137-1.984-1.714c-0.305-0.268-0.612-0.535-0.915-0.806
								c-0.747-0.668-1.485-1.346-2.217-2.03c-0.199-0.185-0.4-0.368-0.598-0.554c-0.946-0.894-1.881-1.8-2.802-2.721
								c-6.879-6.879-13.022-14.503-18.45-22.809c-5.024-7.691-9.436-15.966-13.226-24.799c-7.275-16.941-11.073-34.892-11.6-53.48
								c-0.007-0.243-0.02-0.484-0.026-0.727c-0.014-0.598-0.014-1.199-0.021-1.799c-0.008-0.66-0.023-1.318-0.023-1.979
								c0-1.31,0.029-2.611,0.06-3.911c0.009-0.366,0.006-0.736,0.017-1.101c0.774-24.948,7.349-48.132,19.746-69.454
								c13.271-22.827,31.494-40.939,54.277-54.278c7.685-4.5,15.608-8.222,23.758-11.204c16.01-5.856,32.911-8.801,50.705-8.801
								c13.75,0,27.005,1.768,39.732,5.266c12.135,3.338,23.79,8.247,34.923,14.739c22.946,13.378,41.125,31.49,54.463,54.277
								c13.338,22.783,20.005,47.606,20.005,74.468c0,18.534-3.156,36.196-9.506,52.905H308.74z"/>
						</g>
						<g>
							<path d="M143.311,511.08c10.012,6.333,24.418,9.68,41.66,9.68c17.239,0,31.643-3.347,41.653-9.68
								c10.758-6.806,16.445-16.828,16.445-28.981c0-13.008-9.188-25.358-25.87-34.776c-13.981-7.891-31.396-12.603-46.586-12.603
								c-19.958,0-43.749,8.22-43.749,47.379C126.863,494.252,132.55,504.274,143.311,511.08z M170.611,450.28
								c26.587,0,56.897,16.95,56.897,31.819c0,20.851-29.748,23.102-42.538,23.102c-12.793,0-42.548-2.251-42.548-23.102
								C142.423,460.093,151.116,450.28,170.611,450.28z"/>
							<path d="M473.238,482.099c0,12.153,5.688,22.175,16.447,28.981c10.013,6.333,24.418,9.68,41.66,9.68
								c15.933,0,29.529-2.834,39.319-8.196c12.11-6.632,18.778-17.451,18.778-30.466c0-39.159-23.791-47.379-43.748-47.379
								c-15.187,0-32.601,4.712-46.583,12.603C482.427,456.74,473.238,469.091,473.238,482.099z M573.883,482.099
								c0,20.851-29.748,23.102-42.538,23.102c-12.792,0-42.548-2.251-42.548-23.102c0-14.869,30.31-31.819,56.897-31.819
								C565.189,450.28,573.883,460.093,573.883,482.099z"/>
							<path d="M496.046,212.143c-9.772-11.857-24.211-18.662-39.636-18.662H352.555c-0.16-0.01-0.318-0.024-0.48-0.024
								c-4.297,0-7.781,3.484-7.781,7.781s3.484,7.781,7.781,7.781c0.101,0,0.2-0.011,0.3-0.015v0.038H456.41
								c10.757,0,20.819,4.741,27.624,12.998c20.404,24.751,36.929,48.34,50.321,71.856l-181.742,0.031c-0.011,0-0.022-0.002-0.033-0.002
								c-0.011,0-0.022,0.002-0.033,0.002h-0.17v0.009c-4.202,0.109-7.577,3.542-7.577,7.771s3.375,7.662,7.577,7.771v0.01l208.026-0.031
								l-6.016-11.411C539.479,269.798,520.392,241.696,496.046,212.143z"/>
							<path d="M678.284,283.936h-49.086c-5.757,0-11.224,2.178-15.394,6.141l-2.531,2.407c-17.686-37.883-41.887-75.258-73.796-114.003
								c-19.979-24.242-49.522-38.153-81.067-38.153H352.376v0.015c-0.1-0.004-0.199-0.015-0.3-0.015c-4.297,0-7.781,3.484-7.781,7.781
								c0,4.297,3.484,7.781,7.781,7.781c0.101,0,0.2-0.011,0.3-0.015v0.014H456.41c26.877,0,52.043,11.846,69.055,32.489
								c33.786,41.016,58.682,80.403,76.088,120.413c0,0,25.892-9.294,27.645-9.294h49.086c3.703,0,6.712,2.967,6.712,6.608v33.329
								c0,3.475-2.759,6.38-6.286,6.608l-60.653,3.776l3.33,9.668c8.599,24.948,13.153,59.19,13.153,99.023
								c0,36.462-6.691,62.323-20.456,79.065l-1.774,2.158v80.424c0,2.365-1.961,4.284-4.367,4.284h-55.839
								c-2.407,0-4.367-1.919-4.367-4.284v-55.995H168.561v55.995c0,2.365-1.95,4.284-4.357,4.284h-55.84
								c-2.407,0-4.357-1.919-4.357-4.284v-80.435l-1.774-2.147c-13.765-16.743-20.467-42.603-20.467-79.065
								c0-13.949,0.565-27.206,1.672-39.63c0.108-0.518,0.166-1.053,0.166-1.603c0-4.317-3.5-7.817-7.817-7.817
								c-4.265,0-7.725,3.416-7.809,7.661h-0.008c-1.172,13.029-1.763,26.888-1.763,41.389c0,38.734,7.282,67.126,22.24,86.71v74.937
								c0,10.944,8.931,19.844,19.917,19.844h55.84c10.985,0,19.917-8.9,19.917-19.844v-40.435h348.055v40.435
								c0,10.944,8.942,19.844,19.927,19.844h55.839c10.985,0,19.927-8.9,19.927-19.844v-74.937c14.958-19.595,22.23-47.987,22.23-86.71
								c0-36.607-3.786-69.065-10.975-94.407l40.57-2.531c11.701-0.747,20.861-10.477,20.861-22.137v-33.329
								C700.556,293.884,690.566,283.936,678.284,283.936z"/>
						</g>
					</g>
				</svg>
					Penjadwalan<br>Kendaraan
				</a>
			</div>
			<div style="height: {menu_penjadwalan.br};"></div>
		</div>
		<!-- END menu_penjadwalan -->

		<!-- BEGIN menu_pengumuman -->
		<div class="col-md-2">
			<div class="menuicon">
				<a href="{U_PENGUMUMAN}">
					<svg class="svg" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 700 700" style="enable-background:new 0 0 700 700;" xml:space="preserve">
					<g id="Pengumuman">
						<g>
							<path d="M586.266,458.146c-25.972-32.292-36.892-74.293-29.959-115.23l2.42-14.339c9.434-55.722-6.034-112.425-42.438-155.572
								c-27.184-32.234-64.799-54.84-105.917-63.654l-3.557-0.762V62.374c0-31.912-26.36-57.874-58.762-57.874
								c-31.861,0-57.782,25.962-57.782,57.874v46.214l-3.557,0.762c-41.133,8.817-78.745,31.422-105.905,63.652
								c-36.397,43.166-51.87,99.87-42.449,155.573l2.431,14.34c6.931,40.929-3.99,82.93-29.961,115.233L28.468,560.717
								c-1.351,1.681-1.964,3.792-1.729,5.943c0.235,2.144,1.284,4.061,2.955,5.399c1.457,1.168,3.206,1.785,5.059,1.785
								c2.448,0,4.732-1.098,6.269-3.011l82.375-102.57c28.851-35.95,40.989-82.64,33.303-128.095l-2.431-14.33
								c-8.627-51.038,5.535-102.957,38.854-142.447c33.345-39.519,82.089-62.184,133.733-62.184h43.435
								c51.628,0,100.368,22.665,133.722,62.184c33.315,39.484,47.474,91.403,38.847,142.445l-2.421,14.331
								c-7.702,45.466,4.436,92.155,33.302,128.095l82.364,102.57c1.533,1.912,3.82,3.007,6.277,3.007c1.838,0,3.597-0.622,5.086-1.799
								c3.411-2.755,3.947-7.85,1.159-11.326L586.266,458.146z M390.717,105.088h-84.316V62.384c0-23.402,18.731-41.734,42.644-41.734
								c22.978,0,41.672,18.722,41.672,41.734V105.088z"/>
							<path d="M98.637,637.751c14.514,11.483,35.488,21.627,62.339,30.147c50.251,15.945,118.621,25.091,187.578,25.091
								c68.953,0,137.319-9.146,187.569-25.091c26.852-8.521,47.825-18.664,62.339-30.147c15.062-11.917,22.698-25.008,22.698-38.909
								c0-13.906-7.637-27.002-22.697-38.922c-14.513-11.486-35.486-21.631-62.336-30.153c-50.246-15.946-118.613-25.093-187.573-25.093
								c-68.96,0-137.33,9.146-187.578,25.093c-26.852,8.522-47.825,18.667-62.339,30.153c-15.062,11.92-22.699,25.016-22.699,38.922
								C75.938,612.743,83.575,625.834,98.637,637.751z M288.18,525.014c19.981-1.513,40.294-2.28,60.375-2.28
								c12.917,0,26.312,0.368,42.158,1.16l5.46,0.272l-1.317,5.306c-0.072,0.293-0.152,0.582-0.232,0.869
								c-0.127,0.454-0.258,0.924-0.258,1.142c0,30.357-24.661,55.055-54.973,55.055c-30.26,0-54.889-24.613-54.973-54.899
								c-0.02-0.083-0.045-0.165-0.067-0.247c-0.097-0.354-0.189-0.709-0.256-1.073l-0.909-4.926L288.18,525.014z M140.319,556.538
								c21.912-9.53,61.041-22.337,123.014-29.222l4.976-0.553l0.021,5.007c0.164,39.115,32.042,70.938,71.062,70.938
								c39.096,0,70.922-31.784,71.081-70.912c-0.077-0.283-0.188-0.701-0.252-1.216l-0.675-5.496l5.519,0.464
								c68.258,5.744,111.92,18.864,136.529,28.858c33.234,13.498,51.538,29.279,51.538,44.436c0.013,17.979-25.511,36.671-70.024,51.277
								c-48.755,15.999-114.297,24.81-184.552,24.81c-150.032,0-254.587-40.099-254.587-76.087
								C93.967,584.563,110.429,569.54,140.319,556.538z"/>
						</g>
					</g>
				</svg>
					Pengumuman
				</a>
			</div>
			<div style="height: {menu_pengumuman.br};"></div>
		</div>
		<!-- END menu_pengumuman -->

		<!-- BEGIN menu_jenis_discount -->
		<div class="col-md-2">
			<div class="menuicon">
				<a href="{U_JENIS_DISCOUNT}">
					<svg class="svg" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 700 700" style="enable-background:new 0 0 700 700;" xml:space="preserve">
					<g id="Jenis_Discount">
						<g>
							<path d="M376.518,686.253l309.762-309.788c7.138-7.153,10.908-16.558,10.614-26.479c-0.293-9.9-4.603-19.045-12.136-25.748
								L348.071,25.039C334.462,12.954,310.174,3.84,291.576,3.84c-0.378,0-0.749,0.004-1.126,0.012L47.166,9.08
								C26.592,9.512,9.505,26.596,9.074,47.163L3.82,290.463c-0.388,18.504,8.92,43.803,21.189,57.592l299.27,336.682
								c6.87,7.736,16.638,12.173,26.8,12.173h0.002C360.611,696.91,369.645,693.125,376.518,686.253z M335.712,674.578L36.438,337.893
								c-9.698-10.899-17.633-32.471-17.327-47.104l5.253-243.3c0.258-12.272,10.849-22.86,23.127-23.118l243.281-5.229
								c0.268-0.005,0.534-0.008,0.804-0.008c14.784,0,35.571,7.778,46.339,17.339l336.679,299.194c4.355,3.876,6.845,9.122,7.013,14.772
								c0.168,5.673-2.016,11.078-6.148,15.217L365.702,675.438c-3.984,3.984-9.177,6.179-14.621,6.179
								C345.2,681.616,339.742,679.117,335.712,674.578z"/>
							<path d="M144.47,91.917c-14.049,0-27.253,5.474-37.179,15.413c-20.507,20.537-20.506,53.907,0.002,74.387
								c9.94,9.939,23.154,15.412,37.211,15.412s27.27-5.47,37.203-15.403c9.943-9.929,15.415-23.135,15.409-37.188
								c-0.004-14.063-5.49-27.277-15.448-37.207C171.727,97.39,158.518,91.917,144.47,91.917z M170.896,170.908
								c-7.045,7.045-16.418,10.927-26.392,10.927c-9.973,0-19.349-3.884-26.401-10.936c-14.542-14.521-14.539-38.191,0.009-52.762
								c7.037-7.046,16.397-10.926,26.357-10.926c9.963,0,19.335,3.886,26.391,10.941c7.063,7.043,10.957,16.417,10.96,26.391
								C181.826,154.505,177.945,163.869,170.896,170.908z"/>
						</g>
					</g>
				</svg>
					Jenis Discount
				</a>
			</div>
			<div style="height: {menu_jenis_discount.br};"></div>
		</div>
		<!-- END menu_jenis_discount -->

		<!-- BEGIN menu_status_online -->
		<div class="col-md-2">
			<div class="menuicon">
				<a href="{U_USER_LOGIN}">
					<svg class="svg" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 700 700" style="enable-background:new 0 0 700 700;" xml:space="preserve">
					<g id="Status_Online_User">
						<path d="M654.355,677.61C646.81,571.526,583,475.532,487.821,427.019l-16.706-8.514l14.731-11.604
							c53.742-42.331,84.565-105.646,84.565-173.712C570.412,111.225,471.188,12,349.223,12s-221.189,99.225-221.189,221.189
							c0,68.064,30.823,131.38,84.567,173.712l14.731,11.604l-16.708,8.515c-95.156,48.5-158.966,144.493-166.529,250.518l-0.071,1.215
							c-0.005,0.154-0.012,0.309-0.021,0.462c0.13,5.073,4.323,9.175,9.415,9.175c5.193,0,9.418-4.225,9.418-9.418
							c0-0.305-0.031-0.699-0.096-1.206l-0.161-1.262l0.106-1.264c4.53-53.935,24.197-105.303,56.875-148.549
							c32.082-42.457,75.144-75.172,124.531-94.606l4.873-1.917l4.72,2.269c30.305,14.562,62.449,21.945,95.54,21.945
							c33.093,0,65.237-7.384,95.539-21.945l4.72-2.269l4.872,1.917c49.388,19.436,92.45,52.149,124.532,94.606
							c32.678,43.247,52.345,94.614,56.874,148.549l0.106,1.26l-0.16,1.255c-0.065,0.514-0.097,0.912-0.097,1.217
							c0,5.193,4.225,9.418,9.418,9.418c5.094,0,9.286-4.103,9.415-9.176c-0.01-0.171-0.018-0.326-0.022-0.481L654.355,677.61z
							 M349.223,435.982c-111.82,0-202.792-90.973-202.792-202.793c0-111.819,90.972-202.791,202.792-202.791
							s202.792,90.972,202.792,202.791C552.015,345.01,461.042,435.982,349.223,435.982z"/>
					</g>
				</svg>
					Status On-Line<br>User
				</a>
			</div>
			<div style="height: {menu_status_online.br};"></div>
		</div>
		<!-- END menu_status_online -->

		<!-- BEGIN menu_promo -->
		<div class="col-md-2">
			<div class="menuicon">
				<a href="{U_PROMO}">
					<svg class="svg" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 700 700" style="enable-background:new 0 0 700 700;" xml:space="preserve">
				<g id="Promo">
					<path d="M573.64,458.059c3.455,0,6.483-2.208,7.536-5.495l89.594-279.533c0.753-2.335,0.363-4.927-1.041-6.94
						c-1.405-2.014-3.706-3.278-6.153-3.383l-415.708-17.918c-0.132-0.005-0.256-0.008-0.38-0.008c-4.23,0-7.687,3.329-7.869,7.579
						c-0.186,4.362,3.209,8.063,7.569,8.25l405.344,17.474l-84.66,264.143H207.537L144.229,97.514c-0.5-2.71-2.328-4.93-4.891-5.936
						L38.99,52.156c-0.927-0.363-1.899-0.548-2.884-0.548c-3.289,0-6.189,1.972-7.389,5.024c-1.595,4.065,0.411,8.673,4.474,10.269
						l96.248,37.811l63.711,346.867c0.692,3.758,3.969,6.486,7.792,6.486l23.617,0l-27.875,77.427c-0.918,2.552-0.538,5.396,1.018,7.604
						c1.567,2.227,4.116,3.553,6.822,3.553h22.291h15.767h14.86c-28.346,3.982-50.231,28.381-50.231,57.807
						c0,32.195,26.193,58.388,58.388,58.388c32.196,0,58.389-26.192,58.389-58.388c0-29.426-21.885-53.825-50.231-57.807h21.726h183.629
						h5.666c-28.346,3.982-50.231,28.381-50.231,57.807c0,32.195,26.193,58.388,58.389,58.388s58.388-26.192,58.388-58.388
						c0-29.426-21.885-53.825-50.23-57.807h30.914h41.634c4.596,0,8.335-3.739,8.335-8.334c0-4.597-3.74-8.336-8.335-8.336H216.385
						l25.886-71.915L573.64,458.059z M312.988,604.455c0,26.13-21.258,47.388-47.389,47.388c-26.13,0-47.388-21.258-47.388-47.388
						s21.258-47.389,47.388-47.389C291.729,557.066,312.988,578.325,312.988,604.455z M540.323,604.455
						c0,26.13-21.258,47.388-47.388,47.388s-47.389-21.258-47.389-47.388s21.259-47.389,47.389-47.389S540.323,578.325,540.323,604.455z
						"/>
				</g>
				</svg>
					Promo
				</a>
			</div>
			<div style="height: {menu_promo.br};"></div>
		</div>
		<!-- END menu_promo -->

		<!-- BEGIN daftar_manifest -->
		<div class="col-md-2">
			<div class="menuicon">
				<a href="{U_DAFTAR_MANIFEST}">
					<svg class="svg" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 700 700" style="enable-background:new 0 0 700 700;" xml:space="preserve">
					<g id="Daftar_Manifest">
						<path d="M691.405-2.896H8.594C2.95-2.896-1.641,1.707-1.641,7.365V691.39c0,5.658,4.591,10.262,10.235,10.262h580.403
							c5.644,0,10.236-4.603,10.236-10.262c0-5.657-4.592-10.26-10.236-10.26H18.83V17.626h662.341V691.39
							c0,5.658,4.591,10.262,10.234,10.262c5.644,0,10.236-4.603,10.236-10.262V7.365C701.641,1.707,697.049-2.896,691.405-2.896z"/>
						<path d="M152.994,148.063c-28.273,0-51.275,23.046-51.275,51.374c0,28.328,23.002,51.374,51.275,51.374
							c28.273,0,51.275-23.046,51.275-51.374C204.269,171.109,181.267,148.063,152.994,148.063z M152.994,230.288
							c-16.985,0-30.804-13.84-30.804-30.852s13.819-30.851,30.804-30.851c16.986,0,30.805,13.84,30.805,30.851
							S169.98,230.288,152.994,230.288z"/>
						<path d="M589.948,189.175H251.972c-5.644,0-10.235,4.603-10.235,10.261s4.591,10.261,10.235,10.261h337.976
							c5.644,0,10.236-4.603,10.236-10.261S595.592,189.175,589.948,189.175z"/>
						<path d="M101.719,349.377c0,28.327,23.002,51.373,51.275,51.373c28.273,0,51.275-23.046,51.275-51.373
							c0-28.327-23.002-51.374-51.275-51.374c-5.644,0-10.235,4.603-10.235,10.26c0,5.658,4.591,10.261,10.235,10.261
							c16.986,0,30.805,13.84,30.805,30.852c0,17.012-13.819,30.851-30.805,30.851c-16.985,0-30.804-13.84-30.804-30.851
							c0-5.658-4.592-10.261-10.236-10.261S101.719,343.72,101.719,349.377z"/>
						<path d="M589.948,339.116H251.972c-5.644,0-10.235,4.603-10.235,10.261c0,5.658,4.591,10.261,10.235,10.261h337.976
							c5.644,0,10.236-4.603,10.236-10.261C600.184,343.72,595.592,339.116,589.948,339.116z"/>
						<path d="M152.994,447.945c-28.273,0-51.275,23.046-51.275,51.374c0,28.327,23.002,51.373,51.275,51.373
							c28.273,0,51.275-23.046,51.275-51.373C204.269,470.991,181.267,447.945,152.994,447.945z M152.994,530.17
							c-16.985,0-30.804-13.84-30.804-30.851c0-17.012,13.819-30.852,30.804-30.852c16.986,0,30.805,13.84,30.805,30.852
							C183.799,516.33,169.98,530.17,152.994,530.17z"/>
						<path d="M589.948,489.057H251.972c-5.644,0-10.235,4.603-10.235,10.262c0,5.657,4.591,10.26,10.235,10.26h337.976
							c5.644,0,10.236-4.603,10.236-10.26C600.184,493.661,595.592,489.057,589.948,489.057z"/>
					</g>
				</svg>
					Daftar Manifest
				</a>
			</div>
			<div style="height: {daftar_manifest.br};"></div>
		</div>
		<!-- END daftar_manifest -->

		<!-- BEGIN menu_pembatalan -->
		<div class="col-md-2">
			<div class="menuicon">
				<a href="{U_BATAL}">
					<svg class="svg" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 700 700" style="enable-background:new 0 0 700 700;" xml:space="preserve">
					<g id="Pembatalan">
						<path style="display:inline;" d="M429.72,679.81h-20.86h-94.28V594.5h19.99c-4.89-6.6-9.31-13.57-13.21-20.86h-149.8v20.86h122.17
		v85.31h-48.36v20.84h232.7v-20.84H429.72z"/>
						<path style="display:inline;" d="M556.52,260.84L545.27,80.5c-3.08-45.62-41.33-81.38-87.08-81.38H245.83
		c-45.45,0-83.69,35.55-87.06,80.94l-12.4,180.78H53.42v189.25c0,27.05,22.01,49.05,49.05,49.05h0.78c6.28,0,12.45-1.21,18.35-3.6
		l8.54-3.45l1.89,9.01c5.58,26.49,29.3,45.72,56.39,45.72h121.39c-2.25-6.77-4.09-13.74-5.48-20.86H188.42
		c-20.28,0-36.78-16.5-36.78-36.78l0.02-0.86l0.38-5.27c2.55-18.01,18.18-31.59,36.37-31.59h117.81c1.77-7.14,4-14.11,6.66-20.86
		H188.42c-7.6,0-14.97,1.46-21.92,4.35l-11.5,4.78l24.58-358.19c2.55-34.54,31.65-61.56,66.25-61.56h212.36
		c34.82,0,63.93,27.17,66.28,61.86l14.51,232.62c1.35,0.5,2.7,1.02,4.04,1.57c0.57,0.23,1.14,0.46,1.71,0.69
		c0.5,0.21,1,0.41,1.5,0.63c0.52,0.21,1.03,0.43,1.54,0.66c1.62,0.7,3.22,1.42,4.81,2.16c0.7,0.33,1.4,0.66,2.09,0.99
		c0.7,0.34,1.39,0.68,2.08,1.02c2.92,1.45,5.79,2.97,8.62,4.56c0.52,0.29,1.03,0.58,1.54,0.88c1.04,0.6,2.07,1.2,3.1,1.82V281.7
		h57.18v100.54c0.09,0.12,0.18,0.25,0.28,0.39c0.82,1.15,1.62,2.31,2.41,3.48c0.23,0.33,0.46,0.67,0.7,1.02
		c0.38,0.58,0.76,1.15,1.14,1.73c1.65,2.53,3.24,5.1,4.77,7.71c0.3,0.5,0.6,1.01,0.89,1.52c2.69,4.67,5.18,9.47,7.48,14.39
		c0.35,0.75,0.7,1.52,1.04,2.28c0.37,0.82,0.74,1.64,1.09,2.47c0.36,0.82,0.71,1.65,1.06,2.49V260.84H556.52z M131.46,450.09
		c0,15.54-12.65,28.19-28.21,28.19h-0.78c-15.54,0-28.19-12.65-28.19-28.19V281.7h57.18V450.09z"/>
						<path style="display:inline;" d="M307.767,451.552h-20.23c-2.97,13.36-4.53,27.24-4.53,41.49c0,11.26,0.98,22.29,2.85,33.01h20.02
		c-2.09-10.68-3.19-21.72-3.19-33.01C302.687,478.732,304.447,464.832,307.767,451.552z M307.767,451.552h-20.23
		c-2.97,13.36-4.53,27.24-4.53,41.49c0,11.26,0.98,22.29,2.85,33.01h20.02c-2.09-10.68-3.19-21.72-3.19-33.01
		C302.687,478.732,304.447,464.832,307.767,451.552z M649.597,419.812c-0.35-0.84-0.7-1.67-1.06-2.49
		c-0.35-0.83-0.72-1.65-1.09-2.47c-0.34-0.76-0.69-1.53-1.04-2.28c-2.3-4.92-4.79-9.72-7.48-14.39c-0.29-0.51-0.59-1.02-0.89-1.52
		c-1.53-2.61-3.12-5.18-4.77-7.71c-0.38-0.58-0.76-1.15-1.14-1.73c-0.24-0.35-0.47-0.69-0.7-1.02c-0.79-1.17-1.59-2.33-2.41-3.48
		c-0.1-0.14-0.19-0.27-0.28-0.39c-15.21-21.28-34.69-39.3-57.18-52.8c-1.03-0.62-2.06-1.22-3.1-1.82c-0.51-0.3-1.02-0.59-1.54-0.88
		c-2.83-1.59-5.7-3.11-8.62-4.56c-0.69-0.34-1.38-0.68-2.08-1.02c-0.69-0.33-1.39-0.66-2.09-0.99c-1.59-0.74-3.19-1.46-4.81-2.16
		c-0.51-0.23-1.02-0.45-1.54-0.66c-0.5-0.22-1-0.42-1.5-0.63c-0.57-0.23-1.14-0.46-1.71-0.69c-1.34-0.55-2.69-1.07-4.04-1.57
		c-20.82-7.82-43.38-12.09-66.93-12.09c-83.42,0-154.33,53.59-180.15,128.23c-2.36,6.79-4.33,13.75-5.91,20.86
		c-2.97,13.36-4.53,27.24-4.53,41.49c0,11.26,0.98,22.29,2.85,33.01c1.24,7.09,2.87,14.06,4.88,20.86
		c2.71,9.25,6.12,18.22,10.15,26.82c4.37,9.34,9.47,18.27,15.24,26.7c22.7,33.22,55.65,58.89,94.28,72.46
		c6.79,2.39,13.75,4.4,20.86,6.01c1.55,0.35,3.11,0.69,4.68,1c12.17,2.44,24.76,3.72,37.65,3.72c2.01,0,4.02-0.03,6.02-0.1
		c102.46-3.17,184.56-87.24,184.56-190.48C664.177,467.092,658.987,442.352,649.597,419.812z M473.597,663.952
		c-14.61,0-28.79-1.83-42.33-5.29c-7.15-1.81-14.11-4.09-20.86-6.78c-29.81-11.86-55.49-31.88-74.29-57.29
		c-4.89-6.6-9.31-13.57-13.21-20.86c-4.59-8.53-8.46-17.49-11.55-26.82c-2.25-6.77-4.09-13.74-5.48-20.86
		c-2.09-10.68-3.19-21.72-3.19-33.01c0-14.31,1.76-28.21,5.08-41.49c1.77-7.14,4-14.11,6.66-20.86
		c24.91-63.56,86.78-108.56,159.17-108.56c24.27,0,47.37,5.06,68.28,14.19c0.93,0.41,1.86,0.82,2.78,1.24
		c0.54,0.25,1.09,0.5,1.63,0.76c0.96,0.45,1.93,0.92,2.88,1.39c0.16,0.08,0.32,0.15,0.47,0.23c0.78,0.38,1.55,0.78,2.32,1.17
		c0.02,0.02,0.05,0.03,0.07,0.04c0.47,0.24,0.93,0.48,1.39,0.73c0.8,0.42,1.61,0.85,2.4,1.3c0.46,0.24,0.91,0.49,1.36,0.75
		c0.64,0.35,1.28,0.71,1.91,1.08c0.59,0.35,1.18,0.7,1.77,1.05c0.61,0.36,1.22,0.73,1.82,1.1c0.6,0.36,1.21,0.74,1.81,1.12
		c2.4,1.5,4.75,3.07,7.07,4.7c24.59,17.23,44.44,40.77,57.18,68.28c0.48,1.02,0.94,2.05,1.39,3.08c0.4,0.9,0.78,1.8,1.16,2.71
		c0.41,0.97,0.81,1.95,1.2,2.94c0.39,0.98,0.77,1.97,1.14,2.96c0.15,0.38,0.29,0.76,0.43,1.14c0.02,0.06,0.05,0.12,0.07,0.18
		c0.72,1.96,1.4,3.95,2.05,5.95c0.35,1.07,0.68,2.14,1.01,3.22c0.33,1.09,0.65,2.19,0.96,3.29c0.31,1.1,0.61,2.2,0.89,3.31
		c0.2,0.78,0.4,1.57,0.58,2.35c0.06,0.22,0.11,0.43,0.16,0.65c0.01,0.02,0.02,0.04,0.02,0.06c0.07,0.28,0.14,0.57,0.2,0.85
		c0,0.01,0,0.02,0.01,0.03c0.18,0.75,0.35,1.51,0.52,2.28c0.03,0.14,0.06,0.28,0.09,0.42c0.02,0.08,0.04,0.17,0.06,0.25
		c0.23,1.06,0.44,2.13,0.65,3.2c0.22,1.13,0.43,2.26,0.63,3.4c0.01,0.02,0.01,0.05,0.01,0.09c0.01,0.07,0.03,0.15,0.04,0.22
		c0.12,0.66,0.23,1.31,0.33,1.98c0,0.05,0.01,0.11,0.02,0.16c0.02,0.1,0.04,0.2,0.05,0.3c0.08,0.48,0.15,0.98,0.23,1.47
		c0,0.03,0.01,0.05,0.01,0.08c0.09,0.6,0.18,1.21,0.26,1.82c0.04,0.3,0.08,0.61,0.12,0.91c0.01,0.11,0.03,0.21,0.04,0.32
		c0.01,0.06,0.02,0.11,0.02,0.17c0.13,0.95,0.25,1.92,0.35,2.88c0.7,6.27,1.06,12.65,1.06,19.11
		C644.497,587.432,567.987,663.952,473.597,663.952z M307.767,451.552h-20.23c-2.97,13.36-4.53,27.24-4.53,41.49
		c0,11.26,0.98,22.29,2.85,33.01h20.02c-2.09-10.68-3.19-21.72-3.19-33.01C302.687,478.732,304.447,464.832,307.767,451.552z"/>
						<g id="Close" style="display:inline;">
							<path d="M493.737,493.042l60.434-60.434c5.563-5.563,5.563-14.582,0-20.145c-5.563-5.563-14.582-5.563-20.145,0l-60.435,60.435
			l-60.435-60.436c-5.563-5.563-14.582-5.563-20.145,0c-5.562,5.563-5.562,14.582,0,20.145l60.435,60.434l-60.435,60.435
			c-5.562,5.563-5.562,14.582,0,20.145c5.563,5.563,14.582,5.563,20.145,0l60.435-60.435l60.435,60.435
			c5.562,5.563,14.582,5.563,20.145,0c5.563-5.563,5.563-14.582,0-20.145L493.737,493.042z"/>
						</g>
					</g>
				</svg>
					Pembatalan
				</a>
			</div>
			<div style="height: {menu_pembatalan.br};"></div>
		</div>
		<!-- END menu_pembatalan -->

		<!-- BEGIN menu_laporan_pembatalan -->
		<div class="col-md-2">
			<div class="menuicon">
				<a href="{U_LOG_BATAL}">
					<svg class="svg" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 700 700" style="enable-background:new 0 0 700 700;" xml:space="preserve">
					<g id="Laporan_Pembatalan">
						<path style="display:inline;" d="M341.256,70.663c5.952,0,10.781,4.829,10.781,10.782c0,5.952-4.829,10.781-10.781,10.781H28.565
						v388.292H675.42V92.225H384.312c-5.951,0-10.781-4.829-10.781-10.781c0-5.952,4.829-10.782,10.781-10.782h301.619h0.269
						c5.952,0,10.782,4.829,10.782,10.782v409.586v0.267c0,5.952-4.829,10.782-10.782,10.782H18.075h-0.292
						c-5.952-0.001-10.781-4.83-10.781-10.782V81.735v-0.292c0-5.952,4.829-10.782,10.781-10.782L341.256,70.663L341.256,70.663z"/>
						<path style="display:inline;" d="M330.453,16.735c0-5.929,4.829-10.736,10.736-10.736c5.929,0,10.736,4.806,10.736,10.736
						l0.023,64.687c0,5.929-4.806,10.736-10.736,10.736s-10.736-4.806-10.736-10.736L330.453,16.735z"/>
						<path style="display:inline;" d="M330.497,534.243c0-5.932,4.806-10.737,10.736-10.737s10.736,4.807,10.736,10.737l-0.045,107.877
						c0,5.906-4.806,10.734-10.736,10.734s-10.736-4.806-10.736-10.734L330.497,534.243z"/>
						<path style="display:inline;" d="M179.902,531.301c1.618-5.727,7.569-9.029,13.296-7.412c5.705,1.618,9.029,7.569,7.412,13.296
						l-43.034,150.977c-1.617,5.728-7.569,9.031-13.296,7.412c-5.705-1.617-9.029-7.569-7.412-13.296L179.902,531.301z"/>
						<path style="display:inline;" d="M481.813,537.185c-1.618-5.727,1.684-11.678,7.412-13.296c5.727-1.619,11.678,1.684,13.296,7.412
						l43.102,150.977c1.618,5.706-1.683,11.679-7.411,13.296c-5.707,1.619-11.679-1.684-13.297-7.412L481.813,537.185z"/>
						<path style="display:inline;" d="M17.783,545.228c-5.952,0-10.781-4.828-10.781-10.781c0-5.953,4.829-10.781,10.781-10.781h668.418
						c5.952,0,10.782,4.828,10.782,10.781c0,5.928-4.829,10.781-10.782,10.781H17.783z"/>
						<g style="display:inline;">
							<path d="M658.951,323.448c-0.18-0.432-0.36-0.86-0.546-1.282c-0.081-0.191-0.167-0.379-0.251-0.568V241.62h-47.113l-5.791-92.826
							c-1.585-23.482-21.274-41.889-44.823-41.889H451.12c-23.394,0-43.078,18.299-44.812,41.662l-6.383,93.053h-47.844v97.412
							c0,13.923,11.329,25.247,25.247,25.247h0.402c3.232,0,6.408-0.623,9.445-1.853l4.396-1.776l0.973,4.638
							c2.872,13.635,15.082,23.533,29.026,23.533h52.652c0.005,0.016,0.009,0.032,0.013,0.047c1.39,4.745,3.139,9.345,5.203,13.758
							h-66.547v10.737h62.884v43.911h-24.892v10.727h119.777V459.2c0.265-0.007,0.532-0.004,0.796-0.013
							c52.739-1.632,94.998-44.905,94.998-98.045C666.455,347.784,663.784,335.05,658.951,323.448z M392.251,339.033
							c0,7.999-6.511,14.51-14.521,14.51h-0.402c-7.999,0-14.51-6.511-14.51-14.51v-86.675h29.432V339.033z M647.417,252.358V303.1
							c-7.711-10.487-17.439-19.401-28.636-26.122c-0.265-0.159-0.531-0.312-0.796-0.467v-24.153H647.417z M417.019,149.329
							c1.313-17.779,16.291-31.687,34.101-31.687h109.308c17.923,0,32.907,13.985,34.116,31.841l7.454,119.499
							c-10.492-3.835-21.821-5.939-33.64-5.939c-42.921,0-79.407,27.562-92.711,65.956H421.57c-3.912,0-7.705,0.752-11.283,2.239
							l-5.919,2.46L417.019,149.329z M402.638,359.153l0.01-0.443l0.196-2.713c1.313-9.27,9.358-16.26,18.721-16.26h51.035
							c-0.004,0.016-0.008,0.031-0.011,0.047c-1.529,6.877-2.332,14.021-2.332,21.356c0,5.779,0.503,11.441,1.46,16.944H421.57
							C411.131,378.085,402.638,369.592,402.638,359.153z M535.036,457.276h-48.529v-42.074c0.268,0.404,0.523,0.816,0.796,1.216
							c11.684,17.099,28.645,30.312,48.529,37.297c3.495,1.23,7.078,2.265,10.737,3.094c0.725,0.164,1.455,0.32,2.188,0.467h-2.984
							H535.036z M568.358,449.113c-7.52,0-14.819-0.942-21.789-2.723c-3.68-0.932-7.263-2.105-10.737-3.49
							c-15.344-6.105-28.562-16.41-38.239-29.489c-2.517-3.397-4.792-6.985-6.8-10.737c-2.363-4.391-4.355-9.003-5.945-13.805
							c-1.158-3.485-2.105-7.072-2.821-10.737c-1.076-5.497-1.642-11.18-1.642-16.991c0-7.366,0.906-14.52,2.615-21.356
							c0.911-3.675,2.059-7.263,3.428-10.737c12.822-32.716,44.668-55.879,81.929-55.879c12.492,0,24.383,2.605,35.146,7.304
							c0.479,0.211,0.957,0.422,1.431,0.638c0.278,0.129,0.561,0.257,0.839,0.391c0.494,0.232,0.993,0.474,1.482,0.715
							c0.082,0.041,0.165,0.077,0.242,0.118c0.401,0.196,0.798,0.402,1.194,0.602c0.01,0.01,0.026,0.015,0.036,0.021
							c0.242,0.124,0.479,0.247,0.716,0.376c0.412,0.216,0.829,0.438,1.235,0.669c0.237,0.124,0.468,0.252,0.7,0.386
							c0.329,0.18,0.659,0.365,0.983,0.556c0.304,0.18,0.607,0.36,0.911,0.54c0.314,0.185,0.628,0.376,0.937,0.566
							c0.309,0.185,0.623,0.381,0.932,0.577c1.235,0.772,2.445,1.58,3.639,2.419c12.657,8.869,22.875,20.985,29.432,35.146
							c0.247,0.525,0.484,1.055,0.716,1.585c0.206,0.463,0.401,0.927,0.597,1.395c0.211,0.499,0.417,1.004,0.618,1.513
							c0.201,0.504,0.396,1.014,0.587,1.524c0.077,0.196,0.149,0.391,0.221,0.587c0.01,0.031,0.026,0.062,0.036,0.093
							c0.371,1.009,0.721,2.033,1.055,3.063c0.18,0.551,0.35,1.102,0.52,1.657c0.17,0.561,0.335,1.127,0.494,1.694
							c0.16,0.566,0.314,1.132,0.458,1.704c0.103,0.401,0.206,0.808,0.299,1.21c0.031,0.113,0.057,0.221,0.082,0.335
							c0.005,0.01,0.01,0.021,0.01,0.031c0.036,0.144,0.072,0.293,0.103,0.438c0,0.005,0,0.01,0.005,0.015
							c0.093,0.386,0.18,0.777,0.268,1.174c0.016,0.072,0.031,0.144,0.046,0.216c0.01,0.041,0.021,0.088,0.031,0.129
							c0.118,0.546,0.227,1.096,0.335,1.647c0.113,0.582,0.221,1.163,0.324,1.75c0.005,0.01,0.005,0.026,0.005,0.046
							c0.005,0.036,0.015,0.077,0.021,0.113c0.062,0.34,0.118,0.674,0.17,1.019c0,0.026,0.005,0.057,0.01,0.082
							c0.01,0.052,0.021,0.103,0.026,0.154c0.041,0.247,0.077,0.504,0.118,0.757c0,0.015,0.005,0.026,0.005,0.041
							c0.046,0.309,0.093,0.623,0.134,0.937c0.021,0.154,0.041,0.314,0.062,0.468c0.005,0.057,0.015,0.108,0.021,0.165
							c0.005,0.031,0.01,0.057,0.01,0.087c0.067,0.489,0.129,0.988,0.18,1.482c0.36,3.227,0.546,6.511,0.546,9.836
							C656.325,409.726,616.944,449.113,568.358,449.113z"/>
							<path d="M609.832,319.665c-2.863-2.863-7.506-2.863-10.369,0l-31.107,31.107l-31.107-31.108c-2.863-2.863-7.506-2.863-10.369,0
							c-2.863,2.863-2.863,7.506,0,10.369l31.107,31.107l-31.107,31.107c-2.863,2.863-2.863,7.506,0,10.369
							c2.863,2.863,7.506,2.863,10.369,0l31.107-31.108l31.107,31.108c2.863,2.863,7.506,2.863,10.369,0
							c2.863-2.863,2.863-7.506,0-10.369l-31.107-31.107l31.107-31.107C612.695,327.171,612.695,322.528,609.832,319.665z"/>
						</g>
						<path style="display:inline;" d="M332.877,329.514l-34.385,38.693l-77.849-97.276c-0.516-0.741-1.123-1.436-1.841-2.043
						c-4.514-3.863-11.297-3.346-15.161,1.168l-89.616,104.149l-53.119-0.09c-5.929,0-10.736,4.805-10.736,10.736
						c0,5.926,4.806,10.734,10.736,10.734l58.061,0.093c3.256,0,6.176-1.44,8.175-3.776l0.023,0.024l84.383-98.085l78.185,97.702
						c3.683,4.625,10.444,5.369,15.071,1.684c0.471-0.402,0.92-0.81,1.325-1.257l0.023,0.023l26.726-30.072V329.514z"/>
					</g>
				</svg>
					Laporan<br>Pembatalan
				</a>
			</div>
			<div style="height: {menu_laporan_pembatalan.br};"></div>
		</div>
		<!-- END menu_laporan_pembatalan -->

		<!-- BEGIN menu_laporan_koreksi_disc -->
		<div class="col-md-2">
			<div class="menuicon">
				<a href="{U_LOG_KOREKSI_DISC}">
					<svg class="svg" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 700 700" style="enable-background:new 0 0 700 700;" xml:space="preserve">
					<g id="Laporan_Koreksi_Discount"  >
						<g style="display:inline;">
							<path d="M392.814,164.777c-8.479,0-16.447,3.303-22.438,9.302c-12.371,12.389-12.367,32.523,0.006,44.881
							c5.995,5.995,13.968,9.297,22.448,9.297c8.481,0,16.453-3.301,22.443-9.292c6-5.992,9.303-13.962,9.3-22.443
							c-0.003-8.487-3.314-16.46-9.318-22.448C409.26,168.079,401.29,164.777,392.814,164.777z M403.984,196.53
							c0.001,2.974-1.157,5.769-3.265,7.873c-2.105,2.106-4.907,3.266-7.89,3.267c-2.981,0-5.784-1.161-7.896-3.272
							c-4.345-4.339-4.34-11.413,0.01-15.769c2.102-2.104,4.896-3.262,7.87-3.262c2.977,0,5.778,1.162,7.893,3.277
							C402.82,190.75,403.983,193.55,403.984,196.53z"/>
							<path d="M662.967,294.328c-0.194-6.57-3.04-12.625-8.017-17.053L494.348,134.553c-7.693-6.831-20.883-11.789-31.363-11.789
							c-0.226,0-0.447,0.002-0.68,0.007l-116.045,2.494c-13.327,0.28-24.396,11.348-24.675,24.669l-2.505,116.057
							c-0.219,10.462,4.848,24.232,11.785,32.029l142.75,160.596c4.537,5.108,11.008,8.039,17.754,8.039
							c6.323,0,12.302-2.497,16.833-7.03l147.763-147.774C660.675,307.13,663.162,300.907,662.967,294.328z M642.388,294.937
							c0.025,0.872-0.317,1.69-0.99,2.364L493.645,445.066c-0.656,0.654-1.442,1.001-2.276,1.001c-1.127,0-1.905-0.611-2.362-1.125
							L346.249,284.338c-3.496-3.93-6.697-12.635-6.586-17.91l2.506-116.057c0.048-2.318,2.206-4.474,4.528-4.523l116.047-2.494
							l0.241-0.002c5.372,0,13.804,3.143,17.689,6.593l160.595,142.714C641.975,293.289,642.362,294.076,642.388,294.937z"/>
						</g>
						<path style="display:inline;" d="M341.256,70.663c5.952,0,10.781,4.829,10.781,10.782c0,5.952-4.829,10.781-10.781,10.781H28.565
						v388.292H675.42V92.225H384.312c-5.951,0-10.781-4.829-10.781-10.781c0-5.952,4.829-10.782,10.781-10.782h301.619h0.269
						c5.952,0,10.782,4.829,10.782,10.782v409.586v0.267c0,5.952-4.829,10.782-10.782,10.782H18.075h-0.292
						c-5.952-0.001-10.781-4.83-10.781-10.782V81.735v-0.292c0-5.952,4.829-10.782,10.781-10.782L341.256,70.663L341.256,70.663z"/>
						<path style="display:inline;" d="M330.453,16.735c0-5.929,4.829-10.736,10.736-10.736c5.929,0,10.736,4.806,10.736,10.736
						l0.023,64.687c0,5.929-4.806,10.736-10.736,10.736s-10.736-4.806-10.736-10.736L330.453,16.735z"/>
						<path style="display:inline;" d="M330.497,534.243c0-5.932,4.806-10.737,10.736-10.737s10.736,4.807,10.736,10.737l-0.045,107.877
						c0,5.906-4.806,10.734-10.736,10.734s-10.736-4.806-10.736-10.734L330.497,534.243z"/>
						<path style="display:inline;" d="M179.902,531.301c1.618-5.727,7.569-9.029,13.296-7.412c5.705,1.618,9.029,7.569,7.412,13.296
						l-43.034,150.977c-1.617,5.728-7.569,9.031-13.296,7.412c-5.705-1.617-9.029-7.569-7.412-13.296L179.902,531.301z"/>
						<path style="display:inline;" d="M481.813,537.185c-1.618-5.727,1.684-11.678,7.412-13.296c5.727-1.619,11.678,1.684,13.296,7.412
						l43.102,150.977c1.618,5.706-1.683,11.679-7.411,13.296c-5.707,1.619-11.679-1.684-13.297-7.412L481.813,537.185z"/>
						<path style="display:inline;" d="M17.783,545.228c-5.952,0-10.781-4.828-10.781-10.781c0-5.953,4.829-10.781,10.781-10.781h668.418
						c5.952,0,10.782,4.828,10.782,10.781c0,5.928-4.829,10.781-10.782,10.781H17.783z"/>
						<path style="display:inline;" d="M330.753,330.175l-32.261,38.032l-77.849-97.276c-0.516-0.741-1.123-1.436-1.841-2.043
						c-4.514-3.863-11.297-3.346-15.161,1.168l-89.616,104.149l-53.119-0.09c-5.929,0-10.736,4.805-10.736,10.736
						c0,5.926,4.806,10.734,10.736,10.734l58.061,0.093c3.256,0,6.176-1.44,8.175-3.776l0.023,0.024l84.383-98.085l78.185,97.702
						c3.683,4.625,10.444,5.369,15.071,1.684c0.471-0.402,0.92-0.81,1.325-1.257l0.023,0.023l38.391-43.197L330.753,330.175z"/>
					</g>
				</svg>
					Laporan<br>Koreksi Discount
				</a>
			</div>
			<div style="height: {menu_laporan_koreksi_disc.br};"></div>
		</div>
		<!-- END menu_laporan_koreksi_disc -->

		<!-- BEGIN menu_dashboard -->
		<div class="col-md-2">
			<div class="menuicon">
				<a href="{U_DASHBOARD}">
					<svg class="svg" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 700 700" style="enable-background:new 0 0 700 700;" xml:space="preserve">
					<g id="Dashboard">
						<rect x="342.363" y="91.616"   width="18.256" height="50.161"/>
						<polygon   points="210.247,182.555 174.776,147.057 161.862,159.953 197.333,195.451 	"/>
						<rect x="100.834" y="305.379"   width="50.162" height="18.255"/>
						<path   d="M348.577,374.531c0.652,10.837,9.699,19.325,20.596,19.325c11.367,0,20.614-9.264,20.614-20.65
							c0-11.348-9.231-20.579-20.578-20.579h-2.984l-80.884-59.495l63.062,78.51L348.577,374.531z"/>
						<rect x="253.775" y="514.822"   width="39.863" height="78.033"/>
						<polygon   points="195.419,448.468 182.519,435.549 147.021,471.02 159.948,483.965 	"/>
						<rect x="341.787" y="514.822"   width="39.862" height="78.033"/>
						<path   d="M351.491,4C159.884,4,4,159.884,4,351.491C4,543.059,159.884,698.91,351.491,698.91
							c191.606,0,347.49-155.852,347.49-347.419C698.981,159.884,543.098,4,351.491,4z M582.484,582.538
							c-61.706,61.716-143.741,95.704-230.993,95.704c-87.256,0-169.29-33.974-230.988-95.662
							c-61.707-61.697-95.69-143.741-95.69-231.018c0-87.289,33.983-169.336,95.69-231.029c61.695-61.68,143.728-95.649,230.988-95.649
							c87.284,0,169.333,33.974,231.032,95.663c61.701,61.692,95.682,143.734,95.682,231.016
							C678.17,438.809,644.175,520.837,582.484,582.538z"/>
						<polygon   points="530.364,442.852 517.477,455.739 553.006,491.216 565.894,478.328 	"/>
						<rect x="428.286" y="514.822"   width="39.862" height="78.033"/>
						<rect x="562.537" y="305.379"   width="50.125" height="18.255"/>
						<polygon   points="540.472,160.854 504.951,196.348 517.891,209.25 553.37,173.771 	"/>
					</g>
				</svg>
					Dashboard
				</a>
			</div>
			<div style="height: {menu_dashboard.br};"></div>
		</div>
		<!-- END menu_dashboard -->

		<!-- BEGIN menu_general_total -->
		<div class="col-md-2">
			<div class="menuicon">
				<a href="{U_GT}">
					<svg class="svg" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 700 700" style="enable-background:new 0 0 700 700;" xml:space="preserve">
				<g id="General_Total">
					<polygon points="351.249,676.557 101.57,676.05 101.57,459.992 78.116,411.429 78.116,699.423 351.249,700.034 	"/>
					<path d="M475.587,150.618v77.257h23.498V113.801L390.273,5.361H78.116v71.107h23.454v-47.63h262.88V150.64L475.587,150.618z
		 M387.904,36.143l87.683,87.407v3.615h-87.683V36.143z"/>
					<path d="M657.139,253.783l-237.043-0.154l-0.301-0.015c-0.73-0.047-1.833-0.117-3.254-0.117c-19.05,0-41.295,11.428-41.295,43.636
		v402.729h320.057V297.11C695.283,268.478,670.422,256.277,657.139,253.783z M677.194,680.735H393.381V297.11
		c0-16.263,7.793-24.509,23.161-24.509c0.835,0,1.457,0.04,1.763,0.06l0.118,0.007l236.138,0.065l0.193,0.045
		c3.747,0.865,22.44,6.102,22.44,24.31V680.735z"/>
					<rect x="422.039" y="429.444" width="98.467" height="24.758"/>
					<rect x="549.804" y="429.444" width="98.511" height="24.758"/>
					<rect x="423.231" y="482.197" width="37.543" height="39.927"/>
					<rect x="483.868" y="482.197" width="37.586" height="39.927"/>
					<rect x="546.712" y="482.197" width="37.565" height="39.927"/>
					<rect x="611.081" y="482.197" width="37.543" height="39.927"/>
					<rect x="423.231" y="543.209" width="37.565" height="39.949"/>
					<rect x="483.868" y="543.209" width="37.608" height="39.949"/>
					<rect x="545.498" y="543.209" width="37.587" height="39.949"/>
					<rect x="609.888" y="543.209" width="37.543" height="39.949"/>
					<rect x="421.84" y="604.244" width="37.543" height="39.905"/>
					<rect x="482.521" y="604.244" width="37.587" height="39.905"/>
					<rect x="546.712" y="604.244" width="37.565" height="39.905"/>
					<rect x="609.888" y="604.244" width="37.521" height="39.905"/>
					<g>
						<path d="M608.509,348.477c0.255,0.014,0.537,0.044,0.837,0.077c0.186,0.02,0.381,0.042,0.583,0.059
			c0.403,0.053,0.948,0.104,1.749,0.104c0.458,0,1.048-0.036,1.618-0.1c0.39-0.056,0.792-0.177,1.108-0.343
			c0.262-0.149,0.508-0.364,0.702-0.63v0.001c-0.002,0,0.128-0.232,0.128-0.895c0-0.298-0.059-0.545-0.171-0.712
			c-0.171-0.256-0.357-0.436-0.57-0.546l-0.113-0.064c-0.277-0.172-0.737-0.305-1.152-0.412c-0.411-0.087-0.908-0.143-1.33-0.143
			c-0.564,0-1.102,0.082-1.644,0.252c-0.455,0.142-0.776,0.319-1.042,0.571c-0.365,0.348-0.596,0.664-0.792,1.085
			c-0.108,0.233-0.234,0.68-0.213,1.47l0.006,0.211L608.509,348.477z"/>
						<path d="M608.402,363.995c0.305,0.399,0.68,0.666,1.141,0.816c0.655,0.23,1.353,0.335,2.179,0.335c1.192,0,2.127-0.238,2.78-0.708
			c0.551-0.398,0.667-1.409,0.667-2.186c0-0.836-0.168-1.225-0.241-1.355c-0.169-0.303-0.352-0.503-0.633-0.694
			c-0.268-0.183-0.593-0.305-0.943-0.356l-0.251-0.026c-0.491-0.054-0.998-0.11-1.401-0.11c-0.591,0-1.247,0.009-1.621,0.079
			l-0.157,0.023c-0.439,0.042-0.841,0.101-1.133,0.166l-1.535,0.343c-0.043,1.606,0.296,2.789,1.01,3.516L608.402,363.995z"/>
						<path d="M421.84,313.979v79.918h226.475v-79.918H421.84z M546.999,377.53h-15.144v-23.805h-9.186v-12.086l1.797,0.056
			c1.254,0.042,2.502-0.075,3.734-0.338c1.14-0.258,2.165-0.67,3.11-1.256c0.838-0.529,1.535-1.263,2.06-2.172
			c0.571-0.977,0.885-2.153,0.937-3.502l0.065-1.675h12.627V377.53z M592.908,375.787h-1.654v1.743h-35.485l-0.107-1.629
			c-0.14-2.141,0.068-4.159,0.636-6.173c0.534-1.871,1.37-3.611,2.489-5.178c0.883-1.264,1.897-2.461,3.004-3.544
			c1.087-1.02,2.263-1.993,3.625-3.003c1.299-0.99,2.641-1.856,3.904-2.655c0.735-0.474,1.475-0.935,2.2-1.384
			c0.542-0.337,1.076-0.668,1.596-1c0.287-0.209,0.717-0.484,1.184-0.782l0.462-0.295c0.631-0.372,1.128-0.785,1.538-1.147
			c0.402-0.386,0.753-0.805,1.022-1.231c0.127-0.192,0.262-0.465,0.262-1.081c0-1.301-0.255-2.223-0.718-2.595
			c-0.582-0.469-1.316-0.697-2.242-0.697c-2.081,0-2.81,0.833-3.179,1.459c-0.716,1.289-1.051,3.049-0.976,5.194l0.064,1.804
			h-14.032l-0.091-1.647c-0.164-3.012,0.145-5.777,0.919-8.218c0.807-2.521,2.04-4.633,3.666-6.284
			c1.55-1.673,3.572-2.997,5.973-3.898c2.304-0.865,4.895-1.303,7.7-1.303c2.546,0,4.883,0.297,6.946,0.883
			c2.092,0.563,3.991,1.469,5.623,2.686c1.692,1.315,2.951,2.906,3.773,4.751c0.872,1.87,1.322,4.05,1.322,6.451
			c0,2.987-0.635,5.544-1.89,7.598c-1.174,1.991-2.666,3.705-4.546,5.219c-1.659,1.394-3.575,2.674-5.83,3.888
			c-0.142,0.077-0.283,0.154-0.422,0.233h13.263V375.787z M629.464,367.997c-0.575,1.702-1.558,3.288-2.997,4.829
			c-1.501,1.527-3.395,2.764-5.659,3.709c-2.387,0.984-5.285,1.481-8.62,1.481c-3.055,0-5.727-0.354-7.943-1.052
			c-2.291-0.764-4.093-1.679-5.538-2.806c-1.457-1.159-2.6-2.486-3.414-3.953c-0.79-1.409-1.343-2.754-1.687-4.1
			c-0.344-1.351-0.517-2.611-0.517-3.744c0-1.003,0.001-1.801,0.023-2.326l0.071-1.669h13.486v-8.329h-12.531l0.032-1.774
			c0.051-2.799,0.55-5.122,1.528-7.1c0.936-1.944,2.285-3.639,4.002-5.023c1.692-1.295,3.611-2.26,5.74-2.896
			c2.176-0.636,4.443-0.956,6.748-0.956c3.145,0,5.703,0.426,7.821,1.303c2.154,0.881,3.851,1.908,5.176,3.135
			c1.4,1.347,2.355,2.689,2.946,4.127c0.608,1.483,0.903,2.725,0.903,3.798c0,2.393-0.327,4.329-0.972,5.754
			c-0.606,1.34-1.323,2.386-2.132,3.111c0.107,0.067,0.216,0.137,0.328,0.211c0.774,0.525,1.446,1.231,2.026,2.114
			c0.613,0.902,1.088,1.965,1.399,3.137c0.334,1.096,0.514,2.535,0.521,4.222C630.339,364.634,630.097,366.204,629.464,367.997z"/>
					</g>
					<path d="M36.912,225.632l118.859,246.836l91.479,85.334l-1.174-126.652L126.555,182.026l0.174-0.065l-36.618-76.03L0,149.311
		l36.779,76.365L36.912,225.632z M192.016,469.965l2.814-28.269l26.008,14.649l13.245-36.982l5.889,12.146l0.653,76.332
		l-25.164,12.124l-54.264-50.363l-7.513-15.642L192.016,469.965z M21.094,156.714l61.657-29.666l15.668,32.487l-61.68,29.642
		L21.094,156.714z"/>
				</g>
				</svg>
					General Total
				</a>
			</div>
			<div style="height: {menu_general_total.br};"></div>
		</div>
		<!-- END menu_general_total -->

		<!-- BEGIN menu_berita_acara_insentif_sopir -->
		<div class="col-md-2">
			<div class="menuicon">
				<a href="{U_BERITA_ACARA}">
					<img src="{TPL}/images/icon_insentif_sopir.png" >
					Berita Acara<br>Insentif Sopir
				</a>
			</div>
			<div style="height: {menu_berita_acara_insentif_sopir.br};"></div>
		</div>
		<!-- END menu_berita_acara_insentif_sopir -->

		<!-- BEGIN menu_berita_acara_biayaoperasional -->
		<div class="col-md-2">
			<div class="menuicon">
				<a href="{U_BERITA_ACARA_BOP}">
					<img src="{TPL}/images/icon_berita_acara.png">
					Berita Acara<br>Biaya Operasional
				</a>
			</div>
			<div style="height: {menu_berita_acara_insentif_sopir.br};"></div>
		</div>
		<!-- END menu_berita_acara_biayaoperasional -->

		<!-- BEGIN menu_biaya_harian -->
		<div class="col-md-2">
			<div class="menuicon">
				<a href="{U_BIAYA_HARIAN}">
					<img src="{TPL}/images/icon_uang.png">
					Biaya Harian
				</a>
			</div>
			<div style="height: {menu_biaya_harian.br};"></div>
		</div>
		<!-- END menu_biaya_harian -->

		<!-- BEGIN menu_daftar_tiket_mitra -->
		<div class="col-md-2">
			<div class="menuicon">
				<a href="{U_DAFTAR_TIKET_MITRA}">
					<img src="{TPL}/images/icon_berita_acara.png">
					Daftar<br>Tiket Mitra
				</a>
			</div>
			<div style="height: {menu_berita_acara_insentif_sopir.br};"></div>
		</div>
		<!-- END menu_daftar_tiket_mitra -->

		<!-- BEGIN menu_daftar_tiket_mitra -->
		<div class="col-md-2">
			<div class="menuicon">
				<a href="{U_REALISASI_BIAYA}">
					<img src="{TPL}/images/icon_berita_acara.png">
					Realisasi Biaya
				</a>
			</div>
			<div style="height: {menu_realisasi_biaya.br};"></div>
		</div>
		<!-- END menu_daftar_tiket_mitra -->
	</div>
</div>