<div class="container menuwrapper">
	<div class="row">
	  <!-- BEGIN menu_pengaturan_kota -->
	  <div class="col-md-2">
	  <div class="menuicon">
	    <a href="{U_KOTA}">
  		<svg class="svg" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 700 700" style="enable-background:new 0 0 700 700;" xml:space="preserve">
			<g id="Kota">
			<path d="M583.688,408.923v-40.067c0-6.262-5.094-11.355-11.354-11.355c-6.262,0-11.355,5.094-11.355,11.355v40.067
				c0,6.261,5.094,11.354,11.355,11.354C578.595,420.277,583.688,415.184,583.688,408.923z"/>
			<path d="M583.688,526.768V486.7c0-6.262-5.094-11.355-11.354-11.355c-6.262,0-11.355,5.094-11.355,11.355v40.067
				c0,6.262,5.094,11.355,11.355,11.355C578.595,538.123,583.688,533.029,583.688,526.768z"/>
			<path d="M583.688,291.078V251.01c0-6.261-5.094-11.355-11.354-11.355c-6.262,0-11.355,5.094-11.355,11.355v40.067
				c0,6.261,5.094,11.355,11.355,11.355C578.595,302.433,583.688,297.339,583.688,291.078z"/>
			<path d="M583.688,175.589v-40.067c0-6.261-5.094-11.355-11.354-11.355c-6.262,0-11.355,5.094-11.355,11.355v40.067
				c0,6.261,5.094,11.355,11.355,11.355C578.595,186.944,583.688,181.851,583.688,175.589z"/>
			<path d="M131.593,357.5c-6.261,0-11.355,5.094-11.355,11.355v40.067c0,6.261,5.094,11.354,11.355,11.354
				s11.355-5.094,11.355-11.354v-40.067C142.948,362.594,137.854,357.5,131.593,357.5z"/>
			<path d="M131.593,475.345c-6.261,0-11.355,5.094-11.355,11.355v40.067c0,6.262,5.094,11.355,11.355,11.355
				s11.355-5.094,11.355-11.355V486.7C142.948,480.438,137.854,475.345,131.593,475.345z"/>
			<path d="M131.593,239.655c-6.261,0-11.355,5.094-11.355,11.355v40.067c0,6.261,5.094,11.355,11.355,11.355
				s11.355-5.094,11.355-11.355V251.01C142.948,244.749,137.854,239.655,131.593,239.655z"/>
			<path d="M131.593,124.167c-6.261,0-11.355,5.094-11.355,11.355v40.067c0,6.261,5.094,11.355,11.355,11.355
				s11.355-5.094,11.355-11.355v-40.067C142.948,129.261,137.854,124.167,131.593,124.167z"/>
			<path d="M273.009,319.79c-6.261,0-11.355,5.094-11.355,11.355v40.067c0,6.262,5.094,11.355,11.355,11.355
				s11.355-5.094,11.355-11.355v-40.067C284.365,324.884,279.271,319.79,273.009,319.79z"/>
			<path d="M273.009,437.635c-6.261,0-11.355,5.094-11.355,11.355v40.067c0,6.261,5.094,11.354,11.355,11.354
				s11.355-5.094,11.355-11.354V448.99C284.365,442.729,279.271,437.635,273.009,437.635z"/>
			<path d="M273.009,201.944c-6.261,0-11.355,5.094-11.355,11.355v40.067c0,6.261,5.094,11.355,11.355,11.355
				s11.355-5.094,11.355-11.355V213.3C284.365,207.039,279.271,201.944,273.009,201.944z"/>
			<path d="M273.009,86.456c-6.261,0-11.355,5.094-11.355,11.355v40.067c0,6.261,5.094,11.355,11.355,11.355
				s11.355-5.094,11.355-11.355V97.812C284.365,91.55,279.271,86.456,273.009,86.456z"/>
			<path d="M350.785,319.79c-6.261,0-11.355,5.094-11.355,11.355v40.067c0,6.262,5.094,11.355,11.355,11.355
				s11.355-5.094,11.355-11.355v-40.067C362.14,324.884,357.046,319.79,350.785,319.79z"/>
			<path d="M350.785,201.944c-6.261,0-11.355,5.094-11.355,11.355v40.067c0,6.261,5.094,11.355,11.355,11.355
				s11.355-5.094,11.355-11.355V213.3C362.14,207.039,357.046,201.944,350.785,201.944z"/>
			<path d="M350.785,86.456c-6.261,0-11.355,5.094-11.355,11.355v40.067c0,6.261,5.094,11.355,11.355,11.355
				s11.355-5.094,11.355-11.355V97.812C362.14,91.55,357.046,86.456,350.785,86.456z"/>
			<path d="M428.563,319.79c-6.262,0-11.355,5.094-11.355,11.355v40.067c0,6.262,5.094,11.355,11.355,11.355
				s11.355-5.094,11.355-11.355v-40.067C439.918,324.884,434.824,319.79,428.563,319.79z"/>
			<path d="M428.563,437.635c-6.262,0-11.355,5.094-11.355,11.355v40.067c0,6.261,5.094,11.354,11.355,11.354
				s11.355-5.094,11.355-11.354V448.99C439.918,442.729,434.824,437.635,428.563,437.635z"/>
			<path d="M428.563,201.944c-6.262,0-11.355,5.094-11.355,11.355v40.067c0,6.261,5.094,11.355,11.355,11.355
				s11.355-5.094,11.355-11.355V213.3C439.918,207.039,434.824,201.944,428.563,201.944z"/>
			<path d="M428.563,86.456c-6.262,0-11.355,5.094-11.355,11.355v40.067c0,6.261,5.094,11.355,11.355,11.355
				s11.355-5.094,11.355-11.355V97.812C439.918,91.55,434.824,86.456,428.563,86.456z"/>
			<path d="M7.5,639.899c0,29.315,24.303,51.422,56.53,51.422h582.155c24.673,0,46.315-24.029,46.315-51.422
				c0-22.143-12.705-40.498-33.158-47.904l-4.946-1.791V57.744c0-6.474-4.544-11.355-10.57-11.355h-126.13V20.034
				c0-6.474-4.544-11.355-10.57-11.355H198.371c-6.467,0-12.14,5.306-12.14,11.355v26.355H56.959c-6.467,0-12.14,5.306-12.14,11.355
				v532.267l-4.701,1.891C20.608,599.75,7.5,619.039,7.5,639.899z M517.695,69.099h113.99v519.377h-113.99V69.099z M208.941,31.389
				h286.044v557.088H359.783V484.344c0-6.262-5.094-11.355-11.355-11.355c-6.261,0-11.355,5.094-11.355,11.355v104.133H208.941V31.389
				z M67.53,69.099h118.704v519.377H67.53V69.099z M59.316,611.187h582.155c15.832,0,28.713,12.881,28.713,28.713
				c0,15.904-13.129,28.712-23.999,28.712H64.03c-19.368,0-33.426-12.075-33.426-28.712C30.604,624.067,43.484,611.187,59.316,611.187
				z"/>
		</g>
		</svg>
	      Kota
	    </a>
	  </div>
	  <div style="height: {menu_pengaturan_kota.br};"></div>
	  </div>
	  <!-- END menu_pengaturan_kota -->

		<!-- BEGIN menu_pengaturan_cabang -->
		<div class="col-md-2">
		<div class="menuicon">
			<a href="{U_CABANG}">
				<svg class="svg" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 700 700" style="enable-background:new 0 0 700 700;" xml:space="preserve">
					<g id="Cabang">
					<path style="display:inline;" d="M649.095,222.639c22.577,0,40.945-18.371,40.945-40.952c0-22.545-18.369-40.891-40.948-40.897
						c-22.593,0-40.977,18.38-40.977,40.973c0,5.794,1.557,11.653,4.76,17.912l3.315,6.479L498.849,323.54l-6.423-3.154
						c-6.667-3.274-12.425-4.799-18.121-4.799c-17.223,0-32.215,10.744-38.193,27.373l-2.379,6.616H272.05l-2.384-6.604
						c-6.005-16.635-21.007-27.384-38.219-27.384c-4.373,0-8.821,0.933-13.999,2.937l-6.074,2.351L82.306,191.845l4.023-6.698
						c4.38-7.291,6.419-13.76,6.419-20.361c0-22.589-18.377-40.966-40.966-40.966c-22.585,0-40.959,18.377-40.959,40.966
						c0,22.588,18.371,40.966,40.952,40.966c1.481,0,3.267-0.502,5.334-1.084c1.21-0.341,2.462-0.693,3.844-1.005l5.376-1.215
						l130.995,130.95l-2.904,6.325c-2.633,5.734-3.913,11.242-3.913,16.839c0,6.871,2.354,13.866,7.197,21.385l4.369,6.783
						L80.117,506.64l-6.758-4.271c-7.791-4.923-14.609-7.216-21.458-7.216c-22.589,0-40.966,18.384-40.966,40.98
						c0,22.558,18.412,40.91,41.042,40.91c22.588,0,40.966-18.368,40.966-40.945c0-0.935-0.368-2.252-0.793-3.778
						c-0.305-1.093-0.651-2.333-0.936-3.691l-1.107-5.292l128.683-128.772l5.343,1.168c1.265,0.276,2.433,0.598,3.464,0.881
						c1.608,0.441,2.997,0.822,3.96,0.822c15.608,0,29.668-9.004,36.691-23.497l2.733-5.639h164.03l2.72,5.684
						c6.923,14.466,20.937,23.452,36.573,23.452c22.596,0,40.979-18.367,40.979-40.944c0-3.897-1.195-7.987-2.639-12.543l-1.836-5.794
						l120.129-120.105l5.878,1.981C641.596,221.641,645.316,222.639,649.095,222.639z"/>
				</g>
				</svg>
				Cabang
			</a>
		</div>
		<div style="height: {menu_pengaturan_cabang.br};"></div>
		</div>
		<!-- END menu_pengaturan_cabang -->
		
		<!-- BEGIN menu_pengaturan_jurusan -->
		<div class="col-md-2">
		<div class="menuicon">
			<a href="{U_JURUSAN}">
				<svg class="svg" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 700 700" style="enable-background:new 0 0 700 700;" xml:space="preserve">
					<g id="Jurusan">
						<g style="display:inline;">
							<path d="M620.502,482.737l-0.179-0.105l-28.665-17.464l25.215-38.767c2.676-4.965,2.035-12.158-3.221-15.084
								c-1.916-1.066-4.095-1.63-6.301-1.63c-3.925,0-7.263,1.784-8.927,4.773l-0.153,0.258l-25.093,39.559l-29.805-17.561
								c-1.402-1.06-3.123-1.62-4.979-1.62c-3.576,0-7.015,2.025-8.759,5.16c-2.829,5.08-1.323,11.574,3.355,14.479l28.627,17.442
								l-25.215,38.766c-1.431,2.65-1.902,5.805-1.293,8.683c0.601,2.843,2.204,5.116,4.511,6.4l0.327,0.198
								c1.669,1.096,4.192,1.687,5.718,1.687c3.712,0,7.136-1.957,9.393-5.368l25.038-39.475l29.519,17.361
								c1.681,1.103,3.354,1.686,4.84,1.686c3.229,0,7.443-1.499,9.062-4.789l0.222-0.449l0.302-0.398
								c1.452-1.921,1.952-4.395,1.41-6.968C624.842,486.616,623.037,484.147,620.502,482.737z"/>
							<path d="M684.124,38.811c-1.571,0-2.571,0-3.575,0.176L463.986,123.51L256.467,43.048c-1.249-0.146-2.166-0.552-3.043-1.212
								c-0.272-0.059-0.551-0.12-0.835-0.182c-4.006-0.876-8.993-1.966-15.681-1.966h-1.671c-8.643,0-16.501,1.526-24.729,4.802
								l-0.936,0.373h-0.569c-0.142,0.046-0.292,0.101-0.442,0.152c-0.614,0.211-1.327,0.456-2.116,0.6L19.628,118.468
								c-19.297,7.72-23.141,24.622-22.471,32.479l0.019,0.446v487.581c0,8.861,3.363,14.086,6.184,16.907
								c3.324,3.324,8.037,5.308,12.607,5.308c2.864,0,6.334-0.791,8.841-2.016l0.392-0.171l210.823-82.434l1.907,0.741l199.415,77.347
								l5.364,1.825c2.242,0.913,8.8,3.036,21.268,3.036h0.875c9.25,0,17.176-1.448,26.493-4.839l191.821-74.653v-0.28l3.022-1.418
								c10.785-5.06,16.725-14.964,16.725-27.888V60.35C702.217,45.553,692.696,38.811,684.124,38.811z M224.247,559.139L17.642,638.828
								V151.392c0-4.392,2.5-10.322,9.529-12.669L213.71,66.203h0.985c0.027-0.01,0.267-0.092,0.441-0.152
								c0.838-0.288,2.104-0.723,3.858-0.723h5.253V559.139z M452.909,638.85l-207.401-80.597v-497.1l207.401,80.596V638.85z
								 M675.186,559.746L486.888,633.36l-12.715,4.991v-7.18v-3.001V141.753l206.526-80.614v484.843l0.079,5.253
								C680.777,556.95,677.712,559.169,675.186,559.746z"/>
						</g>
					</g>
				</svg>
				Jurusan
			</a>
		</div>
		<div style="height: {menu_pengaturan_jurusan.br};"></div>
		</div>
		<!-- END menu_pengaturan_jurusan -->
		
		<!-- BEGIN menu_pengaturan_jadwal -->
		<div class="col-md-2">
		<div class="menuicon">
			<a href="{U_JADWAL}">
				<svg class="svg" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 700 700" style="enable-background:new 0 0 700 700;" xml:space="preserve">
					<g id="jadwal">
						<path style="display:inline;" d="M478.424,47.325c-40.956-17.467-84.143-26.324-128.36-26.324
							c-44.208,0-87.263,8.854-127.968,26.317c-81.53,34.969-140.511,93.827-175.308,174.938C29.57,262.382,20.84,305.436,20.84,350.223
							c0,45.03,8.73,88.212,25.947,128.346c34.919,81.397,93.901,140.38,175.308,175.308c41.27,17.703,83.129,26.309,127.968,26.309
							c44.215,0,87.399-8.854,128.354-26.315c81.58-34.794,140.682-93.773,175.661-175.301c17.462-40.712,26.316-83.895,26.316-128.346
							c0-44.842-8.608-86.7-26.317-127.967C619.238,141.031,560.14,82.176,478.424,47.325z M613.609,503.008
							c-26.949,46.216-64.34,83.481-111.133,110.762c-46.484,27.105-97.761,40.85-152.405,40.85c-41.333,0-81.054-8.15-118.06-24.226
							c-37.622-16.334-70.167-38.081-96.731-64.638c-26.699-26.698-48.45-59.379-64.651-97.133
							c-15.821-36.842-23.843-76.678-23.843-118.399c0-54.677,13.621-105.827,40.483-152.028
							c26.857-46.195,64.121-83.461,110.754-110.763c46.31-27.115,97.463-40.864,152.04-40.864c54.635,0,105.911,13.746,152.406,40.857
							c46.638,27.191,84.026,64.454,111.125,110.75c27.109,46.307,40.855,97.463,40.855,152.046
							C654.45,405.112,640.709,456.517,613.609,503.008z"/>
						<path style="display:inline;" d="M341.358,364.478l110.275,110.268c2.121,2.121,5.364,3.338,8.897,3.338
							c3.532,0,6.772-1.216,8.892-3.336c5.244-5.244,5.236-12.89-0.018-18.18L363.956,350.364V156.228c0-7.13-6.362-13.153-13.894-13.153
							c-6.81,0-12.784,6.146-12.784,13.153v192.869c0.336,1.011,0.74,2.441,0.74,4.078l-0.046,0.83
							C337.488,358.351,338.563,361.679,341.358,364.478z"/>
					</g>
				</svg>
				Jadwal
			</a>
		</div>
		<div style="height: {menu_pengaturan_jadwal.br};"></div>
		</div>
		<!-- END menu_pengaturan_jadwal -->
		
		<!-- BEGIN menu_pengaturan_umum -->
		<div class="col-md-2">
		<div class="menuicon">
			<a href="{U_PENGATURAN_UMUM}">
				<svg class="svg" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 700 700" style="enable-background:new 0 0 700 700;" xml:space="preserve">
					<g id="Pengaturan">
						<g>
							<path d="M405.183,418.772l0.996-1.672c9.387-15.743,16.416-32.655,20.894-50.267l0.479-1.885h20.808
								c18.282,0,33.156-14.874,33.156-33.157v-24.276c0-18.282-14.874-33.156-33.156-33.156h-20.808l-0.479-1.884
								c-4.479-17.614-11.508-34.526-20.894-50.268l-0.996-1.672l14.766-14.766c12.927-12.928,12.927-33.962-0.001-46.89l-17.165-17.166
								c-6.264-6.262-14.591-9.711-23.445-9.711c-8.856,0-17.183,3.449-23.445,9.711l-14.765,14.766l-1.672-0.997
								c-15.747-9.388-32.66-16.417-50.268-20.893l-1.884-0.479v-20.809c0-18.282-14.874-33.156-33.156-33.156h-24.276
								c-18.282,0-33.156,14.874-33.156,33.156v20.807l-1.884,0.479c-17.616,4.479-34.528,11.509-50.267,20.894l-1.672,0.997
								l-14.766-14.766c-6.262-6.263-14.588-9.711-23.445-9.711s-17.183,3.449-23.445,9.711L64.067,158.88
								c-12.927,12.928-12.927,33.963,0,46.89l14.766,14.766l-0.997,1.672c-9.384,15.74-16.414,32.653-20.894,50.269l-0.479,1.884H35.656
								c-18.282,0-33.156,14.874-33.156,33.156v24.276c0,18.283,14.874,33.157,33.156,33.157h20.808l0.479,1.884
								c4.48,17.616,11.51,34.528,20.894,50.268l0.997,1.672l-14.766,14.767c-12.927,12.928-12.927,33.962,0,46.89l17.165,17.167
								c6.252,6.252,14.579,9.694,23.445,9.694c8.867,0,17.193-3.443,23.446-9.695l14.765-14.764l1.672,0.996
								c15.743,9.387,32.655,16.416,50.267,20.894l1.884,0.479v20.808c0,18.282,14.874,33.156,33.156,33.156h24.277
								c18.282,0,33.156-14.874,33.156-33.156v-20.808l1.884-0.479c17.612-4.478,34.524-11.507,50.268-20.894l1.672-0.996l14.765,14.766
								c6.252,6.252,14.578,9.695,23.446,9.696c8.867,0,17.192-3.443,23.441-9.696l17.169-17.166
								c12.926-12.928,12.926-33.963-0.001-46.891L405.183,418.772z M379.337,489.539c-4.117,0-7.983-1.599-10.887-4.502l-19.808-19.808
								c-1.678-1.677-3.91-2.6-6.283-2.6c-1.745,0-3.438,0.511-4.897,1.476c-18.67,12.364-39.128,20.864-60.807,25.265
								c-4.122,0.836-7.113,4.496-7.113,8.702v27.933c0,8.49-6.907,15.397-15.397,15.397h-24.277c-8.49,0-15.397-6.907-15.397-15.397
								v-27.933c0-4.206-2.991-7.866-7.113-8.702c-21.678-4.4-42.135-12.9-60.805-25.265c-1.459-0.966-3.153-1.477-4.898-1.477
								c-2.374,0-4.606,0.924-6.285,2.603l-19.805,19.804c-2.905,2.904-6.772,4.504-10.889,4.504c-4.117,0-7.983-1.6-10.886-4.505
								l-17.165-17.165c-6.003-6.003-6.003-15.771,0-21.774l19.807-19.807c2.973-2.975,3.445-7.677,1.124-11.182
								c-12.364-18.671-20.864-39.129-25.264-60.806c-0.837-4.121-4.497-7.113-8.703-7.113H35.656c-8.49,0-15.397-6.907-15.397-15.397
								v-24.276c0-8.49,6.907-15.397,15.397-15.397h27.933c4.206,0,7.866-2.991,8.703-7.113c4.399-21.674,12.899-42.133,25.263-60.806
								c2.323-3.505,1.85-8.208-1.124-11.183L76.625,193.21c-6.003-6.003-6.003-15.772,0-21.775l17.165-17.165
								c2.909-2.908,6.776-4.51,10.887-4.51c4.113,0,7.979,1.602,10.888,4.51l19.807,19.807c1.678,1.677,3.91,2.601,6.286,2.601
								c1.746,0,3.438-0.51,4.894-1.475c18.671-12.363,39.129-20.864,60.807-25.265c4.122-0.836,7.114-4.496,7.114-8.703v-27.933
								c0-8.49,6.907-15.397,15.396-15.397h24.277c8.49,0,15.397,6.907,15.397,15.397v27.934c0,4.206,2.992,7.866,7.113,8.702
								c21.678,4.4,42.136,12.9,60.807,25.264c1.458,0.965,3.152,1.476,4.898,1.476c2.375,0,4.605-0.924,6.282-2.601l19.807-19.805
								c2.909-2.909,6.775-4.51,10.887-4.51c4.11,0,7.977,1.602,10.887,4.509l17.166,17.166c2.904,2.905,4.504,6.771,4.504,10.888
								s-1.6,7.983-4.504,10.888l-19.807,19.807c-2.973,2.975-3.445,7.677-1.124,11.18c12.364,18.674,20.864,39.133,25.264,60.808
								c0.836,4.122,4.497,7.113,8.704,7.113h27.932c8.489,0,15.396,6.907,15.396,15.397v24.276c0,8.49-6.907,15.397-15.396,15.397
								h-27.932c-4.207,0-7.868,2.992-8.704,7.114c-4.398,21.673-12.897,42.13-25.263,60.804c-2.321,3.506-1.849,8.209,1.124,11.182
								l19.806,19.807c6.003,6.002,6.004,15.771,0.003,21.774l-17.169,17.167C387.32,487.94,383.454,489.539,379.337,489.539z"/>
							<path d="M275.95,199.688c7.816,2.207,15.458,5.206,22.712,8.914c1.267,0.648,2.624,0.976,4.034,0.976
								c3.355,0,6.389-1.854,7.916-4.839c1.08-2.112,1.273-4.518,0.543-6.774s-2.295-4.094-4.407-5.173
								c-8.298-4.242-17.036-7.671-25.971-10.193c-0.792-0.223-1.606-0.336-2.419-0.336c-3.952,0-7.463,2.661-8.54,6.47
								c-0.645,2.281-0.362,4.677,0.797,6.747C271.772,197.548,273.667,199.042,275.95,199.688z"/>
							<path d="M109.083,304.115c0.536,0.098,1.08,0.148,1.616,0.148c4.279,0,7.946-3.061,8.72-7.277
								c1.856-10.106,4.974-19.97,9.267-29.316c0.991-2.156,1.083-4.568,0.26-6.792c-0.824-2.224-2.464-3.994-4.619-4.984
								c-1.175-0.54-2.42-0.814-3.701-0.814c-3.462,0-6.632,2.031-8.075,5.173c-4.91,10.687-8.477,21.966-10.599,33.525
								c-0.429,2.333,0.077,4.693,1.424,6.645C104.723,302.375,106.75,303.687,109.083,304.115z"/>
							<path d="M219.326,442.237c-50.483-9.275-90.631-49.427-99.903-99.911c-0.775-4.216-4.442-7.277-8.72-7.277
								c-0.538,0-1.082,0.05-1.615,0.148c-2.335,0.429-4.363,1.74-5.709,3.692c-1.347,1.953-1.853,4.313-1.423,6.645
								c10.595,57.69,56.474,103.571,114.163,114.17c0.538,0.099,1.083,0.148,1.618,0.148c4.277,0,7.945-3.061,8.721-7.278
								C227.34,447.761,224.141,443.123,219.326,442.237z"/>
							<path d="M339.086,219.106c-2.275,0-4.439,0.861-6.094,2.424c-1.725,1.629-2.711,3.833-2.779,6.203
								c-0.067,2.371,0.793,4.625,2.421,6.35c21.934,23.223,34.014,53.613,34.014,85.571c0,11.547-1.578,22.987-4.689,34.001
								c-0.646,2.282-0.364,4.68,0.793,6.751c1.157,2.069,3.053,3.564,5.335,4.21c0.793,0.225,1.608,0.339,2.422,0.339
								c3.95,0,7.462-2.659,8.539-6.466c3.558-12.584,5.361-25.649,5.361-38.833c-0.001-36.515-13.803-71.236-38.864-97.768
								C343.85,220.094,341.556,219.106,339.086,219.106z"/>
							<path d="M680.928,503.359l-7.479-4.317l0.34-1.75c1.286-6.621,1.938-13.296,1.938-19.84c0-6.555-0.652-13.229-1.938-19.839
								l-0.341-1.752l7.48-4.317c15.833-9.14,21.277-29.458,12.137-45.292c-5.902-10.223-16.929-16.572-28.774-16.572
								c-5.78,0-11.492,1.534-16.519,4.437l-7.451,4.302l-1.345-1.159c-10.138-8.739-21.711-15.403-34.398-19.81l-1.68-0.583v-8.659
								c0-18.282-14.874-33.156-33.156-33.156s-33.156,14.874-33.156,33.156v8.659l-1.68,0.583c-12.688,4.406-24.261,11.07-34.398,19.81
								l-1.345,1.159l-7.45-4.302c-5.027-2.903-10.767-4.438-16.598-4.438c-2.896,0-5.776,0.379-8.563,1.125
								c-8.556,2.294-15.706,7.781-20.133,15.449c-4.421,7.656-5.592,16.59-3.297,25.155c2.295,8.563,7.776,15.716,15.434,20.137
								l7.478,4.318l-0.34,1.75c-1.286,6.624-1.938,13.299-1.938,19.84c0,6.547,0.652,13.222,1.938,19.84l0.34,1.75l-7.478,4.317
								c-15.831,9.141-21.276,29.459-12.137,45.293c5.9,10.221,16.926,16.57,28.773,16.57c5.781,0,11.494-1.533,16.521-4.435l7.449-4.301
								l1.345,1.159c10.136,8.738,21.709,15.402,34.398,19.81l1.68,0.583v8.659c0,18.282,14.874,33.156,33.156,33.156
								s33.156-14.874,33.156-33.156v-8.659l1.68-0.583c12.688-4.406,24.261-11.07,34.398-19.81l1.345-1.159l7.451,4.302
								c5.024,2.901,10.736,4.435,16.517,4.435c11.847,0,22.874-6.35,28.776-16.571C702.205,532.819,696.761,512.501,680.928,503.359z
								 M585.138,571.375v15.321c0,8.49-6.907,15.397-15.396,15.397c-8.49,0-15.397-6.907-15.397-15.397v-15.321
								c0-4.051-2.739-7.586-6.661-8.598c-15.551-4.011-29.68-12.147-40.861-23.531c-1.684-1.714-3.936-2.658-6.34-2.658
								c-1.554,0-3.088,0.411-4.437,1.19l-13.215,7.63c-2.333,1.348-4.987,2.061-7.678,2.061c-5.496,0-10.613-2.949-13.354-7.696
								c-4.243-7.354-1.716-16.789,5.636-21.033l13.252-7.652c3.505-2.023,5.198-6.159,4.118-10.059
								c-2.183-7.888-3.289-15.821-3.289-23.578c0-7.754,1.106-15.687,3.288-23.575c1.081-3.9-0.612-8.038-4.117-10.062l-13.252-7.651
								c-7.351-4.245-9.88-13.681-5.637-21.032c2.06-3.563,5.381-6.111,9.352-7.176c3.886-1.041,8.198-0.473,11.683,1.539l13.215,7.63
								c1.349,0.779,2.882,1.19,4.436,1.19c2.404,0,4.656-0.944,6.34-2.658c11.182-11.385,25.311-19.521,40.861-23.531
								c3.922-1.012,6.661-4.547,6.661-8.598v-15.322c0-8.489,6.907-15.396,15.397-15.396c8.489,0,15.396,6.907,15.396,15.396v15.322
								c0,4.051,2.739,7.586,6.662,8.598c15.551,4.01,29.68,12.146,40.86,23.531c1.684,1.714,3.936,2.658,6.341,2.658
								c1.554,0,3.087-0.412,4.434-1.19l13.219-7.63c2.334-1.348,4.988-2.061,7.677-2.061c5.496,0,10.613,2.949,13.355,7.695
								c4.243,7.354,1.716,16.788-5.636,21.032l-13.253,7.652c-3.506,2.024-5.199,6.161-4.118,10.061
								c2.183,7.878,3.289,15.81,3.289,23.576c0,7.766-1.106,15.696-3.289,23.574c-1.081,3.9,0.612,8.038,4.118,10.063l13.252,7.651
								c7.353,4.248,9.881,13.685,5.637,21.034c-2.742,4.746-7.861,7.695-13.359,7.695c-2.686,0-5.339-0.712-7.672-2.058l-13.219-7.632
								c-1.348-0.778-2.882-1.189-4.435-1.189c-2.404,0-4.656,0.943-6.341,2.658c-11.181,11.384-25.31,19.521-40.86,23.531
								C587.878,563.788,585.138,567.324,585.138,571.375z"/>
							<path d="M615.035,477.452c0-24.976-20.318-45.295-45.294-45.295s-45.295,20.319-45.295,45.295s20.319,45.294,45.295,45.294
								S615.035,502.428,615.035,477.452z M569.741,504.987c-15.183,0-27.535-12.353-27.535-27.535s12.353-27.535,27.535-27.535
								s27.535,12.353,27.535,27.535S584.924,504.987,569.741,504.987z"/>
							<path d="M242.007,225.807c-51.748,0-93.848,42.1-93.848,93.848c0,51.748,42.1,93.848,93.848,93.848s93.848-42.1,93.848-93.848
								C335.855,267.907,293.755,225.807,242.007,225.807z M242.007,395.742c-41.955,0-76.088-34.133-76.088-76.088
								s34.133-76.088,76.088-76.088s76.088,34.133,76.088,76.088S283.962,395.742,242.007,395.742z"/>
						</g>
					</g>	
				</svg>
				Pengaturan Umum
			</a>
		</div>
		<div style="height: {menu_pengaturan_umum.br};"></div>
		</div>
		<!-- END menu_pengaturan_umum -->
		
		<!-- BEGIN menu_pengaturan_sopir -->
		<div class="col-md-2">
		<div class="menuicon">
			<a href="{U_SOPIR}">
				<svg class="svg" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 700 700" style="enable-background:new 0 0 700 700;" xml:space="preserve">
					<g id="Sopir">
						<path d="M330.063-0.626c-53.62,0-97.242,43.624-97.242,97.246c0,53.619,43.623,97.242,97.242,97.244
							c53.618,0,97.24-43.624,97.24-97.244C427.303,42.998,383.681-0.626,330.063-0.626z M330.065,176.631
							c-44.117,0-80.01-35.892-80.01-80.01c0-44.119,35.892-80.012,80.01-80.012c44.115,0,80.006,35.893,80.006,80.012
							C410.07,140.738,374.18,176.631,330.065,176.631z"/>
						<path d="M451.521,289.77l-7.857-4.371l4.666-7.685c6.358-10.473,12.419-21.162,18.014-31.771c1.075-2.037,1.292-4.369,0.612-6.568
							c-0.68-2.199-2.175-4.002-4.211-5.076c-1.257-0.664-2.607-1-4.01-1c-3.212,0-6.137,1.762-7.633,4.599
							c-34.928,66.2-84.866,128.785-148.428,186.015c-63.18,56.889-136.937,105.902-219.223,145.678l-20.239,9.784l60.215-148.411
							c40.811-100.563,89.805-143.469,163.825-143.469h58.066c4.752,0,8.618-3.866,8.618-8.617c0-4.752-3.866-8.617-8.618-8.617h-58.071
							c-45.305,0-84.236,16.158-115.713,48.024c-24.293,24.595-44.654,58.342-64.076,106.201l-64.55,159.093
							c-0.14,0.345-0.258,0.701-0.352,1.057l-1.082,4.107l-3.906,1.659c-2.397,1.017-4.806,2.028-7.21,3.028
							c-4.387,1.825-6.473,6.879-4.649,11.267c1.341,3.227,4.467,5.312,7.963,5.312c1.128,0,2.239-0.224,3.302-0.665
							c95.998-39.911,182.082-91.618,255.858-153.683c54.538-45.881,100.619-96.09,136.963-149.231l4.381-6.403l6.843,3.654
							c24.356,13.012,45.295,33.801,64.013,63.554c1.587,2.525,4.32,4.031,7.31,4.031c1.613,0,3.195-0.458,4.573-1.324
							c4.02-2.53,5.233-7.861,2.704-11.886C499.82,326.583,477.544,304.246,451.521,289.77z"/>
						<path d="M277.99,582.912c-2.271,0.362-4.267,1.588-5.619,3.451c-1.351,1.863-1.896,4.142-1.534,6.415
							c6.233,39.141,23.756,75.46,50.677,105.032c1.628,1.788,3.953,2.814,6.377,2.814c2.146,0,4.205-0.798,5.798-2.247
							c3.512-3.198,3.769-8.659,0.57-12.173c-24.653-27.081-40.698-60.325-46.401-96.138c-0.67-4.21-4.239-7.264-8.486-7.264
							C278.91,582.803,278.446,582.839,277.99,582.912z"/>
						<path d="M657.829,531.685c0.687,4.186,4.254,7.225,8.483,7.225c0.468,0,0.944-0.039,1.414-0.116
							c2.272-0.373,4.264-1.608,5.607-3.477c1.342-1.869,1.877-4.15,1.506-6.421c-6.405-39.062-23.87-75.375-50.506-105.011
							c-1.633-1.814-3.972-2.856-6.418-2.856c-2.128,0-4.17,0.783-5.752,2.206c-1.713,1.539-2.723,3.653-2.846,5.951
							c-0.122,2.298,0.658,4.507,2.196,6.22C635.945,462.591,651.96,495.884,657.829,531.685z"/>
						<path d="M473.007,425.216c-21.673,0-43.322,5.346-62.608,15.46c-66.073,34.654-91.639,116.605-56.99,182.683
							c23.44,44.688,69.451,72.449,120.081,72.449c21.668,0,43.315-5.346,62.603-15.46c66.074-34.65,91.642-116.6,56.993-182.681
							C569.649,452.977,523.637,425.216,473.007,425.216z M361.323,598.168c-8.869-26.316-8.09-55.128,2.192-81.131
							c10.395-26.287,29.889-47.987,54.89-61.099c16.832-8.827,35.732-13.492,54.656-13.492c37.219,0,72.66,17.72,94.803,47.401
							l6.065,8.13l-63.608,33.36l-4.496-4.359c-8.658-8.392-20.566-13.204-32.673-13.204c-7.479,0-14.953,1.846-21.615,5.339
							c-11.057,5.799-19.195,15.558-22.915,27.48c-2.22,7.12-2.727,14.402-1.507,21.646l1.042,6.19l-63.594,33.349L361.323,598.168z
							 M486.966,586.647c-4.214,2.208-8.943,3.375-13.679,3.375c-11.031,0-21.061-6.054-26.174-15.801
							c-3.661-6.981-4.385-14.969-2.038-22.495c2.344-7.524,7.483-13.686,14.469-17.35c4.21-2.205,8.936-3.371,13.669-3.371
							c11.03,0,21.059,6.055,26.173,15.803C506.942,561.215,501.37,579.087,486.966,586.647z M582.985,603.987
							c-10.396,26.288-29.89,47.988-54.893,61.1c-16.833,8.827-35.733,13.492-54.656,13.492c-37.221,0-72.661-17.722-94.805-47.406
							l-6.064-8.13l63.61-33.358l4.497,4.36c8.656,8.392,20.563,13.204,32.671,13.204c7.483,0,14.959-1.847,21.621-5.34
							c17.923-9.402,27.725-29.145,24.39-49.129l-1.033-6.179l63.613-33.361l3.239,9.612
							C594.046,549.168,593.269,577.982,582.985,603.987z"/>
					</g>
				</svg>
				Sopir
			</a>
		</div>
		<div style="height: {menu_pengaturan_sopir.br};"></div>
		</div>
		<!-- END menu_pengaturan_sopir -->
		
		<!-- BEGIN menu_pengaturan_mobil -->
		<div class="col-md-2">
		<div class="menuicon">
			<a href="{U_MOBIL}">
				<svg class="svg" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 700 700" style="enable-background:new 0 0 700 700;" xml:space="preserve">
					<g id="Kendaraan">
					<g style="display:inline;">
						<path d="M565.412,277.579c-12.314-33.926-30.624-76.748-47.91-88.087c-32.204-21.209-94.914-33.872-167.748-33.872
							c-72.833,0-135.552,12.662-167.775,33.872c-17.326,11.412-35.599,54.204-47.877,88.093l-5.079,14.017h441.479L565.412,277.579z
							 M159.013,270.691c15.725-40.55,28.068-59.521,34.466-63.734c28.512-18.768,88.393-30.426,156.275-30.426
							c67.881,0,127.756,11.661,156.263,30.435c6.379,4.186,18.716,23.141,34.478,63.726H159.013z"/>
						<path d="M161.631,355.671c-33.432,0-60.63,27.191-60.63,60.613c0,33.432,27.198,60.63,60.63,60.63
							c33.432,0,60.631-27.198,60.631-60.63C222.262,382.862,195.063,355.671,161.631,355.671z M201.352,416.284
							c0,21.901-17.818,39.72-39.72,39.72c-21.901,0-39.72-17.818-39.72-39.72c0-21.893,17.818-39.703,39.72-39.703
							C183.533,376.581,201.352,394.392,201.352,416.284z"/>
						<path d="M538.548,355.671c-33.432,0-60.63,27.191-60.63,60.613c0,33.432,27.198,60.63,60.63,60.63s60.631-27.198,60.631-60.63
							C599.179,382.862,571.979,355.671,538.548,355.671z M578.269,416.284c0,21.901-17.818,39.72-39.721,39.72
							c-21.901,0-39.72-17.818-39.72-39.72c0-21.893,17.818-39.703,39.72-39.703C560.45,376.581,578.269,394.392,578.269,416.284z"/>
						<path d="M686.056,254.113c-5.264-6.418-13.014-10.099-21.263-10.099H607.34c-19.822-50.501-40.602-83.172-61.771-97.116
							c-40.005-26.318-113.199-42.031-195.794-42.031s-155.791,15.714-195.801,42.035c-21.006,13.842-41.782,46.511-61.763,97.111H34.74
							c-8.307,0-16.061,3.686-21.266,10.104c-5.278,6.445-7.326,14.802-5.619,22.918l9.572,46.384
							c2.537,12.286,13.22,21.309,25.663,21.866c-11.458,19.246-17.546,41.468-17.649,64.566c-0.125,34.83,12.745,66.617,36.267,89.639
							v60.296c0,19.828,16.131,35.96,35.959,35.96h59.611c19.828,0,35.959-16.132,35.959-35.96V544.16h313.04v15.627
							c0,19.828,16.132,35.96,35.96,35.96h59.611c19.828,0,35.959-16.132,35.959-35.96v-59.144
							c23.239-22.982,36.115-54.331,36.284-88.402c0.089-24.09-6.288-47.139-18.485-66.965c12.854-0.18,23.964-9.34,26.498-21.903
							l9.607-46.455C693.314,268.827,691.255,260.518,686.056,254.113z M655.221,324.369h-43.883l15.688,17.446
							c16.965,18.866,26.254,43.847,26.155,70.337c-0.147,29.915-11.828,57.013-32.891,76.302l-3.393,3.109v68.225
							c0,8.298-6.751,15.049-15.049,15.049h-59.611c-8.299,0-15.05-6.751-15.05-15.049v-36.538H172.328v36.538
							c0,8.298-6.751,15.049-15.049,15.049H97.667c-8.298,0-15.049-6.751-15.049-15.049v-69.453l-3.335-3.103
							c-0.425-0.395-0.813-0.702-1.095-0.915c-20.639-19.176-31.944-46.297-31.836-76.38c0.113-25.526,8.993-49.758,25.006-68.23
							l15-17.304H44.313c-3.089,0-5.783-2.191-6.406-5.21l-9.58-46.42c-0.403-1.915,0.089-3.896,1.357-5.444
							c1.239-1.528,3.082-2.404,5.057-2.404h71.827l2.568-6.727c18.923-49.566,38.405-82.013,56.338-93.831
							c36.73-24.163,105.628-38.589,184.302-38.589c78.673,0,147.569,14.425,184.297,38.585c18.093,11.918,37.567,44.358,56.318,93.812
							l2.559,6.75h71.844c1.962,0,3.809,0.881,5.061,2.409c1.248,1.535,1.743,3.525,1.364,5.438l-9.599,46.417
							C661.014,322.19,658.322,324.369,655.221,324.369z"/>
					</g>
				</g>
				</svg>
				Mobil
			</a>
		</div>
		<div style="height: {menu_pengaturan_mobil.br};"></div>
		</div>
		<!-- END menu_pengaturan_mobil -->
		
		<!-- BEGIN menu_pengaturan_macaddress -->
		<div class="col-md-2">
		<div class="menuicon">
			<a href="{U_MACADDRESS}">
				<svg class="svg" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 700 700" style="enable-background:new 0 0 700 700;" xml:space="preserve">
					
				</svg>
				Daftar Komputer
			</a>
		</div>
		<div style="height: {menu_pengaturan_macaddress.br};"></div>
		</div>
		<!-- END menu_pengaturan_macaddress -->
		
		<!-- BEGIN menu_pengaturan_user -->
		<div class="col-md-2">
		<div class="menuicon">
			<a href="{U_USER}">
				<svg class="svg" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 700 700" style="enable-background:new 0 0 700 700;" xml:space="preserve">
					<g id="Status_Online_User" >
						<path style="display:inline;" d="M654.355,677.61C646.81,571.526,583,475.532,487.821,427.019l-16.706-8.514l14.731-11.604
							c53.742-42.331,84.565-105.646,84.565-173.712C570.412,111.225,471.188,12,349.223,12s-221.189,99.225-221.189,221.189
							c0,68.064,30.823,131.38,84.567,173.712l14.731,11.604l-16.708,8.515c-95.156,48.5-158.966,144.493-166.529,250.518l-0.071,1.215
							c-0.005,0.154-0.012,0.309-0.021,0.462c0.13,5.073,4.323,9.175,9.415,9.175c5.193,0,9.418-4.225,9.418-9.418
							c0-0.305-0.031-0.699-0.096-1.206l-0.161-1.262l0.106-1.264c4.53-53.935,24.197-105.303,56.875-148.549
							c32.082-42.457,75.144-75.172,124.531-94.606l4.873-1.917l4.72,2.269c30.305,14.562,62.449,21.945,95.54,21.945
							c33.093,0,65.237-7.384,95.539-21.945l4.72-2.269l4.872,1.917c49.388,19.436,92.45,52.149,124.532,94.606
							c32.678,43.247,52.345,94.614,56.874,148.549l0.106,1.26l-0.16,1.255c-0.065,0.514-0.097,0.912-0.097,1.217
							c0,5.193,4.225,9.418,9.418,9.418c5.094,0,9.286-4.103,9.415-9.176c-0.01-0.171-0.018-0.326-0.022-0.481L654.355,677.61z
							 M349.223,435.982c-111.82,0-202.792-90.973-202.792-202.793c0-111.819,90.972-202.791,202.792-202.791
							s202.792,90.972,202.792,202.791C552.015,345.01,461.042,435.982,349.223,435.982z"/>
					</g>
				</svg>
				User
			</a>
		</div>
		<div style="height: {menu_pengaturan_user.br};"></div>
		</div>
		<!-- END menu_pengaturan_user -->
	<div class="col-md-2">
	<div class="menuicon">
		<a href="{U_AREA_PENJEMPUTAN}">
			<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
				viewBox="0 0 700 700" style="enable-background:new 0 0 700 700;" xml:space="preserve">
				<style type="text/css">
				.st0{fill:#FFAA2A;}
				</style>
				<g>
				<path class="st0" d="M352.1,166.3c-46.1,0-83.6,37.5-83.6,83.6s37.5,83.6,83.6,83.6s83.6-37.5,83.6-83.6S398.2,166.3,352.1,166.3z
				M352.1,309.6c-32.9,0-59.7-26.8-59.7-59.7s26.8-59.7,59.7-59.7s59.7,26.8,59.7,59.7S385.1,309.6,352.1,309.6z"/>
				<path class="st0" d="M512,90.1C468.7,46.8,411.2,23,350,23c-61.2,0-118.7,23.8-162,67.1c-80.1,80-90,230.7-21.5,321.9L350,677
				l183.2-264.6C602,320.7,592,170.1,512,90.1z M513.9,398.4L350,635L185.9,398C123.8,315.2,132.7,179.2,205,107
				c38.7-38.7,90.3-60.1,145.1-60.1S456.3,68.2,495.1,107C567.3,179.2,576.2,315.2,513.9,398.4z"/>
				</g>
				</svg>
			Area Penjemputan
		</a>
	</div>
	<div style="height: {menu_lap_biaya_op.br};"></div>
	</div>
	<!-- BEGIN menu_pengaturan_area -->
	<div class="col-md-2">
	<div class="menuicon">
		<a href="{U_MASKAPAI}">
			<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
			viewBox="0 0 700 700" style="enable-background:new 0 0 700 700;" xml:space="preserve">
			<style type="text/css">
			.st0{fill:#FFAA2A;}
			</style>
			<path class="st0" d="M678,96c0-19.8-7.7-38.3-21.6-52.3C642.6,29.9,623.6,22,604.1,22c-19.7,0-38.3,7.7-52.2,21.7l-92.6,92.7
			l-351.1-90c-15.5-4-32.2,0.6-43.5,11.9L38.5,84.5c-5.9,5.9-8.8,14.4-7.6,22.7c1.1,8.3,6.1,15.7,13.3,19.9l270.9,155L174.3,443.6
			l-84.1-19.7c-15.5-3.6-31.5,0.9-42.8,12.2L30,453.5c-6.5,6.5-9.3,15.7-7.4,24.7c1.8,9,8,16.4,16.5,19.8l83.6,33.5
			c6.8,26.5,22.4,42.2,46.5,46.8l32.8,81.9c3.5,8.8,11.2,15.2,20.4,17.1c1.9,0.4,3.8,0.6,5.7,0.6c7.4,0,14.5-2.9,19.8-8.2l16.6-16.6
			c11.2-11.2,15.7-27,12.1-42.4l-19.8-84.5l161.4-140.9l153.9,269.6c4.4,7.6,12.2,12.9,20.9,14c8.7,1.2,17.6-1.9,23.8-8.1l25.4-25.4
			c11-11,15.5-27.3,11.6-42.4l-90-352.2l92.5-92.7C670.3,134.3,678,115.7,678,96z M541,234.7L634,598.2c2.1,8.1-0.3,16.9-6.3,22.8
			l-25.3,25.4c-1.7,1.7-4.3,2.5-6.6,2.2c-2.5-0.3-4.6-1.8-5.8-3.9L429.9,364.3l-15.6-2.6L234.1,518.9l22.6,96.5
			c2,8.4-0.5,17.1-6.6,23.2l-16.6,16.6c-1.8,1.8-4.3,2.6-6.9,2.1c-2.5-0.5-4.6-2.2-5.5-4.6l-37.2-93.2l-6.1-0.7
			c-20.3-2.2-31.4-13.6-36.1-36.9l-1.1-5.4L46.7,479c-2.1-0.8-3.6-2.7-4.1-4.9c-0.5-2.2,0.2-4.5,1.9-6.1l17.4-17.4
			c4.8-4.8,11.2-7.4,17.8-7.4c1.9,0,3.9,0.2,5.8,0.7l96.2,22.5L338.7,286l-2.6-15.6L54.4,109.2c-1.8-1-3-2.8-3.2-4.8
			c-0.3-2,0.4-4,1.8-5.4l26.2-26.2c6.2-6.2,15.4-8.8,24-6.6l362.4,92.9L566.4,58.2c10.1-10.1,23.5-15.7,37.7-15.7
			c14.1,0,27.8,5.7,37.8,15.7c9.9,9.9,15.6,23.7,15.6,37.8c0,14.1-5.7,27.8-15.7,37.8L541,234.7z"/>
			</svg>
			Maskapai
		</a>
	</div>
	<div style="height: {menu_pengaturan_maskapai.br};"></div>
	</div>
	<!-- END menu_pengaturan_area -->
	</div>
</div>