<div class="container menuwrapper">
	<div class="row">
		<!-- BEGIN menu_data_member -->
		<div class="col-md-2">
		<div class="menuicon">
			<a href="{U_MEMBER}">
				<svg class="svg" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 700 700" style="enable-background:new 0 0 700 700;" xml:space="preserve">
					<g id="Member"  >
						<g style="display:inline;">
							<g>
								<g>
									<path d="M367.499,402.499c43.749-32.083,70-84.583,70-140c0-96.249-78.751-175-175-175s-175,78.751-175,175
										c0,55.417,26.249,107.917,70,140C72.917,440.415,11.666,519.165,0,612.499h58.334c14.583-99.166,102.083-175,204.166-175
										s189.583,75.834,204.166,175h58.334C513.333,519.165,452.082,440.416,367.499,402.499L367.499,402.499z M262.499,379.165
										c-64.167,0-116.666-52.5-116.666-116.666s52.5-116.666,116.666-116.666s116.666,52.5,116.666,116.666
										S326.667,379.165,262.499,379.165L262.499,379.165z"/>
									<path d="M603.75,396.665c23.332-29.166,37.917-67.083,37.917-105c0-105-93.334-186.666-195.417-175
										c8.749,8.749,14.583,20.417,20.417,32.083c5.834,8.749,8.749,17.5,11.666,26.249c67.083,11.666,105,61.251,105,116.666
										c0,37.917-20.417,72.917-46.666,93.334C527.917,390.832,525,399.581,525,408.33c0,14.583,8.749,26.249,23.332,29.166
										c52.5,11.666,93.334,58.334,93.334,113.749H700C699.999,487.082,662.082,425.833,603.75,396.665L603.75,396.665z"/>
								</g>
							</g>
						</g>
					</g>
				</svg>
				Data Member
			</a>
		</div>
		<div style="height: {menu_data_member.br};"></div>
		</div>
		<!-- END menu_data_member -->
		
		<!-- BEGIN menu_member_ultah -->
		<div class="col-md-2">
		<div class="menuicon">
			<a href="{U_MEMBER_ULTAH}">
				<svg class="svg" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 700 700" style="enable-background:new 0 0 700 700;" xml:space="preserve">
					<g id="Member_Ultah"  >
						<g style="display:inline;">
							<path d="M695.127,577.33h-40.35V507.72c0-2.692-2.184-4.874-4.874-4.874H618.38c0,0,0.058-45.052,0.058-46.092
								c2.574-3.538,4.204-8.586,4.204-17.052c0-15.126-12.506-32.721-13.039-33.462c-0.916-1.275-2.39-2.032-3.96-2.032
								c-1.57,0-3.044,0.757-3.959,2.034c-0.533,0.741-13.032,18.335-13.032,33.461c0,8.793,1.969,14.209,4.691,17.73
								c0,0.882-0.026,45.415-0.026,45.415h-13.749c0,0,0.053-45.073,0.053-46.113c2.575-3.538,4.203-8.586,4.203-17.052
								c0-15.126-12.504-32.721-13.037-33.462c-0.919-1.275-2.392-2.032-3.962-2.032c-1.57,0-3.044,0.757-3.96,2.034
								c-0.531,0.741-13.032,18.335-13.032,33.461c0,8.793,1.967,14.209,4.691,17.73c0,0.891-0.017,45.435-0.017,45.435h-13.754
								c0,0,0.04-45.073,0.04-46.113c2.574-3.538,4.204-8.586,4.204-17.052c0-15.126-12.506-32.721-13.039-33.462
								c-0.916-1.275-2.39-2.032-3.96-2.032c-1.57,0-3.045,0.757-3.96,2.034c-0.531,0.741-13.032,18.335-13.032,33.461
								c0,8.793,1.969,14.209,4.691,17.73c0,0.891-0.014,45.435-0.014,45.435h-31.511c-2.692,0-4.874,2.182-4.874,4.874v69.609h-40.37
								c-2.692,0-4.874,2.184-4.874,4.874v14.477v65.844v32.6c0,2.692,2.182,4.874,4.874,4.874h256.197c2.692,0,4.874-2.182,4.874-4.874
								V582.203C700.001,579.51,697.819,577.33,695.127,577.33z M605.642,418.261c3.227,5.69,7.249,14.23,7.249,21.44
								c0,5.165-0.9,13.872-6.934,14.151c-0.104,0.004-0.208,0.013-0.311,0.025c-0.101-0.012-0.204-0.019-0.309-0.025
								c-6.039-0.279-6.941-8.986-6.941-14.151C598.397,432.491,602.419,423.951,605.642,418.261z M608.633,463.596l-0.004,39.249h-5.566
								l0.009-39.249L608.633,463.596z M566.827,418.24c3.227,5.69,7.249,14.23,7.249,21.44c0,5.165-0.9,13.872-6.934,14.152
								c-0.104,0.004-0.207,0.013-0.309,0.025c-0.101-0.012-0.205-0.019-0.309-0.025c-6.04-0.279-6.941-8.986-6.941-14.152
								C559.582,432.471,563.603,423.931,566.827,418.24z M569.818,463.576v39.27h-5.56v-39.27H569.818z M528.001,418.24
								c3.227,5.69,7.249,14.23,7.249,21.44c0,5.165-0.901,13.872-6.935,14.152c-0.104,0.004-0.207,0.013-0.309,0.025
								c-0.101-0.012-0.205-0.019-0.309-0.025c-6.039-0.279-6.941-8.986-6.941-14.152C520.756,432.471,524.777,423.931,528.001,418.24z
								 M531.005,502.846h-5.572l-0.001-39.27h5.562L531.005,502.846z M489.047,512.595h155.981v21.234
								c-10.997,20.322-34.222,20.92-36.874,20.92c-0.139,0-0.224-0.001-0.237-0.001c-0.052-0.001-0.104-0.003-0.155-0.003
								c-25.728,0-35.835-22.164-36.248-23.092c-0.767-1.765-2.499-2.913-4.422-2.932c-0.016,0-0.032,0-0.048,0
								c-1.905,0-3.637,1.111-4.431,2.844c-10.111,22.067-33.462,23.186-38.041,23.186c-0.204,0-0.328-0.003-0.348-0.004
								c-0.061-0.001-0.121-0.003-0.182-0.003c-20.958,0-31.553-14.746-34.993-20.751L489.047,512.595L489.047,512.595z M690.253,664.536
								v25.715h-246.45v-27.726v-13.468c7.457,6.667,18.513,12.842,33.881,12.866c0.147,0.004,0.402,0.01,0.751,0.01
								c5.039,0,29.996-1.114,44.504-22.428c6.361,8.982,19.678,22.389,42.495,22.419c2.273,0.069,29.73,0.375,45.246-22.415
								c6.333,8.956,19.648,22.393,42.531,22.415c1.672,0.038,21.499,0.111,37.04-13.674L690.253,664.536L690.253,664.536z
								 M690.253,598.692v33.087v1.8c-12.858,18.877-36.621,18.586-36.859,18.596c-0.042-0.001-0.085-0.001-0.13-0.001
								c-27.133,0-37.782-23.367-38.214-24.347c-0.767-1.765-2.499-2.913-4.424-2.93c-0.016,0-0.032,0-0.048,0
								c-1.905,0-3.638,1.111-4.432,2.847c-11.483,25.086-39.277,24.467-40.445,24.437c-0.062-0.003-0.123-0.004-0.185-0.004
								c-26.313,0-37.115-21.944-38.147-24.189c-0.712-1.808-2.475-3.085-4.538-3.085c-2.01,0-3.736,1.22-4.482,2.959
								c-11.515,24.967-39.234,24.352-40.396,24.319c-0.062-0.003-0.124-0.004-0.185-0.004c-17.249,0-27.896-9.265-33.963-17.542v-0.976
								v-36.975v-9.603h144.824c2.691,0,4.874-2.182,4.874-4.874c0-2.691-2.184-4.874-4.874-4.874h-99.581v-27.405
								c7.156,7.244,18.452,14.547,34.918,14.57c0.114,0.003,0.318,0.007,0.605,0.007l0,0c5.049,0,28.677-1.121,42.57-21.225
								c6.141,8.58,18.859,21.192,40.557,21.218c0.09,0.001,0.243,0.004,0.455,0.004c2.67,0,22.344-0.503,36.872-14.642v27.471h-15.02
								c-2.691,0-4.874,2.184-4.874,4.874c0,2.692,2.184,4.874,4.874,4.874h19.895h10.436h29.917L690.253,598.692L690.253,598.692z"/>
						</g>
						<path style="display:inline;" d="M500.574,420.185c-2.417-1.314-4.848-2.606-7.303-3.857
							c54.206-42.696,89.142-108.772,89.142-183.139C582.413,104.405,478.007,0,349.223,0S116.034,104.405,116.034,233.189
							c0,74.366,34.936,140.443,89.142,183.139c-96.72,49.298-164.924,146.439-173.05,260.354c-0.015,0.139-0.019,0.281-0.031,0.421
							c-0.03,0.423-0.066,0.843-0.094,1.266h0.03c-0.006,0.202-0.03,0.398-0.03,0.602c0,11.829,9.589,21.418,21.418,21.418
							c11.829,0,21.418-9.589,21.418-21.418c0-0.926-0.079-1.832-0.193-2.727c8.937-106.41,78.424-195.444,173.842-232.993
							c30.527,14.669,64.615,23.13,100.738,23.13c36.145,0,70.211-8.46,100.737-23.13c17.857,7.027,34.8,15.866,50.613,26.276V420.185z
							 M349.223,423.982c-105.381,0-190.792-85.411-190.792-190.793c0-105.381,85.411-190.791,190.792-190.791
							s190.792,85.41,190.792,190.791C540.014,338.571,454.604,423.982,349.223,423.982z"/>
					</g>
				</svg>
				Member <br>Berulang Tahun
			</a>
		</div>
		<div style="height: {menu_member_ultah.br};"></div>
		</div>
		<!-- END menu_member_ultah -->
		
		<!-- BEGIN menu_potensial_jadi_member -->
		<div class="col-md-2">
		<div class="menuicon">
			<a href="{U_MEMBER_CALON}">
				<svg class="svg" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 700 700" style="enable-background:new 0 0 700 700;" xml:space="preserve">
					<g id="Pelanggan_Potensi_Member">
						<path style="display:inline;" d="M235.462,431.554c10.133,0,18.35,8.217,18.35,18.35s-8.217,18.35-18.35,18.35H101.047
							c-10.133,0-18.35-8.217-18.35-18.35s8.217-18.35,18.35-18.35H235.462z M303.943,431.554c-10.133,0-18.35,8.217-18.35,18.35
							s8.217,18.35,18.35,18.35h42.205c10.133,0,18.35-8.217,18.35-18.35s-8.217-18.35-18.35-18.35H303.943z M694.952,384.48
							c6.982,7.347,6.685,18.961-0.661,25.943c-23.176,22.024-60.167,26.028-91.929,18.057v65.875c0,36.526-29.716,66.244-66.244,66.244
							H66.244C29.718,560.599,0,530.883,0,494.355v-288.71c0-36.526,29.716-66.244,66.244-66.244h469.874
							c36.526,0,66.244,29.716,66.244,66.244v120.553c23.327,8.88,52.656,6.846,66.646-6.448c7.346-6.98,18.961-6.689,25.942,0.661
							c6.984,7.346,6.689,18.961-0.659,25.943c-32.968,31.337-93.909,26.195-127.976,1.973c-24.824-17.646-64.84-18.607-82.337-1.974
							c-7.351,6.982-18.963,6.687-25.943-0.657c-6.982-7.346-6.689-18.961,0.657-25.943c27.243-25.89,72.195-27.109,106.97-13.161
							v-37.985H36.7v44.283h359.452c10.133,0,18.35,8.217,18.35,18.35s-8.217,18.35-18.35,18.35H36.7v144.766
							c0,16.289,13.254,29.544,29.544,29.544h469.874c16.289,0,29.544-13.254,29.544-29.544v-82.416
							c-24.87-17.205-64.341-18.003-81.686-1.518c-7.347,6.984-18.963,6.689-25.943-0.657c-6.982-7.346-6.689-18.961,0.657-25.943
							c33.465-31.808,93.659-26.375,128.884-1.338c23.914,17.007,64.249,17.668,81.433,1.338
							C676.354,376.835,687.971,377.136,694.952,384.48z M36.7,231.908h528.962v-26.263c0-16.289-13.254-29.544-29.544-29.544H66.244
							c-16.289,0-29.544,13.254-29.544,29.544L36.7,231.908z"/>
					</g>
				</svg>
				Pelanggan Potensi<br>Jadi Member
			</a>
		</div>
		<div style="height: {menu_potensial_jadi_member.br};"></div>
		</div>
		<!-- END menu_potensial_jadi_member -->
		
		<!-- BEGIN menu_frekwensi_member -->
		<div class="col-md-2">
		<div class="menuicon">
			<a href="{U_MEMBER_FREKWENSI}">
				<svg class="svg" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 700 700" style="enable-background:new 0 0 700 700;" xml:space="preserve">
					<g id="Frekuensi_Berangkat">
						<g style="display:inline;">
							<g>
								<path d="M329.329,402.791c0-69.843-56.821-126.665-126.666-126.665C132.82,276.126,76,332.947,76,402.791
									c0,20.467,4.883,39.813,13.542,56.939l113.121,233.28l113.141-233.316C324.45,442.575,329.329,423.242,329.329,402.791z
									 M202.663,472.887c-38.65,0-70.096-31.446-70.096-70.096s31.446-70.096,70.096-70.096c38.651,0,70.096,31.446,70.096,70.096
									S241.315,472.887,202.663,472.887z"/>
								<path d="M561.576,3c-35.366,0-64.14,28.772-64.14,64.139c0,10.364,2.474,20.16,6.858,28.834L561.576,214.1l57.291-118.146
									c4.378-8.669,6.849-18.458,6.849-28.814C625.716,31.772,596.94,3,561.576,3z M561.576,102.634
									c-19.573,0-35.495-15.923-35.495-35.495c0-19.571,15.923-35.495,35.495-35.495c19.57,0,35.494,15.924,35.494,35.495
									C597.07,86.711,581.145,102.634,561.576,102.634z"/>
								<path d="M505.712,419.104c-2.602-12.238-5.982-24.231-10.239-36.005c-5.706-15.776-12.55-31.193-17.792-47.149
									c-9.797-29.825,7.105-54.715,10.281-59.239c5.566-7.922,12.073-15.192,18.939-22.001c13.22-13.107,27.8-24.824,43.054-35.615
									c-1.89-2.928-3.72-5.887-5.464-8.901c-21.939,8.601-134.765,48.034-132.013,135.148c0.551,17.463,7.299,34.084,11.457,51.012
									c2.003,8.157,3.741,16.386,4.803,24.723c0.458,3.753,0.74,7.528,1.047,11.301c0.009-0.029,0.006-0.049-0.011-0.065
									c0.01,0.109,0.29,11.955-0.236,17.087c-1.647,16.066-4.019,32.299-10.792,47.037c-6.299,13.703-15.803,25.619-27.559,35.039
									c-26.874,21.53-62.482,30.137-96.08,33.597c-1.6,0.168-3.199,0.312-4.799,0.451l-59.99,123.705
									c29.6-1.839,59.123-5.89,87.927-12.979c33.897-8.344,66.931-20.947,96.531-39.628c29.574-18.661,55.006-43.907,71.937-74.644
									c17.712-32.151,24.808-68.978,23.297-105.469C509.497,444.044,508.314,431.338,505.712,419.104z"/>
							</g>
						</g>
					</g>
				</svg>
				Frekwensi Berangkat
			</a>
		</div>
		<div style="height: {menu_frekwensi_member.br};"></div>
		</div>
		<!-- END menu_frekwensi_member -->
		
		<!-- BEGIN menu_member_hampir_expired -->
		<div class="col-md-2">
		<div class="menuicon">
			<a href="{U_MEMBER_HAMPIR_EXPIRED}">
				<svg class="svg" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 700 700" style="enable-background:new 0 0 700 700;" xml:space="preserve">
					<g id="Member_Hampir_Expired">
						<g style="display:inline;">
							<path d="M688.852,385.503l-0.2-0.471c-0.192-0.455-0.383-0.904-0.579-1.35c-0.274-0.655-0.567-1.31-0.855-1.938l-0.243-0.538
								c-0.176-0.389-0.352-0.777-0.544-1.191c-1.796-3.831-3.719-7.526-5.688-10.938c-0.237-0.419-0.477-0.838-0.725-1.246
								c-1.161-1.976-2.373-3.935-3.649-5.896l-1.372-2.052c-0.607-0.891-1.215-1.77-1.791-2.58l-0.254-0.357
								c-11.72-16.392-26.399-29.946-43.598-40.267c-0.776-0.472-1.563-0.925-2.354-1.378c-0.422-0.25-0.842-0.489-1.23-0.703
								c-2.261-1.269-4.413-2.407-6.554-3.467l-3.248-1.573c-1.181-0.54-2.354-1.07-3.555-1.59c-0.422-0.192-0.835-0.374-1.266-0.547
								c-0.313-0.136-0.627-0.264-0.946-0.392l-0.162-0.065c-0.438-0.182-0.877-0.364-1.315-0.535c-1.019-0.419-2.073-0.829-3.092-1.203
								c-1.098-0.411-2.185-0.789-3.271-1.167v-0.509V178.64c0-36.52-29.72-66.24-66.24-66.24H66.24C29.72,112.4,0,142.12,0,178.64
								v288.72c0,36.52,29.72,66.24,66.24,66.24h375.601l4.499,5.01c16.316,18.172,37.063,32.033,59.993,40.085
								c5.177,1.82,10.534,3.363,15.953,4.595c1.188,0.265,2.388,0.529,3.547,0.754c9.37,1.882,19.035,2.836,28.727,2.836
								c1.675,0,3.185-0.024,4.582-0.074c37.881-1.169,73.309-16.81,99.757-44.04C685.403,515.477,700,479.492,700,441.44
								C700,422.093,696.257,403.291,688.852,385.503z M36.7,178.64c0-16.28,13.25-29.54,29.54-29.54h469.88
								c16.29,0,29.54,13.26,29.54,29.54v26.27H36.7V178.64z M66.24,496.9c-16.29,0-29.54-13.26-29.54-29.54V322.59h359.45
								c10.14,0,18.35-8.22,18.35-18.35s-8.21-18.35-18.35-18.35H36.7v-44.28h528.96v54.624l-7.313-0.182
								c-1.263-0.031-2.524-0.052-3.787-0.052c-61.984,0-117.236,39.326-137.488,97.86c-1.141,3.302-2.167,6.665-3.069,10.05h-0.128
								l-1.274,5.733c-0.011,0.048-0.021,0.095-0.032,0.142l-2.024,9.125h0.305c-1.154,7.424-1.737,14.969-1.737,22.53
								c0,5.47,0.308,10.958,0.917,16.399h-0.288l1.544,8.797c0,0.001,0,0.001,0,0.002l1.078,6.201h0.149
								c0.723,3.279,1.556,6.522,2.49,9.691c1.412,4.836,3.126,9.652,5.079,14.369H66.24z M554.56,557.65
								c-9.744,0-19.429-1.21-28.8-3.601c-4.743-1.2-9.507-2.75-14.171-4.61c-10.14-4.028-19.579-9.46-28.184-16.152
								c-1.697-1.468-3.563-2.98-5.489-4.534c-0.283-0.249-0.576-0.484-0.857-0.736l-2.138-1.918h-0.277
								c-4.306-3.53-8.564-7.257-11.518-11.16c-2.561-3.378-4.937-6.902-7.135-10.54h0.145l-5.479-10.874
								c-2.512-4.985-4.667-10.184-6.412-15.464c-1.533-4.61-2.786-9.374-3.726-14.162c-1.44-7.387-2.171-14.943-2.171-22.46
								c0-9.364,1.121-18.685,3.333-27.712l0.128-0.517c1.191-4.814,2.711-9.575,4.521-14.165
								c17.574-44.836,60.056-73.807,108.228-73.807c1.137,0,2.282,0.019,3.41,0.048l1.127,0.029c10.852,0.967,21.432,2.889,31.659,5.666
								l1.679,0.574c2.816,0.963,5.692,2.082,8.565,3.336c0.6,0.259,1.208,0.526,1.85,0.828l0.296,0.136
								c0.243,0.112,0.489,0.224,0.73,0.342l0.174,0.082c0.611,0.279,1.224,0.576,1.826,0.873c0.078,0.041,0.16,0.081,0.247,0.123
								l0.217,0.108c0.164,0.079,0.328,0.16,0.492,0.242l2.63,1.373c0.317,0.169,0.634,0.34,0.944,0.514l0.125,0.068
								c0.233,0.128,0.467,0.254,0.692,0.388l0.303,0.171c0.379,0.201,0.751,0.412,1.077,0.604l1.296,0.77
								c0.276,0.164,0.554,0.332,0.828,0.498l0.476,0.288c0.337,0.2,0.674,0.413,1.005,0.622l0.151,0.095
								c1.543,0.967,3.109,2.01,4.797,3.196c16.838,11.795,30.284,27.851,38.915,46.487c0.308,0.65,0.598,1.3,0.878,1.958l0.051,0.115
								c0.259,0.581,0.509,1.161,0.751,1.75l0.045,0.108c0.266,0.621,0.523,1.252,0.787,1.932c0.265,0.669,0.529,1.339,0.783,2.017
								l0.083,0.212c0.049,0.121,0.094,0.245,0.139,0.367l0.016,0.044c0.048,0.14,0.099,0.278,0.155,0.416
								c0.437,1.201,0.876,2.482,1.355,3.96c0.231,0.695,0.446,1.382,0.67,2.144c0.223,0.732,0.446,1.474,0.644,2.185
								c0.205,0.743,0.41,1.487,0.596,2.231l0.033,0.129c0.129,0.477,0.247,0.971,0.357,1.448l0.063,0.268l0.033,2.281l0.656,0.66
								l0.005,0.02c0.138,0.619,0.261,1.252,0.383,1.88l0.045,0.233c0.111,0.568,0.217,1.136,0.321,1.704l0.158,0.927
								c0.06,0.316,0.113,0.628,0.162,0.943l0.172,1.113l0.002,0.451l0.147,0.525c0.031,0.21,0.062,0.422,0.086,0.633l0.162,1.263
								c0.084,0.573,0.16,1.171,0.228,1.83c0.479,4.271,0.723,8.643,0.723,12.993C670.76,505.519,618.633,557.65,554.56,557.65z"/>
							<path d="M235.46,404.55H101.05c-10.14,0-18.35,8.22-18.35,18.35c0,10.14,8.21,18.35,18.35,18.35h134.41
								c10.13,0,18.35-8.21,18.35-18.35C253.81,412.77,245.59,404.55,235.46,404.55z"/>
							<path d="M346.15,404.55h-42.21c-10.13,0-18.35,8.22-18.35,18.35c0,10.14,8.22,18.35,18.35,18.35h42.21
								c10.13,0,18.35-8.21,18.35-18.35C364.5,412.77,356.28,404.55,346.15,404.55z"/>
							<path d="M620.377,383.12c-4.027-4.027-10.554-4.027-14.581,0l-43.743,43.743l-43.743-43.743c-4.027-4.027-10.554-4.027-14.581,0
								c-4.026,4.026-4.026,10.555,0,14.581l43.743,43.742l-43.743,43.743c-4.026,4.027-4.026,10.555,0,14.581
								c4.027,4.027,10.554,4.027,14.581,0l43.743-43.743l43.743,43.743c4.026,4.027,10.554,4.027,14.581,0s4.027-10.554,0-14.581
								l-43.742-43.742l43.742-43.742C624.404,393.674,624.404,387.146,620.377,383.12z"/>
						</g>
					</g>
				</svg>
				Member Hampir<br>Expired
			</a>
		</div>
		<div style="height: {menu_member_hampir_expired.br};"></div>
		</div>
		<!-- END menu_member_hampir_expired -->
	</div>
</div>