<br><br>
<table class="border" align='center' width="600" cellspacing="1" cellpadding="4" border="0">
<tr><th class="headerline" valign="middle"><span class="whiteTitle">{MESSAGE_TITLE}</span></th></tr>
<tr>
<td>
	<table width="100%" cellspacing="0" cellpadding="1" border="0">
		<tr>
			<td><img src='{TPL}images/{MESSAGE_PICTURE}'/></td>
			<td align="center" valign='center'>{MESSAGE_CONTENT}</td>
		</tr>
		<tr>
			<td colspan='2' align='right'>
				<br/>
				{U_BACK1}&nbsp;
				<br />
				{U_BACK2}&nbsp;
			</td>
		</tr>
	</table>
</td></tr></table>