<table width="100%" cellspacing="1" cellpadding="4" border="0">
<tr>
 <td align='left' class="indexer">{BCRUMP}</td>
</tr>
<tr>
 <td class="whiter" valign="middle" align="center">
    <table width='80%'>
    <tr>
    <td align="center">  
			<a href="{U_CABANG}"><img src="{TPL}images/icon_master.gif" /></a>  
			<br />
			<a href="{U_CABANG}"><span class="genmed">Cabang</span></a>    
	  </td>	
		<td align='center'>
			<a href="{U_JURUSAN}"><img src="{TPL}images/icon_jur.png" /></a>  
			<br />
			<a href="{U_JURUSAN}"><span class="genmed">Jurusan</span></a>
    </td>
    <td align='center'>
			<a href="{U_JADWAL}"><img src="{TPL}images/icon_pool.png" /></a>  
			<br />
			<a href="{U_JADWAL}"><span class="genmed">Jadwal</span></a>
    </td>    
    </tr>
		<tr><td height=1 bgcolor='D0D0D0' colspan=3></td></tr>
    <tr>
			<td align='center'>
				<a href="{U_SOPIR}"><img src="{TPL}images/icon_master_sopir.png" /></a>  
				<br />
				<a href="{U_SOPIR}"><span class="genmed">Sopir</span></a>
	    </td>
			<td align='center'>
				<a href="{U_MOBIL}"><img src="{TPL}images/icon_mobil.png" /></a>  
				<br />
				<a href="{U_MOBIL}"><span class="genmed">Mobil</span></a>
	    </td>
		</tr>
		<tr><td height=1 bgcolor='D0D0D0' colspan=3></td></tr>
		<tr>
			<td align="center">  
				<a href="{U_USER}"><img src="{TPL}images/icon_user.png" /></a>  
				<br />
			 <a href="{U_USER}"><span class="genmed">User</span></a>    
	    </td>	
			<td align="center">  
				<a href="{U_USER_LOGIN}"><img src="{TPL}images/icon_user.png" /></a>  
				<br />
			 <a href="{U_USER_LOGIN}"><span class="genmed">List User Login</span></a>    
	    </td>	
    </tr>
    </table>
 </td>
</tr>
</table>