<html>
<head>
	<link rel="stylesheet" href="./templates/trav.css" type="text/css" />
</head>
<script type="text/javascript">
	function printWindow() {
		bV = parseInt(navigator.appVersion);
		if (bV >= 4) window.print();
	}
</script>	 

<body class='tiket'>
	
<!-- BEGIN ROW -->
<div style="font-size:14px;width:400px;height: 470px;">
	<span style="font-size:22px;">{ROW.NAMA_PERUSAHAAN}</span><br>
	BIAYA TAMBAHAN<br>
	<span style="text-transform: uppercase;font-weight: bold;font-size: 18px;">{ROW.JENIS_BIAYA}</span><br>
	-slip untuk SOPIR-<br>
	#Mnfs:{ROW.NO_SPJ}<br>
	Jdwl :{ROW.TGL_BERANGKAT} {ROW.JAM_BERANGKAT}<br>
	#Jdwl:{ROW.KODE_JADWAL}<br>
	#Body:{ROW.KODE_UNIT}<br>
	Sopir:{ROW.NAMA_SOPIR}<br>
	N.I.K:{ROW.NIK}<br>
	Juml.:{ROW.JUMLAH}<br>
	Ket. :{ROW.KETERANGAN}<br>
	CSO  :{ROW.CSO}<br>
	Cetak:{ROW.WAKTU_CETAK}<br>
	BA By:{ROW.PEMBUAT_BA}<br>
	TTD CSO<br>
	<br>
	<br>
	<br>
	{ROW.CSO}<br>
	<br>
	----------potong disini--------<br><br>
	<span style="font-size:22px;">{ROW.NAMA_PERUSAHAAN}</span><br>
	BIAYA TAMBAHAN<br>
	<span style="text-transform: uppercase;font-weight: bold;font-size: 18px;">{ROW.JENIS_BIAYA}</span><br>
	-slip untuk CSO-<br>
	#Mnfs:{ROW.NO_SPJ}<br>
	Jdwl :{ROW.TGL_BERANGKAT} {ROW.JAM_BERANGKAT}<br>
	#Jdwl:{ROW.KODE_JADWAL}<br>
	#Body:{ROW.KODE_UNIT}<br>
	Sopir:{ROW.NAMA_SOPIR}<br>
	N.I.K:{ROW.NIK}<br>
	Juml.:{ROW.JUMLAH}<br>
	Ket. :{ROW.KETERANGAN}<br>
	CSO  :{ROW.CSO}<br>
	Cetak:{ROW.WAKTU_CETAK}<br>
	BA By:{ROW.PEMBUAT_BA}<br>
	TTD SOPIR<br>
	<br>
	<br>
	<br>
	{ROW.NAMA_SOPIR}<br>
</div>
<!-- END ROW -->
</body>

<script language="javascript">
	printWindow();
	window.close();
</script>
</html>
