<script type="text/javascript">
	filePath = '{TPL}js/dropdowncalendar/images/';
</script>
<script src="{TPL}js/dropdowncalendar/calendar.js" type="text/javascript"></script>
<script type="text/javascript" src="{ROOT}/ajax/dojo.js"></script>
<script type="text/javascript">
  // komponen khusus dojo 
  dojo.require("dojo.widget.Dialog");
	
	function Start(page) {
		OpenWin = this.open(page, "CtrlWindow", "toolbar=no,menubar=yes,location=yes,scrollbars=yes,resizable=yes");
	}
	
	
	function setGrafik(bulan){
		tahun	=document.getElementById('tahun').value;
		
		window.location='{URL}'+'&bulan='+bulan+'&tahun='+tahun;
	}
	
</script>

<table width="100%" cellspacing="0" cellpadding="0">
<tr>
 <td valign="middle" align="left">		
	<form action="{ACTION_FORM}" method="post" name='myform'>
		<table width='100%' cellspacing=0 >
		<tr class="banner" height=40>
			<td align='center' valign='middle' class="bannerjudul">&nbsp;Grafik Rekap Uang Harian</td>
		</tr>
		<tr><td colspan=3><h2>Grafik Pendapatan</h2></td></tr>
		<tr>
			<td align='center' valign='bottom'>
				{LIST_BULAN}
				&nbsp;Tahun:&nbsp;<input type="text" id="tahun" name="tahun" value="{TAHUN}" size=10 maxlength=4 />&nbsp;												
			</td>
		</tr>
    <tr>
      <td align='middle' colspan=3>
				<script type="text/javascript" src="chart/js/swfobject.js"></script>
				<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" 
				width="1000" height="500" id="ie_chart" align="middle">
				<param name="allowScriptAccess" value="sameDomain" />
				<param name="movie" value="chart/open-flash-chart.swf?width=1000&height=500&data={DATA_GRAFIK}" />
				<param name="quality" value="high" />
				<param name="bgcolor" value="#FFFFFF" />
				<embed src="chart/open-flash-chart.swf?data={DATA_GRAFIK_BULANAN_OMZET}" quality="high" bgcolor="#FFFFFF" width="1000" height="500" name="chart" align="middle" allowScriptAccess="sameDomain" 
				type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" id="chart"/>
				</object>
			</td>
    </tr>
		<tr>
			<td align='center' valign='bottom'>
				<br>
				{LIST_BULAN}
				&nbsp;Tahun:&nbsp;<input type="text" id="tahun" name="tahun" value="{TAHUN}" size=10 maxlength=4 />&nbsp;												
			</td>
		</tr>
    <tr>
      <td align='middle' colspan=3>
				<script type="text/javascript" src="chart/js/swfobject.js"></script>
				<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" 
				width="1000" height="500" id="ie_chart" align="middle">
				<param name="allowScriptAccess" value="sameDomain" />
				<param name="movie" value="chart/open-flash-chart.swf?width=1000&height=500&data={DATA_GRAFIK1}" />
				<param name="quality" value="high" />
				<param name="bgcolor" value="#FFFFFF" />
				<embed src="chart/open-flash-chart.swf?data={DATA_GRAFIK_TAHUNAN_OMZET}" quality="high" bgcolor="#FFFFFF" width="1000" height="500" name="chart" align="middle" allowScriptAccess="sameDomain" 
				type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" id="chart"/>
				</object>
			</td>
    </tr>
		<tr><td colspan=3><h2>Grafik Profit & Biaya</h2></td></tr>
		<tr>
			<td align='center' valign='bottom'>
				<br>
				{LIST_BULAN}
				&nbsp;Tahun:&nbsp;<input type="text" id="tahun" name="tahun" value="{TAHUN}" size=10 maxlength=4 />&nbsp;												
			</td>
		</tr>
    <tr>
      <td align='middle' colspan=3>
				<script type="text/javascript" src="chart/js/swfobject.js"></script>
				<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" 
				width="1000" height="500" id="ie_chart" align="middle">
				<param name="allowScriptAccess" value="sameDomain" />
				<param name="movie" value="chart/open-flash-chart.swf?width=1000&height=500&data={DATA_GRAFIK}" />
				<param name="quality" value="high" />
				<param name="bgcolor" value="#FFFFFF" />
				<embed src="chart/open-flash-chart.swf?data={DATA_GRAFIK_BULANAN_PROFIT_BIAYA}" quality="high" bgcolor="#FFFFFF" width="1000" height="500" name="chart" align="middle" allowScriptAccess="sameDomain" 
				type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" id="chart"/>
				</object>
			</td>
    </tr>
		<tr>
			<td align='center' valign='bottom'>
				<br>
				{LIST_BULAN}
				&nbsp;Tahun:&nbsp;<input type="text" id="tahun" name="tahun" value="{TAHUN}" size=10 maxlength=4 />&nbsp;												
			</td>
		</tr>
    <tr>
      <td align='middle' colspan=3>
				<script type="text/javascript" src="chart/js/swfobject.js"></script>
				<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" 
				width="1000" height="500" id="ie_chart" align="middle">
				<param name="allowScriptAccess" value="sameDomain" />
				<param name="movie" value="chart/open-flash-chart.swf?width=1000&height=500&data={DATA_GRAFIK1}" />
				<param name="quality" value="high" />
				<param name="bgcolor" value="#FFFFFF" />
				<embed src="chart/open-flash-chart.swf?data={DATA_GRAFIK_TAHUNAN_PROFIT_BIAYA}" quality="high" bgcolor="#FFFFFF" width="1000" height="500" name="chart" align="middle" allowScriptAccess="sameDomain" 
				type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" id="chart"/>
				</object>
			</td>
    </tr>
		<tr><td colspan=3><h2>Grafik Load Penumpang & Paket</h2></td></tr>
		<tr>
			<td align='center' valign='bottom'>
				<br>
				{LIST_BULAN}
				&nbsp;Tahun:&nbsp;<input type="text" id="tahun" name="tahun" value="{TAHUN}" size=10 maxlength=4 />&nbsp;												
			</td>
		</tr>
    <tr>
      <td align='middle' colspan=3>
				<script type="text/javascript" src="chart/js/swfobject.js"></script>
				<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" 
				width="1000" height="500" id="ie_chart" align="middle">
				<param name="allowScriptAccess" value="sameDomain" />
				<param name="movie" value="chart/open-flash-chart.swf?width=1000&height=500&data={DATA_GRAFIK}" />
				<param name="quality" value="high" />
				<param name="bgcolor" value="#FFFFFF" />
				<embed src="chart/open-flash-chart.swf?data={DATA_GRAFIK_BULANAN_PRODUKTIFITAS}" quality="high" bgcolor="#FFFFFF" width="1000" height="500" name="chart" align="middle" allowScriptAccess="sameDomain" 
				type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" id="chart"/>
				</object>
			</td>
    </tr>
		<tr>
			<td align='center' valign='bottom'>
				<br>
				{LIST_BULAN}
				&nbsp;Tahun:&nbsp;<input type="text" id="tahun" name="tahun" value="{TAHUN}" size=10 maxlength=4 />&nbsp;												
			</td>
		</tr>
    <tr>
      <td align='middle' colspan=3>
				<script type="text/javascript" src="chart/js/swfobject.js"></script>
				<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" 
				width="1000" height="500" id="ie_chart" align="middle">
				<param name="allowScriptAccess" value="sameDomain" />
				<param name="movie" value="chart/open-flash-chart.swf?width=1000&height=500&data={DATA_GRAFIK1}" />
				<param name="quality" value="high" />
				<param name="bgcolor" value="#FFFFFF" />
				<embed src="chart/open-flash-chart.swf?data={DATA_GRAFIK_TAHUNAN_PRODUKTIFITAS}" quality="high" bgcolor="#FFFFFF" width="1000" height="500" name="chart" align="middle" allowScriptAccess="sameDomain" 
				type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" id="chart"/>
				</object>
			</td>
    </tr>
    </table>
	</form>
 </td>
</tr>
</table>