<input type="hidden" id="NoSPJ" value="{NO_SPJ}">
<table class="table" bgcolor='white' width='700px;'>
	<tr>
		<td>Biaya BBM</td>
		<td><input type="text" id="bbm"></td>
	</tr>
	<tr>
		<td>Biaya Tol</td>
		<td><input type="text" id="tol"></td>
	</tr> 
	<tr>
		<td>Biaya Sopir</td>
		<td><input type="text" id="sopir"></td>
	</tr> 
	<tr>
		<td>Biaya Parkir</td>
		<td><input type="text" id="parkir"></td>
	</tr> 
	<tr>
        <td colspan="2" align="center">
			<br>
			<input class="btn mybutton paper" type="button" id="dialog_SPJ_btn_Cancel" value="&nbsp;Cancel&nbsp;" onClick="realisasi_dialog.hide();"> 
			<input class="btn mybutton paper" type="button" onclick="simpanRealisasi();" id="btnok_dialogcetakulangvoucherbbm" value="&nbsp;&nbsp;&nbsp;OK&nbsp;&nbsp;&nbsp;" {CETAK_DISABLED}>
	    </td>
    </tr>
</table>