<br>
<h3>Detail Rute</h3>
<table width='600'>
  <tr>
    <th width="70">Jam</th>
    <th width="200">Outlet Transit</th>
    <th width="330">#Jadwal</th>
  </tr>
  <!-- BEGIN ROW -->
  <tr class="{ROW.odd}">
    <td align="center">{ROW.jam}</td>
    <td align="center">{ROW.outlet}</td>
    <td align="center">{ROW.jadwal}</td>
  </tr>
  <!-- END ROW -->
</table>